FORMAT: 1A
HOST: https://sandbox-products.ddp.akoya.com

# Akoya APIs v2.4.0
Akoya product APIs for data access. Default servers are set for the Akoya sandbox environment.

Akoya APIs include the following updates:

- v2.4.0
  - Added Tax product
- v2.3.0
  - Removed erroneous `accountId` query param from Taxlots endpoint
  - Added TaxLots endpoint
- v2.2.2
  - Added mode query parameter to Account Information, Balances, Investments, and Transactions to support standard mode.
  - Edited callouts for Account Holder endpoint
- v2.2.1
  - Fixed typo in `accountIds` query parameter for `/accounts-info`, `/balances`, `/accounts`
  - Added security method for `Account holder information` to bear token. Missing method defaulted to basic auth.
  - Added examples and descriptions to some schemas
  - Added HTTP status `429` FDX error `1207`.
- v2.2 Additions
  - Added optional `x-akoya-interaction-type` header to all endpoints to specify if a request is part of a batch process
  - Update of tags to organize endpoints by Akoya product
  - `206` response added to `/accounts-info`, `/balances`, `/accounts`
- v2.1 New Statements product and Customers product updated with additional endpoint, `Account holder information`.
- v2.0 Launch of Akoya products: Account Info, Balances, Investments, Transactions, Payments, Customers.

## Authentication
This API uses Basic Authentication for its authentication.

# Group Account information

Account information

## Accounts Info By Version And ProviderId [/accounts-info/{version}/{providerId}{?mode}]

+ Parameters
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo

### getaccountsinfo [GET]
Get basic account information including accountId, masked account number, type, description, etc.

To view the response schema, select the `200` response below. Then pick an option for annuity, deposit, insurance, investment, loan, and line of credit account types. 

For an example payload response, see the `200` example response below the `Try it` feature. The example is from a deposit account but all account types are supported by this endpoint.

> 🛑
> 
> The *id_token* should be used as the bearer token with this call.

Use the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:

`https://sandbox-products.ddp.akoya.com/accounts-info/v2/mikomo?mode=standard`

`mode` is available in both sandbox and production.

`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter.
+ Parameters
    + mode (enum[string], optional)

        BETA. Default is raw. Use standard for FDX-aligned, standardized data values.

        + Sample: raw
        + Members
            + `raw` 
            + `standard` 


+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/json)

        OK

    + Attributes (Akoya Account Info product)


    + Body

            {"accounts":[{"investmentAccount":{"accountId":"839502593","accountType":"College Savings","balanceType":"ASSET","currency":{"currencyCode":"USD"},"nickname":"529 for Kid"}},{"investmentAccount":{"accountId":"5426873","accountNumberDisplay":"...7054","accountType":"BROKERAGE","allowedCheckWriting":false,"currency":{"currencyCode":"USD"},"lastActivityDate":"2021-07-06T00:00:00Z","margin":false,"nickname":"Self-Directed","status":"OPEN","transactionsIncluded":false}},{"depositAccount":{"accountId":"g833202fb0866d0ad83472c429","accountNumberDisplay":"xxxxxxxx0071","accountType":"CHECKING","balanceType":"ASSET","currency":{"currencyCode":"USD"},"description":"Checking Plus","fiAttributes":[{"name":"accountOpenedDate","value":"2020-04-23"},{"name":"interestPaidLastYear","value":"3.20"}],"interestRate":0.0125,"interestRateAsOf":"2022-04-24T14:15:22Z","interestRateType":"FIXED","lastActivityDate":"2022-04-24T14:15:22Z","lineOfBusiness":"Personal","nickname":"Nickname Checking Plus 0071","productName":"Checking Plus","status":"OPEN","transferIn":true,"transferOut":true}},{"depositAccount":{"accountId":"5dbda8de96eeff05f23934523a1fc258","accountNumberDisplay":"xxxx0134","accountType":"CHECKING","annualPercentageYield":0,"currency":{"currencyCode":"USD"},"description":"Virtual Wallet Student Reserve","interestRateAsOf":"2022-04-24T14:15:22Z","interestRateType":"FIXED","lastActivityDate":"2022-04-01T10:05:00Z","lineOfBusiness":"LBRB","productName":"Virtual Wallet Student Reserve","transactionsIncluded":false}},{"depositAccount":{"accountId":"11719ae5-2399-1278-e43c-43f24abb3058","accountType":"CD","annualPercentageYield":0.75,"balanceType":"ASSET","currency":{"currencyCode":"USD","originalCurrencyCode":"USD"},"description":"Certificate of Deposit","fiAttributes":[{"name":"eStatements","value":"False"},{"name":"interestPaidLastYear","value":"50.72"},{"name":"isTransactionsSupported","value":"False"},{"name":"issueDate","value":"2019-03-21T00:00:00.000Z"},{"name":"interestPayoutFrequency","value":"Semi-Annually (And At Maturity)"}],"interestRate":0.75,"lineOfBusiness":"CONSUMER","maturityDate":"2024-03-21T00:00:00Z","nickname":"Certificate of Deposit - 3691","parentAccountId":"11719ae5-2399-1278-e43c-43f24abb3058","status":"OPEN","term":60,"transactionsIncluded":false,"transferIn":false,"transferOut":false}},{"depositAccount":{"accountId":"33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d","accountType":"SAVINGS","balanceType":"ASSET","currency":{"currencyCode":"USD","originalCurrencyCode":"USD"},"description":"Savings","fiAttributes":[{"name":"eStatements","value":"True"}],"interestRate":0.01,"lineOfBusiness":"CONSUMER","nickname":"Savings - 8537","parentAccountId":"33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d","status":"OPEN","transactionsIncluded":false}}]}


+ Response 206 (application/json)

        Partial Content. Success searching for accounts. Some errors are being returned.

    + Attributes (Akoya Account Info product)


    + Body

            {"value":{"accounts":[{"investmentAccount":{"accountId":"839502593","accountType":"College Savings","balanceType":"ASSET","currency":{"currencyCode":"USD"},"nickname":"529"}},{"investmentAccount":{"error":{"code":704,"message":"Account type not supported"}}}]}}


+ Response 400 (application/json)

        Invalid Input

    + Attributes (Error)


    + Body

            {"code":401,"message":"Invalid input","debugMessage":"Invalid Input."}


+ Response 401 (application/json)

        Customer not authorized.

    + Attributes (Error)


    + Body

            {"code":602,"message":"Customer not authorized","debugMessage":"Customer not authorized."}


+ Response 404 (application/json)

        701 - Tax Lots not found. The `holdingId` may be wrong.

    + Attributes (Error)


    + Body

            {"code":701,"message":"Account not found","debugMessage":"Account not found."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 406 (application/json)

        Content Type not Supported

    + Attributes (Error)


    + Body

            {"code":1203,"message":"Content Type not Supported","debugMessage":"Data Provider's custom developer-level error details for troubleshooting."}


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}


+ Response 429 (application/json)

        1207 - Too many requests

    + Attributes (Error)


    + Body

            {"code":1207,"message":"Too many requests","debugMessage":"Too many requests."}


+ Response 500 (application/json)

        Internal Server Error.

    + Attributes (Error)


    + Body

            {"code":500,"message":"Internal server error","debugMessage":"Internal server error."}


+ Response 501 (application/json)

        FdxVersion in header is not implemented.

    + Attributes (Error)


    + Body

            {"code":1106,"message":"FdxVersion not supported or not implemented","debugMessage":"FdxVersion not supported or not implemented."}


+ Response 503 (application/json)

        System is down for maintenance.

    + Attributes (Error)


    + Body

            {"code":503,"message":"Scheduled Maintenance","debugMessage":"Scheduled maintenance."}




# Group Balances

Balances

## Balances By Version And ProviderId [/balances/{version}/{providerId}{?mode}]

+ Parameters
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo

### getbalances [GET]
Account information that includes balances and rates of bank accounts, credit cards, loans, investments, and more.

To view the response schema, select the `200` response below. Then pick an option for annuity, deposit, insurance, investment, loan, and line of credit account types. 

For an example payload response, see the `200` example response below the `Try it` feature. The example is from a deposit account but all account types are supported by this endpoint.

> 🛑
> 
> The *id_token* should be used as the bearer token with this call.

Use the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:

`https://sandbox-products.ddp.akoya.com/balances/v2/mikomo?mode=standard`

`mode` is available in both sandbox and production.

`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter.
+ Parameters
    + mode (enum[string], optional)

        BETA. Default is raw. Use standard for FDX-aligned, standardized data values.

        + Sample: raw
        + Members
            + `raw` 
            + `standard` 


+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/json)

        OK

    + Attributes (balances)


    + Body

            {"accounts":[{"investmentAccount":{"accountId":"839502593","accountType":"College Savings","availableCashBalance":0,"balanceAsOf":"2022-03-16T04:00:00Z","balanceType":"ASSET","currency":{"currencyCode":"USD"},"currentValue":52672.49,"marginBalance":0,"nickname":"529 for Kid"}},{"investmentAccount":{"accountId":"5426873","accountNumberDisplay":"...7054","accountType":"BROKERAGE","allowedCheckWriting":false,"availableCashBalance":0,"balanceList":[{"balanceDate":"2021-07-06","balanceDescription":"Margin Call","balanceName":"MARGINCALL","balanceType":"AMOUNT","balanceValue":0,"currency":{"currencyCode":"USD"}},{"balanceDate":"2021-07-06","balanceDescription":"Fed Call","balanceName":"FEDCALL","balanceType":"AMOUNT","balanceValue":0,"currency":{"currencyCode":"USD"}},{"balanceDate":"2021-07-06","balanceDescription":"Intra Day","balanceName":"INTRADAY","balanceType":"AMOUNT","balanceValue":0,"currency":{"currencyCode":"USD"}},{"balanceDate":"2021-07-05","balanceDescription":"Prior Day","balanceName":"PRIORDAY","balanceType":"AMOUNT","balanceValue":0,"currency":{"currencyCode":"USD"}}],"currency":{"currencyCode":"USD"},"lastActivityDate":"2021-07-06T00:00:00Z","margin":false,"marginBalance":0,"nickname":"Self-Directed","shortBalance":0,"status":"OPEN","transactionsIncluded":false}},{"depositAccount":{"accountId":"g833202fb0866d0ad83472c429","accountNumberDisplay":"xxxxxxxx0071","accountType":"CHECKING","availableBalance":106717.06,"balanceAsOf":"2022-04-24T14:15:22Z","balanceType":"ASSET","currency":{"currencyCode":"USD"},"currentBalance":106717.06,"description":"Checking Plus","fiAttributes":[{"name":"accountOpenedDate","value":"2020-04-23"},{"name":"interestPaidLastYear","value":"3.20"}],"interestRate":0.0125,"interestRateAsOf":"2022-04-24T14:15:22Z","interestRateType":"FIXED","interestYtd":20.33,"lastActivityDate":"2022-04-24T14:15:22Z","lineOfBusiness":"Personal","nickname":"Nickname Checking Plus 0071","productName":"Checking Plus","status":"OPEN","transferIn":true,"transferOut":true}},{"depositAccount":{"accountId":"5dbda8de96eeff05f23934523a1fc258","accountNumberDisplay":"xxxx0134","accountType":"CHECKING","annualPercentageYield":0,"availableBalance":0,"balanceAsOf":"2022-04-24T14:15:22Z","currency":{"currencyCode":"USD"},"currentBalance":0,"description":"Virtual Wallet Student Reserve","interestRateAsOf":"2022-04-24T14:15:22Z","interestRateType":"FIXED","lastActivityDate":"2022-04-01T10:05:00Z","lineOfBusiness":"LBRB","openingDayBalance":0,"productName":"Virtual Wallet Student Reserve","transactionsIncluded":false}},{"depositAccount":{"accountId":"11719ae5-2399-1278-e43c-43f24abb3058","accountType":"CD","annualPercentageYield":0.75,"availableBalance":6808.29,"balanceAsOf":"2021-04-07T10:20:43.276Z","balanceType":"ASSET","currency":{"currencyCode":"USD","originalCurrencyCode":"USD"},"currentBalance":6808.29,"description":"Certificate of Deposit","fiAttributes":[{"name":"eStatements","value":"False"},{"name":"interestPaidLastYear","value":"50.72"},{"name":"isTransactionsSupported","value":"False"},{"name":"issueDate","value":"2019-03-21T00:00:00.000Z"},{"name":"interestPayoutFrequency","value":"Semi-Annually (And At Maturity)"}],"interestRate":0.75,"interestYtd":25.24,"lineOfBusiness":"CONSUMER","maturityDate":"2024-03-21T00:00:00Z","nickname":"Certificate of Deposit - 3691","openingDayBalance":2000,"parentAccountId":"11719ae5-2399-1278-e43c-43f24abb3058","status":"OPEN","term":60,"transactionsIncluded":false,"transferIn":false,"transferOut":false}},{"depositAccount":{"accountId":"33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d","accountType":"SAVINGS","availableBalance":20608.9,"balanceAsOf":"2021-04-07T10:08:11.833Z","balanceType":"ASSET","currency":{"currencyCode":"USD","originalCurrencyCode":"USD"},"currentBalance":20608.9,"description":"Savings","fiAttributes":[{"name":"eStatements","value":"True"}],"interestRate":0.01,"interestYtd":0.29,"lineOfBusiness":"CONSUMER","nickname":"Savings - 8537","openingDayBalance":20608.9,"parentAccountId":"33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d","status":"OPEN","transactionsIncluded":false}}]}


+ Response 206 (application/json)

        Partial Content. Success searching for accounts. Some errors are being returned.

    + Attributes (balances)


    + Body

            {"accounts":[{"investmentAccount":{"accountId":"839502593","accountType":"College Savings","availableCashBalance":0,"balanceAsOf":"2022-03-16T04:00:00Z","balanceType":"ASSET","currency":{"currencyCode":"USD"},"currentValue":52672.49,"marginBalance":0,"nickname":"529 for Kid"}},{"depositAccount":{"error":{"code":704,"message":"Account type not supported"}}}]}


+ Response 400 (application/json)

        Invalid Input

    + Attributes (Error)


    + Body

            {"code":401,"message":"Invalid input","debugMessage":"Invalid Input."}


+ Response 401 (application/json)

        Customer not authorized.

    + Attributes (Error)


    + Body

            {"code":602,"message":"Customer not authorized","debugMessage":"Customer not authorized."}


+ Response 404 (application/json)

        701 - Tax Lots not found. The `holdingId` may be wrong.

    + Attributes (Error)


    + Body

            {"code":701,"message":"Account not found","debugMessage":"Account not found."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 406 (application/json)

        Content Type not Supported

    + Attributes (Error)


    + Body

            {"code":1203,"message":"Content Type not Supported","debugMessage":"Data Provider's custom developer-level error details for troubleshooting."}


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}


+ Response 429 (application/json)

        1207 - Too many requests

    + Attributes (Error)


    + Body

            {"code":1207,"message":"Too many requests","debugMessage":"Too many requests."}


+ Response 500 (application/json)

        Internal Server Error.

    + Attributes (Error)


    + Body

            {"code":500,"message":"Internal server error","debugMessage":"Internal server error."}


+ Response 501 (application/json)

        FdxVersion in header is not implemented.

    + Attributes (Error)


    + Body

            {"code":1106,"message":"FdxVersion not supported or not implemented","debugMessage":"FdxVersion not supported or not implemented."}


+ Response 503 (application/json)

        System is down for maintenance.

    + Attributes (Error)


    + Body

            {"code":503,"message":"Scheduled Maintenance","debugMessage":"Scheduled maintenance."}




# Group Customers

Customers

## Customers Current By Version [/customers/{version}/{providerId}/current]

+ Parameters
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo

### customerinfo [GET]
This product supports use cases such as payment enablement, account opening, and identity verification. Responses return information about the authorized end-user, the customer associated with the `id_token` used in the call. This information may include, but is not limited to, the customer identifier, name, email, address, and phone number.

<br>

To see the response schema, select the `200` response below. For an example payload response, see the `200` example response below the *Try it* feature. 

This product requires consumer consent to share all account holder information.

> 🛑 The `id_token` should be used as the bearer token with this call.
>

+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/json)

        OK

    + Attributes (customer)



+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}



## Contacts AccountId By Version [/contacts/{version}/{providerId}/{accountId}]

+ Parameters
    + accountId (string, optional) -

        Account Identifier

        + Default: :accountId
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo

### getaccountholder [GET]
This product supports use cases such as payment enablement, account opening, identity verification,or lending & credit enhancement. Responses return information about the authorized consumer, the customer associated with the `id_token` used in the call, and the relationship specific to the provided `accountId`.

> 📌 Please note!
>
> This endpoint provides additional information which may not be required for your use case, making it inefficient compared to the [/customer info](https://docs.akoya.com/reference/customer-info) endpoint. Please refer to to the [Customers guide](https://docs.akoya.com/reference/customers) for more information about this endpoint.

Get account holder information. Based on FDX 5.2.1.

This product requires consumer consent to share all account holder information.

> 🛑 The `id_token` should be used as the bearer token with this call.
>

+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/json)

        OK

    + Attributes (Account Contact entity)


    + Body

            {"holders":[{"customerId":"string","name":{"first":"string","middle":"string","last":"string","prefix":"string","suffix":"string","company":"string"},"businessCustomer":{"name":"string","registeredAgents":[{"first":"string","middle":"string","last":"string","prefix":"string","suffix":"string","company":"string"}],"registeredId":"string","industryCode":{"type":"string","code":"string"},"domicile":{"region":"string","country":"string"}},"addresses":[{"line1":"string","line2":"string","line3":"string","city":"string","state":"string","region":"string","postalCode":"string","country":"string","type":"string"}],"telephones":[{"number":"string","type":"HOME","country":"string"}],"email":["string"],"accounts":[{"accountId":"string","relationship":"AUTHORIZED_USER"}],"relationship":"AUTHORIZED_USER"}],"emails":["string"],"addresses":[{"line1":"string","line2":"string","line3":"string","city":"string","state":"string","region":"string","postalCode":"string","country":"string","type":"string"}],"telephones":[{"type":"HOME","country":"string","number":"8675309"}]}


+ Response 404 (application/json)

        Not Found

    + Attributes (Error)


    + Body

            {"code":701,"message":"Account not found."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}




# Group Investments

Investments

## Accounts By Version And ProviderId [/accounts/{version}/{providerId}{?mode}]

+ Parameters
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo

### getaccounts [GET]
Get detailed account information that includes Akoya products Account Info and Balances for all account types (annunity, deposit, insurance, investments, line of credit, and loan) and adds the Investments product to investment accounts including contributions, holdings, vesting information, and more.

To view the response schema, select the `200` response below. Then pick an option for annuity, deposit, insurance, investment, loan, and line of credit account types. 

For an example payload response, see the `200` example response below the `Try it` feature. The example is from an investment account but all account types are supported and returned by this endpoint.

> 🛑
> 
> The *id_token* should be used as the bearer token with this call.

Use the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:

`https://sandbox-products.ddp.akoya.com/accounts/v2/mikomo?mode=standard`

`mode` is available in both sandbox and production.

`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter.
+ Parameters
    + mode (enum[string], optional)

        BETA. Default is raw. Use standard for FDX-aligned, standardized data values.

        + Sample: raw
        + Members
            + `raw` 
            + `standard` 


+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/json)

        OK

    + Attributes (investments)


    + Body

            {"accounts":[{"investmentAccount":{"accountId":"839502593","accountType":"College Savings","availableCashBalance":0,"balanceAsOf":"2022-03-16T04:00:00Z","balanceType":"ASSET","currency":{"currencyCode":"USD"},"currentValue":52672.49,"holdings":[{"assetClasses":[{"assetClass":"DOMESTICBOND","percent":0}],"cashAccount":false,"marketValue":52672.49,"mutualFundSecurity":{"mutualFundType":"OPENEND","reinvestCapitalGains":true,"reinvestDividends":true,"unitsStreet":0,"unitsUser":0,"yield":0,"yieldAsOfDate":"2019-08-24T14:15:22Z"},"positionType":"LONG","purchasedPrice":18.42,"securityIdType":"ISIN","units":2088.521}],"marginBalance":0,"nickname":"529 for Kid"}},{"investmentAccount":{"accountId":"5426873","accountNumberDisplay":"...7054","accountType":"BROKERAGE","allowedCheckWriting":false,"availableCashBalance":0,"balanceList":[{"balanceDate":"2021-07-06","balanceDescription":"Margin Call","balanceName":"MARGINCALL","balanceType":"AMOUNT","balanceValue":0,"currency":{"currencyCode":"USD"}},{"balanceDate":"2021-07-06","balanceDescription":"Fed Call","balanceName":"FEDCALL","balanceType":"AMOUNT","balanceValue":0,"currency":{"currencyCode":"USD"}},{"balanceDate":"2021-07-06","balanceDescription":"Intra Day","balanceName":"INTRADAY","balanceType":"AMOUNT","balanceValue":0,"currency":{"currencyCode":"USD"}},{"balanceDate":"2021-07-05","balanceDescription":"Prior Day","balanceName":"PRIORDAY","balanceType":"AMOUNT","balanceValue":0,"currency":{"currencyCode":"USD"}}],"currency":{"currencyCode":"USD"},"lastActivityDate":"2021-07-06T00:00:00Z","margin":false,"marginBalance":0,"nickname":"Self-Directed","shortBalance":0,"status":"OPEN","transactionsIncluded":false}},{"depositAccount":{"accountId":"g833202fb0866d0ad83472c429","accountNumberDisplay":"xxxxxxxx0071","accountType":"CHECKING","availableBalance":106717.06,"balanceAsOf":"2022-04-24T14:15:22Z","balanceType":"ASSET","currency":{"currencyCode":"USD"},"currentBalance":106717.06,"description":"Checking Plus","fiAttributes":[{"name":"accountOpenedDate","value":"2020-04-23"},{"name":"interestPaidLastYear","value":"3.20"}],"interestRate":0.0125,"interestRateAsOf":"2022-04-24T14:15:22Z","interestRateType":"FIXED","interestYtd":20.33,"lastActivityDate":"2022-04-24T14:15:22Z","lineOfBusiness":"Personal","nickname":"Nickname Checking Plus 0071","productName":"Checking Plus","status":"OPEN","transferIn":true,"transferOut":true}},{"depositAccount":{"accountId":"5dbda8de96eeff05f23934523a1fc258","accountNumberDisplay":"xxxx0134","accountType":"CHECKING","annualPercentageYield":0,"availableBalance":0,"balanceAsOf":"2022-04-24T14:15:22Z","currency":{"currencyCode":"USD"},"currentBalance":0,"description":"Virtual Wallet Student Reserve","interestRateAsOf":"2022-04-24T14:15:22Z","interestRateType":"FIXED","lastActivityDate":"2022-04-01T10:05:00Z","lineOfBusiness":"LBRB","openingDayBalance":0,"productName":"Virtual Wallet Student Reserve","transactionsIncluded":false}},{"depositAccount":{"accountId":"11719ae5-2399-1278-e43c-43f24abb3058","accountType":"CD","annualPercentageYield":0.75,"availableBalance":6808.29,"balanceAsOf":"2021-04-07T10:20:43.276Z","balanceType":"ASSET","currency":{"currencyCode":"USD","originalCurrencyCode":"USD"},"currentBalance":6808.29,"description":"Certificate of Deposit","fiAttributes":[{"name":"eStatements","value":"False"},{"name":"interestPaidLastYear","value":"50.72"},{"name":"isTransactionsSupported","value":"False"},{"name":"issueDate","value":"2019-03-21T00:00:00.000Z"},{"name":"interestPayoutFrequency","value":"Semi-Annually (And At Maturity)"}],"interestRate":0.75,"interestYtd":25.24,"lineOfBusiness":"CONSUMER","maturityDate":"2024-03-21T00:00:00Z","nickname":"Certificate of Deposit - 3691","openingDayBalance":2000,"parentAccountId":"11719ae5-2399-1278-e43c-43f24abb3058","status":"OPEN","term":60,"transactionsIncluded":false,"transferIn":false,"transferOut":false}},{"depositAccount":{"accountId":"33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d","accountType":"SAVINGS","availableBalance":20608.9,"balanceAsOf":"2021-04-07T10:08:11.833Z","balanceType":"ASSET","currency":{"currencyCode":"USD","originalCurrencyCode":"USD"},"currentBalance":20608.9,"description":"Savings","fiAttributes":[{"name":"eStatements","value":"True"}],"interestRate":0.01,"interestYtd":0.29,"lineOfBusiness":"CONSUMER","nickname":"Savings - 8537","openingDayBalance":20608.9,"parentAccountId":"33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d","status":"OPEN","transactionsIncluded":false}}]}


+ Response 206 (application/json)

        Partial Content. Success searching for accounts. Some errors are being returned.

    + Attributes (balances)


    + Body

            {"accounts":[{"investmentAccount":{"accountId":"839502593","accountType":"College Savings","availableCashBalance":0,"balanceAsOf":"2022-03-16T04:00:00Z","balanceType":"ASSET","currency":{"currencyCode":"USD"},"currentValue":52672.49,"holdings":[{"assetClasses":[{"assetClass":"DOMESTICBOND","percent":0}],"cashAccount":false,"marketValue":52672.49,"mutualFundSecurity":{"mutualFundType":"OPENEND","reinvestCapitalGains":true,"reinvestDividends":true,"unitsStreet":0,"unitsUser":0,"yield":0,"yieldAsOfDate":"2019-08-24T14:15:22Z"},"positionType":"LONG","purchasedPrice":18.42,"securityIdType":"ISIN","units":2088.521}],"marginBalance":0,"nickname":"529 for Kid"}},{"investmentAccount":{"error":{"code":704,"message":"Account type not supported"}}}]}


+ Response 400 (application/json)

        Invalid Input

    + Attributes (Error)


    + Body

            {"code":401,"message":"Invalid input","debugMessage":"Invalid Input."}


+ Response 401 (application/json)

        Customer not authorized.

    + Attributes (Error)


    + Body

            {"code":602,"message":"Customer not authorized","debugMessage":"Customer not authorized."}


+ Response 404 (application/json)

        701 - Tax Lots not found. The `holdingId` may be wrong.

    + Attributes (Error)


    + Body

            {"code":701,"message":"Account not found","debugMessage":"Account not found."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 406 (application/json)

        Content Type not Supported

    + Attributes (Error)


    + Body

            {"code":1203,"message":"Content Type not Supported","debugMessage":"Data Provider's custom developer-level error details for troubleshooting."}


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}


+ Response 429 (application/json)

        1207 - Too many requests

    + Attributes (Error)


    + Body

            {"code":1207,"message":"Too many requests","debugMessage":"Too many requests."}


+ Response 500 (application/json)

        Internal Server Error.

    + Attributes (Error)


    + Body

            {"code":500,"message":"Internal server error","debugMessage":"Internal server error."}


+ Response 501 (application/json)

        FdxVersion in header is not implemented.

    + Attributes (Error)


    + Body

            {"code":1106,"message":"FdxVersion not supported or not implemented","debugMessage":"FdxVersion not supported or not implemented."}


+ Response 503 (application/json)

        System is down for maintenance.

    + Attributes (Error)


    + Body

            {"code":503,"message":"Scheduled Maintenance","debugMessage":"Scheduled maintenance."}



## Taxlots AccountId HoldingId By Version [/taxlots/{version}/{providerId}/{accountId}/{holdingId}{?offset,limit}]

+ Parameters
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo
    + accountId (string, required)

        Account Identifier

    + holdingId (string, required)

        Consumer's holdingId under investments


### gettaxlots [GET]
The taxlots API allows you to retrieve tax lots of consumer-permissioned accounts.

> 🛑
> 
> The *id_token* should be used as the bearer token with this call.
+ Parameters
    + offset (string, optional)

        The number of items to skip before the first in the response. The default is 0

    + limit (string, optional)

        The maximum number of items to be returned in the response. The default is 50


+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/json)

        OK

    + Attributes (taxlotsResponse)


    + Body

            {"accountId":"string","holding":{"holdingId":"string","securityId":"string","securityIdType":"ISIN","taxLots":[{"originalPurchaseDate":"2024-10-14T18:16:22Z","quantity":0,"purchasedPrice":0,"costBasis":0,"currentValue":0,"positionType":"LONG"}]}}


+ Response 401 (application/json)

        Customer not authorized.

    + Attributes (Error)


    + Body

            {"code":602,"message":"Customer not authorized","debugMessage":"Customer not authorized."}


+ Response 403 (application/json)

        Incorrect providerId or no subscription to provider.

    + Attributes (Error)


    + Body

            {"code":403,"message":"Subscription not found.","debugMessage":"Subscription not found."}


+ Response 404 (application/json)

        701 - Tax Lots not found. The `holdingId` may be wrong.

    + Attributes (Error)


    + Body

            {"code":701,"message":"Account not found","debugMessage":"Account not found."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}




# Group Payments

Payments

## Payments AccountId Payment Networks [/payments/{version}/{providerId}/{accountId}payment-networks]

+ Parameters
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo
    + accountId (string, optional) -

        Account Identifier

        + Default: :accountId

### paymentnetworks [GET]
This product supports use cases such as payment enablement or account opening. The response includes identifiers necessary to make ACH and RTP payments. Identifiers include account number, routing number, identifier type (actual or tokenized account number), and payment network type such as ACH or RTP.

<br>

To see the response schema, select the `200` response below. For an example payload response, see the `200` example response below the *Try it* feature. 

> 🛑
> 
> The *id_token* should be used as the bearer token with this call.

+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/json)

        OK

    + Attributes (Array of account payment networks)


    + Body

            {"paymentNetworks":[{"bankId":"125000024","identifier":"454992210071","identifierType":"ACCOUNT_NUMBER","type":"US_ACH","transferIn":true,"transferOut":true}]}


+ Response 401 (application/json)

        Customer not authorized.

    + Attributes (Error)


    + Body

            {"code":602,"message":"Customer not authorized","debugMessage":"Customer not authorized."}


+ Response 403 (application/json)

        Incorrect providerId or no subscription to provider.

    + Attributes (Error)


    + Body

            {"code":403,"message":"Subscription not found.","debugMessage":"Subscription not found."}


+ Response 404 (application/json)

        701 - Account not found. The `accountId` may be wrong.

    + Attributes (Error)


    + Body

            {"code":701,"message":"Account not found","debugMessage":"Account not found."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}




# Group Statements

Statements

## Statements AccountId By Version [/statements/{version}/{providerId}/{accountId}{?startTime,endTime,offset,limit}]

+ Parameters
    + accountId (string, optional) -

        Account Identifier

        + Default: :accountId
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo

### getstatementlist [GET]
Retrieve a list of available statements for the end-user's consented accounts. You may request a date range of up to two years of historical statements (maximum date ranges vary by provider).

The paginated response includes an array of statement information with the end-user's account id and statement details such as statement id, date, description, and status. The results also include links to GET the statement image.
+ Parameters
    + startTime (string, optional)

        Start date for use in retrieval of statements (ISO 8601)

        + Sample: 2020-03-30
    + endTime (string, optional)

        End date for use in retrieval of statements (ISO 8601)

        + Sample: 2021-03-30
    + offset (string, optional) -

        The number of items to skip before the first in the response. The default is 0.

        + Default: 0
    + limit (number, optional) -

        The maximum number of items to be returned in the response. The default is 50.

        + Default: 50

+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/json)

        OK

    + Attributes (paginatedArray)



+ Response 400 (application/json)

        Start or end date value is not in the ISO 8601 format.

    + Attributes (Error)


    + Body

            {"code":702,"message":"Invalid start or end date","debugMessage":"Invalid start or end date."}


+ Response 404 (application/json)

        404 - Not found

    + Attributes (Error)


    + Body

            {"code":701,"message":"Account not found","debugMessage":"Account not found."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}


+ Response 500 (application/json)

        Internal Server Error.

    + Attributes (Error)


    + Body

            {"code":500,"message":"Internal server error","debugMessage":"Internal server error."}


+ Response 501 (application/json)

        FdxVersion in header is not implemented.

    + Attributes (Error)


    + Body

            {"code":1106,"message":"FdxVersion not supported or not implemented","debugMessage":"FdxVersion not supported or not implemented."}


+ Response 503 (application/json)

        System is down for maintenance.

    + Attributes (Error)


    + Body

            {"code":503,"message":"Scheduled Maintenance","debugMessage":"Scheduled maintenance."}



## Statements AccountId StatementId [/statements/{version}/{providerId}/{accountId}/{statementId}]

+ Parameters
    + accountId (string, optional) -

        Account Identifier

        + Default: :accountId
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo
    + statementId (string, optional) -

        Statement Identifier

        + Default: statementId

### getstatements [GET]
Retrieve a specific account statement file. Use [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) to specify desired content types. 

For the initial launch, only PDF statements are supported. PDFs are returned in the response.

### cURL request

We recommend using the auto-generated cURL request with the {idToken}, accountId, providerId, statementId, and version with an added cURL parameter to return the output to a file. For example:

```curl
curl --request GET --url https://sandbox-products.ddp.akoya.com/statements/v2/mikomo/513815781465/P9CvLPKDaFRMbNDkhu1 --header "accept: application/pdf" --header "authorization: Bearer {idtoken}" --output example.pdf
```

+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/pdf)

        OK - An image of an account statement

    + Attributes (string)



+ Response 200 (image/gif)

        OK - An image of an account statement

    + Attributes (string)



+ Response 200 (image/jpeg)

        OK - An image of an account statement

    + Attributes (string)



+ Response 200 (image/tiff)

        OK - An image of an account statement

    + Attributes (string)



+ Response 200 (image/png)

        OK - An image of an account statement

    + Attributes (string)



+ Response 302 (text/plain)

        Statement is available at specified location. URL is returned via the `Location` HTTP header

    + Attributes (string)



+ Response 400 (application/json)

        Statement is processing and is not yet available.

    + Attributes (Error)


    + Body

            {"code":1300,"message":"Statement is Processing","debugMessage":"Statement is Processing."}


+ Response 404 (application/json)

        Account exists but contains no statements.

    + Attributes (Error)


    + Body

            {"code":1108,"message":"Statements not found for given Account","debugMessage":"Statements not found for given Account."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 406 (application/json)

        Content Type not Supported

    + Attributes (Error)


    + Body

            {"code":1203,"message":"Content Type not Supported","debugMessage":"Data Provider's custom developer-level error details for troubleshooting."}


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}


+ Response 500 (application/json)

        Internal Server Error.

    + Attributes (Error)


    + Body

            {"code":500,"message":"Internal server error","debugMessage":"Internal server error."}


+ Response 501 (application/json)

        FdxVersion in header is not implemented.

    + Attributes (Error)


    + Body

            {"code":1106,"message":"FdxVersion not supported or not implemented","debugMessage":"FdxVersion not supported or not implemented."}


+ Response 503 (application/json)

        System is down for maintenance.

    + Attributes (Error)


    + Body

            {"code":503,"message":"Scheduled Maintenance","debugMessage":"Scheduled maintenance."}




# Group Tax beta

Tax (beta)

## Tax Forms By Version And ProviderId [/tax-forms/{version}/{providerId}{?taxYear,taxForms,accountId}]

+ Parameters
    + version (enum[string], optional)

        Endpoint version.

        + Default: v2
        + Members
            + `v2` 

    + providerId (string, required)

        Provider to query for Tax data.


### taxFormsSearch [GET]
Get the full lists of tax document data and tax form images available for a specific year for the current authorized customer.
+ Parameters
    + taxYear (string, optional)

        Tax year in which to search for tax forms.

        + Sample: 2024
    + taxForms (array[string], optional)

        One or more tax form type enums for the specific documents being requested. Comma separated

        + Sample: ["Tax1099Div","Tax1099Int"]
        + Members
            + `BusinessIncomeStatement` 
            + `CryptocurrencyTaxStatement` 
            + `FarmIncomeStatement` 
            + `FarmRentalIncomeStatement` 
            + `RentalIncomeStatement` 
            + `RoyaltyIncomeStatement` 
            + `Tax1041K1` 
            + `Tax1042S` 
            + `Tax1065K1` 
            + `Tax1095A` 
            + `Tax1095B` 
            + `Tax1095C` 
            + `Tax1097Btc` 
            + `Tax1098` 
            + `Tax1098C` 
            + `Tax1098E` 
            + `Tax1098Ma` 
            + `Tax1098Q` 
            + `Tax1098T` 
            + `Tax1099A` 
            + `Tax1099B` 
            + `Tax1099C` 
            + `Tax1099Cap` 
            + `Tax1099ConsolidatedStatement` 
            + `Tax1099Div` 
            + `Tax1099G` 
            + `Tax1099H` 
            + `Tax1099Int` 
            + `Tax1099K` 
            + `Tax1099Ls` 
            + `Tax1099Ltc` 
            + `Tax1099Misc` 
            + `Tax1099Nec` 
            + `Tax1099Oid` 
            + `Tax1099Patr` 
            + `Tax1099Q` 
            + `Tax1099Qa` 
            + `Tax1099R` 
            + `Tax1099S` 
            + `Tax1099Sa` 
            + `Tax1099Sb` 
            + `Tax1120SK1` 
            + `Tax2439` 
            + `Tax3921` 
            + `Tax3922` 
            + `Tax5227K1` 
            + `Tax5498` 
            + `Tax5498Esa` 
            + `Tax5498Qa` 
            + `Tax5498Sa` 
            + `TaxW2` 
            + `TaxW2C` 
            + `TaxW2G` 

    + accountId (string, optional)

        Unique account identifier (not the account number)


+ Request 
    + Headers

            x-akoya-interaction-id:unique-request-id-001
            x-akoya-interaction-type:user
            Accept:["application/json"]





+ Response 200 (application/json)

        Array of all the tax document data and tax form images available for the customer matching search criteria

    + Attributes (Tax Statement List)


    + Body

            {"statements":[{"taxYear":2020,"taxStatementId":"9876987698769876","attributes":[{"name":"federalTaxWithheld","value":"4014.00"}],"taxDataType":"JSON","forms":[{"tax1099Div":{"taxYear":2020,"taxFormId":"9876987698769876","taxFormDate":"2021-03-30","additionalInformation":"FDX v6.0","taxFormType":"Tax1099Div"}}]},{"taxYear":2020,"taxStatementId":"6543654365436543","attributes":[{"name":"federalTaxWithheld","value":"4011.00"}],"taxDataType":"JSON","forms":[{"tax1099Int":{"taxYear":2020,"taxFormId":"6543654365436543","taxFormDate":"2021-03-30","additionalInformation":"FDX v6.0","taxFormType":"Tax1099Int"}}]}]}


+ Response 206 (application/json)

        Partial Content

    + Attributes (Tax Statement List)


    + Body

            {"statements":[{"taxYear":2020,"taxStatementId":"9876987698769876","attributes":[{"name":"federalTaxWithheld","value":"4014.00"}],"taxDataType":"JSON","forms":[{"tax1099Div":{"taxYear":2020,"taxFormId":"9876987698769876","taxFormDate":"2021-03-30","additionalInformation":"FDX v6.0","taxFormType":"Tax1099Div"}}]},{"taxYear":2020,"taxDataType":"JSON","forms":[{"tax1099Int":{"taxYear":2020,"taxFormType":"Tax1099Int","error":{"code":1205,"message":"Tax Forms not yet been made available","debugMessage":"1099-INT forms should be available after 02-01-2021"}}}]}]}


+ Response 400 (application/json)

        Bad Request

    + Attributes (Error)


    + Body

            {"code":400,"message":"Invalid input","debugMessage":"Invalid input."}


+ Response 404 (application/json)

        Not Found

    + Attributes (Error)


    + Body

            {"code":404,"message":"Customer not found","debugMessage":"Customer not found."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 406 (application/json)

        Content Type not Supported

    + Attributes (Error)


    + Body

            {"code":1203,"message":"Content Type not Supported","debugMessage":"Data Provider's custom developer-level error details for troubleshooting."}


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}


+ Response 409 (application/json)

        Conflict

    + Attributes (Error)



+ Response 500 (application/json)

        Internal Server Error.

    + Attributes (Error)


    + Body

            {"code":500,"message":"Internal server error","debugMessage":"Internal server error."}


+ Response 501 (application/json)

        FdxVersion in header is not implemented.

    + Attributes (Error)


    + Body

            {"code":1106,"message":"FdxVersion not supported or not implemented","debugMessage":"FdxVersion not supported or not implemented."}


+ Response 503 (application/json)

        System is down for maintenance.

    + Attributes (Error)


    + Body

            {"code":503,"message":"Scheduled Maintenance","debugMessage":"Scheduled maintenance."}



## Tax Forms TaxFormId By Version [/tax-forms/{version}/{providerId}/{taxFormId}{?taxDataType}]

+ Parameters
    + version (enum[string], optional)

        Endpoint version.

        + Default: v2
        + Members
            + `v2` 

    + providerId (string, required)

        Provider to query for Tax data.

    + taxFormId (string, required)

        Unique identifier of the tax form to request.


### getTaxForm [GET]
Get the Tax Statement as JSON or PDF for a single tax document for the customer. Use [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) to specify desired content types. See `AcceptHeader` definition for typical values.

Not all providers support PDF payloads. See [this article](https://recipient.ddp.akoya.com/support/article/kA0Uw00000026VxKAI) in the Data Recipent Hub for a list of providers that support document PDFs.
+ Parameters
    + taxDataType (enum[string], optional)

        Use taxDataType to request `application/json` tax form data response in 'JSON' or 'BASE64_PDF' format. Omit if either format is acceptable. Used in combination with AcceptHeader requesting `application/json` response

        + Sample: JSON
        + Members
            + `BASE64_PDF` 
            + `JSON` 


+ Request 
    + Headers

            x-akoya-interaction-id:unique-request-id-001
            x-akoya-interaction-type:user
            Accept:["application/json"]





+ Response 200 (application/pdf)

        The document image or TaxStatement as json for a single tax document for the customer. A single document can include multiple IRS tax forms and/or other reporting statements as delivered by providers

    + Attributes (string)



+ Response 200 (application/json)

        The document image or TaxStatement as json for a single tax document for the customer. A single document can include multiple IRS tax forms and/or other reporting statements as delivered by providers

    + Attributes (Tax Statement1)


    + Body

            {"taxYear":2020,"taxStatementId":"1234123412341234","attributes":[{"name":"Total tax withheld","value":"8025.00"}],"issuer":{"tin":"12-3456789","partyType":"BUSINESS","businessName":{"name1":"Financial Data Exchange"},"address":{"line1":"12020 Sunrise Valley Dr","line2":"Suite 230","city":"Reston","region":"VA","postalCode":"20191","country":"US"},"phone":{"number":"8885551212"}},"recipient":{"tin":"xxx-xx-1234","partyType":"INDIVIDUAL","individualName":{"first":"Kris","middle":"Q","last":"Public"},"address":{"line1":"1 Main St","city":"Melrose","region":"NY","postalCode":"12121","country":"US"}},"taxDataType":"JSON","forms":[{"tax1099Div":{"taxYear":2020,"taxFormId":"9876987698769876","taxFormDate":"2021-03-30","additionalInformation":"FDX v6.0","taxFormType":"Tax1099Div","foreignAccountTaxCompliance":false,"accountNumber":"111-5555555","ordinaryDividends":1107,"qualifiedDividends":1208,"totalCapitalGain":2109,"unrecaptured1250Gain":2210,"section1202Gain":2311,"collectiblesGain":2412,"nonTaxableDistribution":3013,"federalTaxWithheld":4014,"section199ADividends":5015,"investmentExpenses":6016,"foreignTaxPaid":7017,"foreignCountry":"Mexico","cashLiquidation":9019,"nonCashLiquidation":10020,"taxExemptInterestDividend":11021,"specifiedPabInterestDividend":12022,"stateAndLocal":[{"stateCode":"NY","state":{"taxWithheld":15023,"taxId":"14-000023"}}]}},{"tax1099Int":{"taxYear":2020,"taxFormId":"6543654365436543","taxFormDate":"2021-03-30","additionalInformation":"FDX v6.0","taxFormType":"Tax1099Int","foreignAccountTaxCompliance":false,"accountNumber":"111-5555555","payerRtn":"007007007","interestIncome":1008,"earlyWithdrawalPenalty":2009,"usBondInterest":3010,"federalTaxWithheld":4011,"investmentExpenses":5012,"foreignTaxPaid":6013,"foreignCountry":"Canada","taxExemptInterest":8015,"specifiedPabInterest":9016,"marketDiscount":10017,"bondPremium":11018,"usBondPremium":12019,"taxExemptBondPremium":13020,"cusipNumber":"CUSIP","stateAndLocal":[{"stateCode":"NY","state":{"taxWithheld":17022,"taxId":"15-000022"}}]}}]}


+ Response 206 (application/json)

        Partial Content success retrieving a customer tax document, some errors are being returned

    + Attributes (Tax Statement2)



+ Response 400 (application/json)

        Account ID is required for searching or validating authorization

    + Attributes (Error)


    + Body

            {"code":1204,"message":"Account ID is Required","debugMessage":"Provider custom developer-level error details for troubleshooting."}


+ Response 404 (application/json)

        Tax Form for provided Tax Form ID was not found

    + Attributes (Error)


    + Body

            {"code":1200,"message":"Tax Form not Found","debugMessage":"Provider custom developer-level error details for troubleshooting."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 406 (application/json)

        Content Type not Supported

    + Attributes (Error)


    + Body

            {"code":1203,"message":"Content Type not Supported","debugMessage":"Data Provider's custom developer-level error details for troubleshooting."}


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}


+ Response 409 (application/json)

        Tax forms are not currently available for this account or this year

    + Attributes (Error)


    + Body

            {"code":705,"message":"Account is Closed","debugMessage":"Provider custom developer-level error details for troubleshooting."}


+ Response 500 (application/json)

        Internal Server Error.

    + Attributes (Error)


    + Body

            {"code":500,"message":"Internal server error","debugMessage":"Internal server error."}


+ Response 501 (application/json)

        FdxVersion in header is not implemented.

    + Attributes (Error)


    + Body

            {"code":1106,"message":"FdxVersion not supported or not implemented","debugMessage":"FdxVersion not supported or not implemented."}


+ Response 503 (application/json)

        System is down for maintenance.

    + Attributes (Error)


    + Body

            {"code":503,"message":"Scheduled Maintenance","debugMessage":"Scheduled maintenance."}




# Group Transactions

Transactions

## Transactions AccountId By Version [/transactions/{version}/{providerId}/{accountId}{?startTime,endTime,offset,limit,mode}]

+ Parameters
    + version (string, optional) -

        Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2

        + Default: v2
    + providerId (string, optional) -

        Id of provider

        + Default: mikomo
    + accountId (string, optional) -

        Account Identifier

        + Default: :accountId

### gettransactions [GET]
The transactions API allows you to retrieve transaction history of consumer-permissioned accounts.

> 🛑
> 
> The *id_token* should be used as the bearer token with this call.

For more information on how to paginate transaction results, please see: [Pagination](https://docs.akoya.com/v2/docs/pagination)

Use the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:

`https://sandbox-products.ddp.akoya.com/transactions/v2/mikomo?mode=standard`

`mode` is available in both sandbox and production.

`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter.
+ Parameters
    + startTime (string, optional)

        ISO 8601 date format in UTC time zone. If blank, the default value (current date - 15 calendar days) is used. If a value is specified, endTime is required.

        + Sample: 2020-03-30T04:00:00Z
    + endTime (string, optional)

        ISO 8601 date format in UTC time zone. If blank, the default value (current date) is used. If a value is specified, startTime is required.

        + Sample: 2021-03-30T04:00:00Z
    + offset (string, optional) -

        The number of items to skip before the first in the response. The default is 0.

        + Default: 0
    + limit (number, optional) -

        The maximum number of items to be returned in the response. The default is 50.

        + Default: 50
    + mode (enum[string], optional)

        BETA. Default is raw. Use standard for FDX-aligned, standardized data values.

        + Sample: raw
        + Members
            + `raw` 
            + `standard` 


+ Request 
    + Headers

            x-akoya-interaction-type:<<Add Header Value>>





+ Response 200 (application/json)

        OK

    + Attributes (Transactions Entity)


    + Body

            {"links":{"prev":{"href":"/transactions/v2/mikomo/33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d?endTime=2021-02-26T00%3A00%3A00Z&limit=5&offset=0&startTime=2019-02-26T00%3A00%3A00Z"}},"transactions":[{"depositTransaction":{"accountId":"33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d","amount":0.29,"debitCreditMemo":"CREDIT","description":"Interest Paid This Period","postedTimestamp":"2021-01-27T00:00:00Z","status":"POSTED","transactionId":"22ef95ee-6127-382d-a28c-5b8b7a15d2eb","transactionTimestamp":"2021-01-27T00:00:00Z","transactionType":"INTEREST"}},{"depositTransaction":{"accountId":"33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d","amount":0.13,"debitCreditMemo":"CREDIT","description":"Interest Paid This Period","postedTimestamp":"2021-02-24T00:00:00Z","status":"POSTED","transactionId":"f3fced9d-a7a2-4194-5a17-a2a9b09ff64a","transactionTimestamp":"2021-02-24T00:00:00Z","transactionType":"INTEREST"}}]}


+ Response 400 (application/json)

        Bad Request

    + Attributes (Error)


    + Body

            {"code":703,"message":"Invalid date range","debugMessage":"Invalid date range."}


+ Response 401 (application/json)

        Customer not authorized.

    + Attributes (Error)


    + Body

            {"code":602,"message":"Customer not authorized","debugMessage":"Customer not authorized."}


+ Response 404 (application/json)

        701 - Tax Lots not found. The `holdingId` may be wrong.

    + Attributes (Error)


    + Body

            {"code":701,"message":"Account not found","debugMessage":"Account not found."}


+ Response 405 (text/plain)

        Method Not Allowed

    + Attributes (string)


    + Body

            Method Not Found


+ Response 406 (application/json)

        Content Type not Supported

    + Attributes (Error)


    + Body

            {"code":1203,"message":"Content Type not Supported","debugMessage":"Data Provider's custom developer-level error details for troubleshooting."}


+ Response 408 (application/json)

        Request timed out (round trip call took >10 seconds).

    + Attributes (Error)


    + Body

            {"code":408,"message":"Request Timeout.","debugMessage":"Request Timeout."}


+ Response 429 (application/json)

        1207 - Too many requests

    + Attributes (Error)


    + Body

            {"code":1207,"message":"Too many requests","debugMessage":"Too many requests."}


+ Response 500 (application/json)

        Internal Server Error.

    + Attributes (Error)


    + Body

            {"code":500,"message":"Internal server error","debugMessage":"Internal server error."}


+ Response 501 (application/json)

        FdxVersion in header is not implemented.

    + Attributes (Error)


    + Body

            {"code":1106,"message":"FdxVersion not supported or not implemented","debugMessage":"FdxVersion not supported or not implemented."}


+ Response 503 (application/json)

        System is down for maintenance.

    + Attributes (Error)


    + Body

            {"code":503,"message":"Scheduled Maintenance","debugMessage":"Scheduled maintenance."}




# Data Structures

## Account information (object)


### Properties
+ `accountId` (string, optional) - Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
+ `accountType` (string, optional) - The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
+ `accountNumberDisplay` (string, optional) - Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
+ `currency` (Currency Entity, optional) - Indicates the currency code used by the account. May also include currency rate.
+ `description` (string, optional) 
+ `fiAttributes` (array[FiAttribute Entity], optional) 
+ `nickname` (string, optional) - Name given by the user. Used in UIs to assist in account selection
+ `productName` (string, optional) - Marketed product name for this account.  Used in UIs to assist in account selection
+ `status` (enum[string], optional) - The status of an account.
    + `OPEN`
    + `CLOSED`
    + `PENDINGOPEN`
    + `PENDINGCLOSE`
    + `DELINQUENT`
    + `PAID`
    + `NEGATIVECURRENTBALANCE`
+ `lineOfBusiness` (string, optional) - The line of business, such as consumer, consumer joint, small business, corporate, etc.
+ `balanceType` (enum[string], optional) - ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
    + `ASSET`
    + `LIABILITY`
+ `interestRate` (number, optional) - Interest Rate of Account
+ `interestRateType` (enum[string], optional) - The type of interest rate. FIXED or VARIABLE.
    + `FIXED`
    + `VARIABLE`
+ `interestRateAsOf` (string, optional) - Date of account’s interest rate
+ `lastActivityDate` (string, optional) - Date that last transaction occurred on account
+ `micrNumber` (string, optional) - MICR Number
+ `parentAccountId` (string, optional) - Long-term persistent identity of the parent account. This is used to group accounts.
+ `priorInterestRate` (number, optional) - Previous Interest Rate of Account
+ `transferIn` (boolean, optional) - Account is eligible for incoming transfers
+ `transferOut` (boolean, optional) - Account is eligible for outgoing transfers


## Payment Network Supported by Account (object)
This provides details required to execute a transaction against the account within the payment network

### Properties
+ `bankId` (string, optional) - Bank identifier used by the payment network ie. Routing Number
+ `identifier` (string, optional) - The number used to identify the account within the payment network. If identifierType is ACCOUNT_NUMBER, this is the account number.
+ `identifierType` (string, optional) - Type of identifier
+ `type` (string, optional) - Type of payment network
+ `transferIn` (boolean, optional) - Can transfer funds to the account using this information
+ `transferOut` (boolean, optional) - Can transfer funds from the account using this information


## Address (object)
U.S. domestic address or a foreign address with country other than 'US'

### Properties
+ `line1` (string, optional) - Address line 1
+ `line2` (string, optional) - Address line 2
+ `line3` (string, optional) - Address line 3
+ `city` (string, optional) - City
+ `region` (string, optional) - State, Province, Territory, Canton or Prefecture. From [Universal Postal Union](https://www.upu.int/en/Postal-Solutions/Programmes-Services/Addressing-Solutions#addressing-s42-standard) as of 2-26-2020, [S42 International Address Standards](https://www.upu.int/UPU/media/upu/documents/PostCode/S42_International-Addressing-Standards.pdf). For U.S. addresses can be 2-character code from '#/components/schemas/StateCode'
+ `postalCode` (string, optional) - Postal code
+ `country` (enum[string], optional) - Country code
    + `AD`
    + `AE`
    + `AF`
    + `AG`
    + `AI`
    + `AL`
    + `AM`
    + `AO`
    + `AQ`
    + `AR`
    + `AS`
    + `AT`
    + `AU`
    + `AW`
    + `AX`
    + `AZ`
    + `BA`
    + `BB`
    + `BD`
    + `BE`
    + `BF`
    + `BG`
    + `BH`
    + `BI`
    + `BJ`
    + `BL`
    + `BM`
    + `BN`
    + `BO`
    + `BQ`
    + `BR`
    + `BS`
    + `BT`
    + `BV`
    + `BW`
    + `BY`
    + `BZ`
    + `CA`
    + `CC`
    + `CD`
    + `CF`
    + `CG`
    + `CH`
    + `CI`
    + `CK`
    + `CL`
    + `CM`
    + `CN`
    + `CO`
    + `CR`
    + `CU`
    + `CV`
    + `CW`
    + `CX`
    + `CY`
    + `CZ`
    + `DE`
    + `DJ`
    + `DK`
    + `DM`
    + `DO`
    + `DZ`
    + `EC`
    + `EE`
    + `EG`
    + `EH`
    + `ER`
    + `ES`
    + `ET`
    + `FI`
    + `FJ`
    + `FK`
    + `FM`
    + `FO`
    + `FR`
    + `GA`
    + `GB`
    + `GD`
    + `GE`
    + `GF`
    + `GG`
    + `GH`
    + `GI`
    + `GL`
    + `GM`
    + `GN`
    + `GP`
    + `GQ`
    + `GR`
    + `GS`
    + `GT`
    + `GU`
    + `GW`
    + `GY`
    + `HK`
    + `HM`
    + `HN`
    + `HR`
    + `HT`
    + `HU`
    + `ID`
    + `IE`
    + `IL`
    + `IM`
    + `IN`
    + `IO`
    + `IQ`
    + `IR`
    + `IS`
    + `IT`
    + `JE`
    + `JM`
    + `JO`
    + `JP`
    + `KE`
    + `KG`
    + `KH`
    + `KI`
    + `KM`
    + `KN`
    + `KP`
    + `KR`
    + `KW`
    + `KY`
    + `KZ`
    + `LA`
    + `LB`
    + `LC`
    + `LI`
    + `LK`
    + `LR`
    + `LS`
    + `LT`
    + `LU`
    + `LV`
    + `LY`
    + `MA`
    + `MC`
    + `MD`
    + `ME`
    + `MF`
    + `MG`
    + `MH`
    + `MK`
    + `ML`
    + `MM`
    + `MN`
    + `MO`
    + `MP`
    + `MQ`
    + `MR`
    + `MS`
    + `MT`
    + `MU`
    + `MV`
    + `MW`
    + `MX`
    + `MY`
    + `MZ`
    + `NA`
    + `NC`
    + `NE`
    + `NF`
    + `NG`
    + `NI`
    + `NL`
    + `NO`
    + `NP`
    + `NR`
    + `NU`
    + `NZ`
    + `OM`
    + `PA`
    + `PE`
    + `PF`
    + `PG`
    + `PH`
    + `PK`
    + `PL`
    + `PM`
    + `PN`
    + `PR`
    + `PS`
    + `PT`
    + `PW`
    + `PY`
    + `QA`
    + `RE`
    + `RO`
    + `RS`
    + `RU`
    + `RW`
    + `SA`
    + `SB`
    + `SC`
    + `SD`
    + `SE`
    + `SG`
    + `SH`
    + `SI`
    + `SJ`
    + `SK`
    + `SL`
    + `SM`
    + `SN`
    + `SO`
    + `SR`
    + `SS`
    + `ST`
    + `SV`
    + `SX`
    + `SY`
    + `SZ`
    + `TC`
    + `TD`
    + `TF`
    + `TG`
    + `TH`
    + `TJ`
    + `TK`
    + `TL`
    + `TM`
    + `TN`
    + `TO`
    + `TR`
    + `TT`
    + `TV`
    + `TW`
    + `TZ`
    + `UA`
    + `UG`
    + `UM`
    + `US`
    + `UY`
    + `UZ`
    + `VA`
    + `VC`
    + `VE`
    + `VG`
    + `VI`
    + `VN`
    + `VU`
    + `WF`
    + `WS`
    + `YE`
    + `YT`
    + `ZA`
    + `ZM`
    + `ZW`


## Investment Balance List (object)


### Properties
+ `balanceName` (string, optional) - Name of the balance.
+ `balanceDescription` (string, optional) - Description of balance.
+ `balanceType` (enum[string], optional) - The type of an investment balance. AMOUNT or PERCENTAGE.
    + `AMOUNT`
    + `PERCENTAGE`
+ `balanceValue` (number, optional) - Value of balance name.
+ `balanceDate` (string, optional) - Date as of this balance.
+ `currency` (Currency Entity, optional) - Indicates the currency code used by the account. May also include currency rate.


## Business name (object)
Name 1, Name 2

### Properties
+ `name1` (string, optional) - Name line 1
+ `name2` (string, optional) - Name line 2


## Business Income Statement (object)
Business Income Statement for IRS Form 1040 Schedule C

### Properties
+ `taxYear`: `2023` (number, optional) - Year for which taxes are being paid
+ `corrected` (boolean, optional) - True to indicate this is a corrected tax form
+ `accountId` (string, optional) - Long-term persistent identity of the source account. Not the account number
+ `taxFormId` (string, optional) - Long-term persistent id for this tax form. Depending upon the data provider, this may be the same id as the enclosing tax statement id, or this may be a different id, or this id may be omitted.
+ `taxFormDate`: `2021-07-15` (string, optional) - Date of production or delivery of the tax form
+ `additionalInformation` (string, optional) - Additional explanation text or content about this tax form
+ `taxFormType` (enum[string], optional) - Enumerated name of the tax form entity e.g. "TaxW2"
    + `BusinessIncomeStatement`
    + `CryptocurrencyTaxStatement`
    + `FarmIncomeStatement`
    + `FarmRentalIncomeStatement`
    + `RentalIncomeStatement`
    + `RoyaltyIncomeStatement`
    + `Tax1041K1`
    + `Tax1042S`
    + `Tax1065K1`
    + `Tax1095A`
    + `Tax1095B`
    + `Tax1095C`
    + `Tax1097Btc`
    + `Tax1098`
    + `Tax1098C`
    + `Tax1098E`
    + `Tax1098Ma`
    + `Tax1098Q`
    + `Tax1098T`
    + `Tax1099A`
    + `Tax1099B`
    + `Tax1099C`
    + `Tax1099Cap`
    + `Tax1099ConsolidatedStatement`
    + `Tax1099Div`
    + `Tax1099G`
    + `Tax1099H`
    + `Tax1099Int`
    + `Tax1099K`
    + `Tax1099Ls`
    + `Tax1099Ltc`
    + `Tax1099Misc`
    + `Tax1099Nec`
    + `Tax1099Oid`
    + `Tax1099Patr`
    + `Tax1099Q`
    + `Tax1099Qa`
    + `Tax1099R`
    + `Tax1099S`
    + `Tax1099Sa`
    + `Tax1099Sb`
    + `Tax1120SK1`
    + `Tax2439`
    + `Tax3921`
    + `Tax3922`
    + `Tax5227K1`
    + `Tax5498`
    + `Tax5498Esa`
    + `Tax5498Qa`
    + `Tax5498Sa`
    + `TaxW2`
    + `TaxW2C`
    + `TaxW2G`
+ `issuer` (Tax Party8, optional) - Issuer's name, address, phone, and TIN. Issuer data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
+ `recipient` (Tax Party1, optional) - Recipient's name, address, phone, and TIN. Recipient data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
+ `attributes` (array[Tax Form Attribute], optional) - Additional attributes for this tax form when defined fields are not available. Some specific additional attributes already defined by providers: Fields required by [IRS FIRE](https://www.irs.gov/e-file-providers/filing-information-returns-electronically-fire): Name Control, Type of Identification Number (EIN, SSN, ITIN, ATIN). (ATIN is tax ID number for pending adoptions.) Tax form provider field for taxpayer notification: Recipient Email Address.
+ `error` (Error2, optional) - Present if an error was encountered while retrieving this form
+ `links` (array[HATEOAS Link], optional) - Links to retrieve this form as data or image, or to invoke other APIs
+ `businessName` (string, optional) - Box C, Business name
+ `sales` (number, optional) - Box 1, Gross receipts or sales
+ `returns` (number, optional) - Box 2, Returns and allowances
+ `otherIncome` (array[Description and Amount], optional) - Box 6, Other income, including federal and state gasoline or fuel tax credit or refund
+ `advertising` (number, optional) - Box 8, Advertising
+ `carAndTruck` (number, optional) - Box 9, Car and truck expenses
+ `commissions` (number, optional) - Box 10, Commissions and fees
+ `contractLabor` (number, optional) - Box 11, Contract labor
+ `depletion` (number, optional) - Box 12, Depletion
+ `depreciation` (number, optional) - Box 13, Depreciation
+ `employeeBenefits` (number, optional) - Box 14, Employee benefit programs
+ `insurance` (number, optional) - Box 15, Insurance
+ `mortgageInterest` (number, optional) - Box 16a, Mortgage interest
+ `otherInterest` (number, optional) - Box 16b, Other interest
+ `legal` (number, optional) - Box 17, Legal and professional services
+ `office` (number, optional) - Box 18, Office expense
+ `pension` (number, optional) - Box 19, Pension and profit-sharing plans
+ `equipmentRent` (number, optional) - Box 20a, Equipment rent
+ `otherRent` (number, optional) - Box 20b, Other rent
+ `repairs` (number, optional) - Box 21, Repairs and maintenance
+ `supplies` (number, optional) - Box 22, Supplies
+ `taxes` (number, optional) - Box 23, Taxes and licenses
+ `travel` (number, optional) - Box 24a, Travel
+ `meals` (number, optional) - Box 24b, Deductible meals
+ `utilities` (number, optional) - Box 25, Utilities
+ `wages` (number, optional) - Box 26, Wages
+ `otherExpenses` (array[Description and Amount], optional) - Box 27, Other expenses
+ `beginningInventory` (number, optional) - Box 35, Inventory at beginning of year
+ `purchases` (number, optional) - Box 36, Purchases
+ `costOfLabor` (number, optional) - Box 37, Cost of labor
+ `materials` (number, optional) - Box 38, Materials and supplies
+ `otherCosts` (array[Description and Amount], optional) - Box 39, Other costs
+ `endingInventory` (number, optional) - Box 41, Inventory at end of year
+ `capitalExpenditures` (array[Date and Amount], optional) - Capital expenditures, for use in calculating Depreciation


## AnnuityAccount (object)
Annuity Account

### Properties
+ `accountId` (string, optional) - Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
+ `accountType` (string, optional) - The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
+ `accountNumberDisplay` (string, optional) - Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
+ `currency` (Currency Entity, optional) - Indicates the currency code used by the account. May also include currency rate.
+ `description` (string, optional) 
+ `fiAttributes` (array[FiAttribute Entity], optional) 
+ `nickname` (string, optional) - Name given by the user. Used in UIs to assist in account selection
+ `productName` (string, optional) - Marketed product name for this account.  Used in UIs to assist in account selection
+ `status` (enum[string], optional) - The status of an account.
    + `OPEN`
    + `CLOSED`
    + `PENDINGOPEN`
    + `PENDINGCLOSE`
    + `DELINQUENT`
    + `PAID`
    + `NEGATIVECURRENTBALANCE`
+ `lineOfBusiness` (string, optional) - The line of business, such as consumer, consumer joint, small business, corporate, etc.
+ `balanceType` (enum[string], optional) - ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
    + `ASSET`
    + `LIABILITY`
+ `interestRate` (number, optional) - Interest Rate of Account
+ `interestRateType` (enum[string], optional) - The type of interest rate. FIXED or VARIABLE.
    + `FIXED`
    + `VARIABLE`
+ `interestRateAsOf` (string, optional) - Date of account’s interest rate
+ `lastActivityDate` (string, optional) - Date that last transaction occurred on account
+ `micrNumber` (string, optional) - MICR Number
+ `parentAccountId` (string, optional) - Long-term persistent identity of the parent account. This is used to group accounts.
+ `priorInterestRate` (number, optional) - Previous Interest Rate of Account
+ `transferIn` (boolean, optional) - Account is eligible for incoming transfers
+ `transferOut` (boolean, optional) - Account is eligible for outgoing transfers
+ `annuityProductType` (enum[string], optional) 
    + `CURRENCY`
    + `SHARES`
+ `annuityValueBasis` (enum[string], optional) 
    + `FIXED`
    + `VARIABLE`
+ `paymentFrequency` (enum[string], optional) 
    + `ANNUALLY`
    + `QUARTERLY`
    + `MONTHLY`
    + `WEEKLY`


## Annuity balances (object)
Data elements included with balances specific to annuity accounts

### Properties
+ `accountId` (string, optional) - Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
+ `accountType` (string, optional) - The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
+ `accountNumberDisplay` (string, optional) - Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
+ `currency` (Currency Entity, optional) - Indicates the currency code used by the account. May also include currency rate.
+ `description` (string, optional) 
+ `fiAttributes` (array[FiAttribute Entity], optional) 
+ `nickname` (string, optional) - Name given by the user. Used in UIs to assist in account selection
+ `productName` (string, optional) - Marketed product name for this account.  Used in UIs to assist in account selection
+ `status` (enum[string], optional) - The status of an account.
    + `OPEN`
    + `CLOSED`
    + `PENDINGOPEN`
    + `PENDINGCLOSE`
    + `DELINQUENT`
    + `PAID`
    + `NEGATIVECURRENTBALANCE`
+ `lineOfBusiness` (string, optional) - The line of business, such as consumer, consumer joint, small business, corporate, etc.
+ `balanceType` (enum[string], optional) - ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
    + `ASSET`
    + `LIABILITY`
+ `interestRate` (number, optional) - Interest Rate of Account
+ `interestRateType` (enum[string], optional) - The type of interest rate. FIXED or VARIABLE.
    + `FIXED`
    + `VARIABLE`
+ `interestRateAsOf` (string, optional) - Date of account’s interest rate
+ `lastActivityDate` (string, optional) - Date that last transaction occurred on account
+ `micrNumber` (string, optional) - MICR Number
+ `parentAccountId` (string, optional) - Long-term persistent identity of the parent account. This is used to group accounts.
+ `priorInterestRate` (number, optional) - Previous Interest Rate of Account
+ `transferIn` (boolean, optional) - Account is eligible for incoming transfers
+ `transferOut` (boolean, optional) - Account is eligible for outgoing transfers
+ `annuityProductType` (enum[string], optional) 
    + `CURRENCY`
    + `SHARES`
+ `annuityValueBasis` (enum[string], optional) 
    + `FIXED`
    + `VARIABLE`
+ `paymentFrequency` (enum[string], optional) 
    + `ANNUALLY`
    + `QUARTERLY`
    + `MONTHLY`
    + `WEEKLY`
+ `annualIncrease` (number, optional) - Percent or dollar amount of annual payment increase
+ `annualIncreaseType` (enum[string], optional) 
    + `FIXED`
    + `PERCENT`
    + `DOLLAR`
+ `netPresentValue` (number, optional) - Surrender or cash balance value
+ `paymentAmount` (number, optional) - Amount of the recurring payment
+ `paymentEndDate` (string, optional) - Date last payment will be made
+ `paymentStartDate` (string, optional) - Date of first payment; could be a future date
+ `periodCertainGuarantee` (enum[string], optional) 
    + `NO PERIOD CERTAIN`
    + `5-YEAR`
    + `10-YEAR`
    + `20-YEAR`
    + `30-YEAR`
+ `totalPaymentCount` (number, optional) - Total number of payments that will be produced by the annuity


## Code and Amount (object)
Code and amount pair used on IRS W-2, K-1, etc.

### Properties
+ `code` (string, optional) - Code
+ `amount` (number, optional) - Amount


## Contribution Entity (object)
Describes how new contributions are distributed among the available securities.

### Properties
+ `securityId` (string, optional) - Unique identifier of security
+ `securityIdType` (enum[string], optional) - Security identifier type
    + `CUSIP`
    + `ISIN`
    + `SEDOL`
    + `SICC`
    + `VALOR`
    + `WKN`
+ `employerMatchPercentage` (number, optional) - Employer contribution match percentage
+ `employerMatchAmount` (number, optional) - Employer contribution match amount
+ `employeePreTaxAmount` (number, optional) - Employee pre‐tax contribution amount
+ `employeePreTaxPercentage` (number, optional) - Employee pre‐tax contribution percentage
+ `employeeAfterTaxAmount` (number, optional) - Employee after tax contribution amount
+ `employeeAfterTaxPercentage` (number, optional) - Employee after tax contribution percentage
+ `employeeDeferPreTaxAmount` (number, optional) - Employee defer pre‐tax contribution match amount
+ `employeeDeferPreTaxPercentage` (number, optional) - Employee defer pre‐tax contribution match percentage
+ `employeeYearToDate` (number, optional) - Employee total year to date contribution
+ `employerYearToDate` (number, optional) - Employer total year to date contribution
+ `rolloverContributionPercentage` (number, optional) - Rollover contribution percentage
+ `rolloverContributionAmount` (number, optional) - Rollover contribution Amount


## Gain or loss from cryptocurrency transaction (object)
Tax information for a single cryptocurrency transaction. If reported on Form 1099-B, use Tax1099B and SecurityDetail instead of this entity.

### Properties
+ `cryptocurrencyName` (string, optional) - Cryptocurrency name (e.g. Bitcoin)
+ `symbol` (string, optional) - Cryptocurrency abbreviation or symbol (e.g. BTC)
+ `quantity` (number, optional) - Quantity (e.g. 0.0125662)
+ `saleDescription` (string, optional) - Description of property (1099-B box 1a)
+ `dateAcquired`: `2021-07-15` (string, optional) - Date acquired (1099-B box 1b)
+ `variousDatesAcquired` (boolean, optional) - Acquired on various dates (1099-B box 1b)
+ `dateOfSale`: `2021-07-15` (string, optional) - Date sold or disposed (1099-B box 1c)
+ `salesPrice` (number, optional) - Proceeds (not price per share, 1099-B box 1d)
+ `costBasis` (number, optional) - Cost or other basis (1099-B box 1e)
+ `longOrShort` (enum[string], optional) - LONG or SHORT (1099-B box 2)
    + `LONG`
    + `SHORT`


## Cryptocurrency Tax Statement list (object)
Array of cryptocurrency gains and losses

### Properties
+ `taxYear`: `2023` (number, optional) - Year for which taxes are being paid
+ `corrected` (boolean, optional) - True to indicate this is a corrected tax form
+ `accountId` (string, optional) - Long-term persistent identity of the source account. Not the account number
+ `taxFormId` (string, optional) - Long-term persistent id for this tax form. Depending upon the data provider, this may be the same id as the enclosing tax statement id, or this may be a different id, or this id may be omitted.
+ `taxFormDate`: `2021-07-15` (string, optional) - Date of production or delivery of the tax form
+ `additionalInformation` (string, optional) - Additional explanation text or content about this tax form
+ `taxFormType` (enum[string], optional) - Enumerated name of the tax form entity e.g. "TaxW2"
    + `BusinessIncomeStatement`
    + `CryptocurrencyTaxStatement`
    + `FarmIncomeStatement`
    + `FarmRentalIncomeStatement`
    + `RentalIncomeStatement`
    + `RoyaltyIncomeStatement`
    + `Tax1041K1`
    + `Tax1042S`
    + `Tax1065K1`
    + `Tax1095A`
    + `Tax1095B`
    + `Tax1095C`
    + `Tax1097Btc`
    + `Tax1098`
    + `Tax1098C`
    + `Tax1098E`
    + `Tax1098Ma`
    + `Tax1098Q`
    + `Tax1098T`
    + `Tax1099A`
    + `Tax1099B`
    + `Tax1099C`
    + `Tax1099Cap`
    + `Tax1099ConsolidatedStatement`
    + `Tax1099Div`
    + `Tax1099G`
    + `Tax1099H`
    + `Tax1099Int`
    + `Tax1099K`
    + `Tax1099Ls`
    + `Tax1099Ltc`
    + `Tax1099Misc`
    + `Tax1099Nec`
    + `Tax1099Oid`
    + `Tax1099Patr`
    + `Tax1099Q`
    + `Tax1099Qa`
    + `Tax1099R`
    + `Tax1099S`
    + `Tax1099Sa`
    + `Tax1099Sb`
    + `Tax1120SK1`
    + `Tax2439`
    + `Tax3921`
    + `Tax3922`
    + `Tax5227K1`
    + `Tax5498`
    + `Tax5498Esa`
    + `Tax5498Qa`
    + `Tax5498Sa`
    + `TaxW2`
    + `TaxW2C`
    + `TaxW2G`
+ `issuer` (Tax Party8, optional) - Issuer's name, address, phone, and TIN. Issuer data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
+ `recipient` (Tax Party1, optional) - Recipient's name, address, phone, and TIN. Recipient data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
+ `attributes` (array[Tax Form Attribute], optional) - Additional attributes for this tax form when defined fields are not available. Some specific additional attributes already defined by providers: Fields required by [IRS FIRE](https://www.irs.gov/e-file-providers/filing-information-returns-electronically-fire): Name Control, Type of Identification Number (EIN, SSN, ITIN, ATIN). (ATIN is tax ID number for pending adoptions.) Tax form provider field for taxpayer notification: Recipient Email Address.
+ `error` (Error2, optional) - Present if an error was encountered while retrieving this form
+ `links` (array[HATEOAS Link], optional) - Links to retrieve this form as data or image, or to invoke other APIs
+ `gainsAndLosses` (array[Gain or loss from cryptocurrency transaction], optional) - The list of cryptocurrency gains and losses


## Currency Entity (object)
Indicates the currency code used by the account. May also include currency rate.

### Properties
+ `currencyCode` (string, optional) - Iso 4217 currency code.
+ `currencyRate` (number, optional) - Currency rate between original and converted currency.
+ `originalCurrencyCode` (string, optional) - Iso 4217 currency code.


## customer (object)
Represents a customer (end-user)

### Properties
+ `customerId` (string, optional) - Long-term persistent identity of the end-user. This identity must be unique to the owning institution
+ `name` (name, optional) - The end-user's name


## DebtSecurity Entity (object)
Information about the debt security specific to the type of security

### Properties
+ `parValue` (number, optional) - Par value amount
+ `debtType` (enum[string], optional) - Debt type
    + `ASSET`
    + `COUPON`
+ `debtClass` (enum[string], optional) - Classification of debt
    + `TREASURY`
    + `MUNICIPAL`
    + `CORPORATE`
    + `OTHER`
+ `couponRate` (number, optional) - Bond coupon rate for next closest call date
+ `couponDate` (string, optional) - Maturity date for next coupon
+ `couponMatureFrequency` (enum[string], optional) - When coupons mature
    + `MONTHLY`
    + `QUARTERLY`
    + `SEMIANNUAL`
    + `ANNUAL`
    + `OTHER`
+ `callPrice` (number, optional) - Bond call price
+ `yieldToCall` (number, optional) - Yield to next call
+ `callDate` (string, optional) - Next call date
+ `callType` (enum[string], optional) - Type of next call
    + `CALL`
    + `PUT`
    + `PREFUND`
    + `MATURITY`
+ `yieldToMaturity` (number, optional) - Yield to maturity
+ `bondMaturityDate` (string, optional) - Bond Maturity date


## DepositAccount (object)
Deposit Account

### Properties
+ `accountId` (string, optional) - Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
+ `accountType` (string, optional) - The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
+ `accountNumberDisplay` (string, optional) - Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
+ `currency` (Currency Entity, optional) - Indicates the currency code used by the account. May also include currency rate.
+ `description` (string, optional) 
+ `fiAttributes` (array[FiAttribute Entity], optional) 
+ `nickname` (string, optional) - Name given by the user. Used in UIs to assist in account selection
+ `productName` (string, optional) - Marketed product name for this account.  Used in UIs to assist in account selection
+ `status` (enum[string], optional) - The status of an account.
    + `OPEN`
    + `CLOSED`
    + `PENDINGOPEN`
    + `PENDINGCLOSE`
    + `DELINQUENT`
    + `PAID`
    + `NEGATIVECURRENTBALANCE`
+ `lineOfBusiness` (string, optional) - The line of business, such as consumer, consumer joint, small business, corporate, etc.
+ `balanceType` (enum[string], optional) - ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
    + `ASSET`
    + `LIABILITY`
+ `interestRate` (number, optional) - Interest Rate of Account
+ `interestRateType` (enum[string], optional) - The type of interest rate. FIXED or VARIABLE.
    + `FIXED`
    + `VARIABLE`
+ `interestRateAsOf` (string, optional) - Date of account’s interest rate
+ `lastActivityDate` (string, optional) - Date that last transaction occurred on account
+ `micrNumber` (string, optional) - MICR Number
+ `parentAccountId` (string, optional) - Long-term persistent identity of the parent account. This is used to group accounts.
+ `priorInterestRate` (number, optional) - Previous Interest Rate of Account
+ `transferIn` (boolean, optional) - Account is eligible for incoming transfers
+ `transferOut` (boolean, optional) - Account is eligible for outgoing transfers
+ `annualPercentageYield` (number, optional) - Annual Percentage Yield.
+ `term` (number, optional) - Term of CD in months
+ `maturityDate` (string, optional) - Maturity date for CDs.


## Deposit balances (object)
Data elements included with balances specific to deposit accounts

### Properties
+ `accountId` (string, optional) - Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
+ `accountType` (string, optional) - The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
+ `accountNumberDisplay` (string, optional) - Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
+ `currency` (Currency Entity, optional) - Indicates the currency code used by the account. May also include currency rate.
+ `description` (string, optional) 
+ `fiAttributes` (array[FiAttribute Entity], optional) 
+ `nickname` (string, optional) - Name given by the user. Used in UIs to assist in account selection
+ `productName` (string, optional) - Marketed product name for this account.  Used in UIs to assist in account selection
+ `status` (enum[string], optional) - The status of an account.
    + `OPEN`
    + `CLOSED`
    + `PENDINGOPEN`
    + `PENDINGCLOSE`
    + `DELINQUENT`
    + `PAID`
    + `NEGATIVECURRENTBALANCE`
+ `lineOfBusiness` (string, optional) - The line of business, such as consumer, consumer joint, small business, corporate, etc.
+ `balanceType` (enum[string], optional) - ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
    + `ASSET`
    + `LIABILITY`
+ `interestRate` (number, optional) - Interest Rate of Account
+ `interestRateType` (enum[string], optional) - The type of interest rate. FIXED or VARIABLE.
    + `FIXED`
    + `VARIABLE`
+ `interestRateAsOf` (string, optional) - Date of account’s interest rate
+ `lastActivityDate` (string, optional) - Date that last transaction occurred on account
+ `micrNumber` (string, optional) - MICR Number
+ `parentAccountId` (string, optional) - Long-term persistent identity of the parent account. This is used to group accounts.
+ `priorInterestRate` (number, optional) - Previous Interest Rate of Account
+ `transferIn` (boolean, optional) - Account is eligible for incoming transfers
+ `transferOut` (boolean, optional) - Account is eligible for outgoing transfers
+ `annualPercentageYield` (number, optional) - Annual Percentage Yield.
+ `term` (number, optional) - Term of CD in months
+ `maturityDate` (string, optional) - Maturity date for CDs.
+ `balanceAsOf` (string, optional) - As-of date of balances
+ `openingDayBalance` (number, optional) - Day's opening fund balance
+ `availableBalance` (number, optional) - Balance of funds available for use
+ `interestYtd` (number, optional) - YTD Interest
+ `currentBalance` (number, optional) - Balance of funds in account


## depositTransaction (object)
Deposit transaction

### Properties
+ `accountId` (string, optional) - Corresponds to AccountId in Account
+ `amount` (number, optional)

    The amount of money in the account currency.
    
    If balanceType is `ASSET`:
    
      1. If `debitCreditMemo` = `DEBIT`, sign is "+" or not present
      2. If `CREDIT`, sign is "-"
    
    If balanceType is `LIABILITY`:
    
      1. If `debitCreditMemo` = `DEBIT`, sign is "-"
      2. If `CREDIT`, sign is "+" or not present

+ `category` (string, optional) - Transaction category, preferably MCC or SIC.
+ `debitCreditMemo` (enum[string], optional) - Akoya will ensure that this is correctly populated with one of DEBIT or CREDIT and matches the sign of the status field.
    + `DEBIT`
    + `CREDIT`
+ `description` (string, optional) - The description of the transaction
+ `imageIds` (array[string], optional) - Array of image identifiers (unique to transaction) used to retrieve images of check or transaction receipt.
+ `fiAttributes` (array[FiAttribute Entity], optional) - Array of FI-specific attributes
+ `foreignAmount` (number, optional) - The amount of money in the foreign currency
+ `foreignCurrency` (string, optional) - The ISO 4217 code of the foreign currency
+ `lineItem` (array[LineItem], optional) - Breakdown of the transaction details
+ `links` (array[HATEOAS Link], optional) - Links (unique to this Transaction) used to retrieve images of checks or transaction receipts, or invoke other APIs
+ `memo` (string, optional) - Secondary transaction description
+ `postedTimestamp` (string, optional) - The date and time that the transaction was posted to the account. If not provided then TransactionTimestamp can be used as PostedTimeStamp.
+ `reference` (string, optional) - A tracking reference identifier
+ `referenceTransactionId` (string, optional)

    Akoya ensures that this field is populated for all transactions which are reversals, otherwise it is null. Either way it is always present.
    
    For reverse postings, the identity of the transaction being reversed. For the correction transaction, the identity of the reversing post. For credit card posting transactions, the identity of the authorization transaction.

+ `status` (enum[string], optional) - AUTHORIZATION, MEMO, PENDING, or POSTED
    + `PENDING`
    + `MEMO`
    + `POSTED`
    + `AUTHORIZATION`
+ `subCategory` (string, optional) - Transaction category detail
+ `transactionId` (string, optional)

    Long term persistent identity of the transaction (unique to account). 
    Transaction IDs should: 
    
      1. be the same for pending and posted 
      2. be different for reversed transactions 
      3. `referenceTransactionId` should be present for reversed transactions'

+ `transactionTimestamp` (string, optional)

    The date and time that the transaction was added to the server backend systems.
    
    Akoya ensures that this field is populated for all transactions to which it applies, otherwise it is null. Either way it is always present.

+ `payee` (string, optional) - Payee name
+ `checkNumber` (number, optional) - Check Number
+ `transactionType` (enum[string], optional) - DepositTransaction Type
    + `CHECK`
    + `WITHDRAWAL`
    + `TRANSFER`
    + `POSDEBIT`
    + `ATMWITHDRAWAL`
    + `BILLPAYMENT`
    + `FEE`
    + `DEPOSIT`
    + `ADJUSTMENT`
    + `INTEREST`
    + `DIVIDEND`
    + `DIRECTDEPOSIT`
    + `ATMDEPOSIT`
    + `POSCREDIT`


## Date and Amount (object)
Date, description, and amount. When used in 1098-Q, description is optional

### Properties
+ `date`: `2021-07-15` (string, optional) - Date of amount. When used in 1098-Q, date of last payment in month
+ `description` (string, optional) - Description of amount. When used in 1098-Q, may use MonthAbbreviation
+ `amount` (number, optional) - Amount of payment or receipt. When used in 1098-Q, monthly total


## Description and Amount (object)
Description and amount pair used on IRS W-2, etc.

### Properties
+ `description` (string, optional) - Description
+ `amount` (number, optional) - Amount


## equityGrant (object)


### Properties
+ `grantId` (string, optional) - Unique identifier of grant
+ `grantDate` (string, optional) - Date grant was given
+ `grantType` (string, optional) - Type of grant
+ `seqNum` (number, optional) 
+ `grantPrice` (number, optional) - Grant price
+ `grantCurrencyCode` (string, optional) - Indicates the currency of grant USD vs AUD vs EUR etc (for share awards, you will still get a USD)
+ `quantityGranted` (number, optional) - Number of options
+ `quantityOutstanding` (number, optional) 
+ `expirationDate` (string, optional) - Date grant expires
+ `vestings` (array[vesting], optional) - An array of equityGrant vestings. Provides the past, present, and future vesting schedule and percentages.


## Error (object)
An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors

### Properties
+ `code` (number, optional) - Error code defined by FDX API Specification or Data Provider indicating the error situation which has occurred
+ `message` (string, optional) - End user displayable information which might help the customer diagnose an error
+ `debugMessage` (string, optional) - Message used to debug the root cause of the error. Contents should not be used in consumer's business logic. Can change at any time and should only be used for consumer to communicate with the data provider about an issue. Provider can include an error GUID in message for their use.


## Farm Income Statement (object)
Farm Income Statement for IRS Form 1040 Schedule F

### Properties
+ `taxYear`: `2023` (number, optional) - Year for which taxes are being paid
+ `corrected` (boolean, optional) - True to indicate this is a corrected tax form
+ `accountId` (string, optional) - Long-term persistent identity of the source account. Not the account number
+ `taxFormId` (string, optional) - Long-term persistent id for this tax form. Depending upon the data provider, this may be the same id as the enclosing tax statement id, or this may be a different id, or this id may be omitted.
+ `taxFormDate`: `2021-07-15` (string, optional) - Date of production or delivery of the tax form
+ `additionalInformation` (string, optional) - Additional explanation text or content about this tax form
+ `taxFormType` (enum[string], optional) - Enumerated name of the tax form entity e.g. "TaxW2"
    + `BusinessIncomeStatement`
    + `CryptocurrencyTaxStatement`
    + `FarmIncomeStatement`
    + `FarmRentalIncomeStatement`
    + `RentalIncomeStatement`
    + `RoyaltyIncomeStatement`
    + `Tax1041K1`
    + `Tax1042S`
    + `Tax1065K1`
    + `Tax1095A`
    + `Tax1095B`
    + `Tax1095C`
    + `Tax1097Btc`
    + `Tax1098`
    + `Tax1098C`
    + `Tax1098E`
    + `Tax1098Ma`
    + `Tax1098Q`
    + `Tax1098T`
    + `Tax1099A`
    + `Tax1099B`
    + `Tax1099C`
    + `Tax1099Cap`
    + `Tax1099ConsolidatedStatement`
    + `Tax1099Div`
    + `Tax1099G`
    + `Tax1099H`
    + `Tax1099Int`
    + `Tax1099K`
    + `Tax1099Ls`
    + `Tax1099Ltc`
    + `Tax1099Misc`
    + `Tax1099Nec`
    + `Tax1099Oid`
    + `Tax1099Patr`
    + `Tax1099Q`
    + `Tax1099Qa`
    + `Tax1099R`
    + `Tax1099S`
    + `Tax1099Sa`
    + `Tax1099Sb`
    + `Tax1120SK1`
    + `Tax2439`
    + `Tax3921`
    + `Tax3922`
    + `Tax5227K1`
[...]
