openapi: 3.0.0
info:
  title: Akoya APIs v2.4.0
  description: >-
    Akoya product APIs for data access. Default servers are set for the Akoya sandbox environment.


    Akoya APIs include the following updates:


    - v2.4.0
      - Added Tax product
    - v2.3.0
      - Removed erroneous `accountId` query param from Taxlots endpoint
      - Added TaxLots endpoint
    - v2.2.2
      - Added mode query parameter to Account Information, Balances, Investments, and Transactions to support standard mode.
      - Edited callouts for Account Holder endpoint
    - v2.2.1
      - Fixed typo in `accountIds` query parameter for `/accounts-info`, `/balances`, `/accounts`
      - Added security method for `Account holder information` to bear token. Missing method defaulted to basic auth.
      - Added examples and descriptions to some schemas
      - Added HTTP status `429` FDX error `1207`.
    - v2.2 Additions
      - Added optional `x-akoya-interaction-type` header to all endpoints to specify if a request is part of a batch process
      - Update of tags to organize endpoints by Akoya product
      - `206` response added to `/accounts-info`, `/balances`, `/accounts`
    - v2.1 New Statements product and Customers product updated with additional endpoint, `Account holder information`.

    - v2.0 Launch of Akoya products: Account Info, Balances, Investments, Transactions, Payments, Customers.
  contact:
    name: API Support
    url: http://www.akoya.com
    email: questions@akoya.com
  version: '2.4.0'
servers:
- url: https://sandbox-products.ddp.akoya.com
  description: Sandbox server
  variables: {}
- url: https://sandbox-idp.ddp.akoya.com
  description: Sandbox server
  variables: {}
- url: https://products.ddp.akoya.com
  description: Products server
  variables: {}
- url: https://sandbox-idp.ddp.akoya.com
  description: Products server
  variables: {}
paths:
  /accounts-info/{version}/{providerId}:
    get:
      tags:
      - Account information
      summary: get-accounts-info
      description: "Get basic account information including accountId, masked account number, type, description, etc.\n\nTo view the response schema, select the `200` response below. Then pick an option for annuity, deposit, insurance, investment, loan, and line of credit account types. \n\nFor an example payload response, see the `200` example response below the `Try it` feature. The example is from a deposit account but all account types are supported by this endpoint.\n\n> \U0001F6D1\n> \n> The *id_token* should be used as the bearer token with this call.\n\nUse the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:\n\n`https://sandbox-products.ddp.akoya.com/accounts-info/v2/mikomo?mode=standard`\n\n`mode` is available in both sandbox and production.\n\n`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter.\n\n"
      operationId: get-accounts-info
      parameters:
      - name: version
        in: path
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
        required: true
        style: simple
        schema:
          type: string
      - name: providerId
        in: path
        description: Id of provider
        required: true
        style: simple
        schema:
          type: string
      - name: x-akoya-interaction-type
        in: header
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/interactionType'
          - description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      - name: mode
        in: query
        description: BETA. Default is raw. Use standard for FDX-aligned, standardized data values.
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/Mode'
          - description: BETA. Default is raw. Use standard for FDX-aligned, standardized data values.
            example: raw
      responses:
        '200':
          description: OK
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AkoyaAccountInfoproduct'
                - description: An optionally paginated array of accounts
                  example:
                    accounts:
                    - investmentAccount:
                        accountId: '839502593'
                        accountType: College Savings
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        nickname: 529 for Kid
                    - investmentAccount:
                        accountId: '5426873'
                        accountNumberDisplay: '...7054'
                        accountType: BROKERAGE
                        allowedCheckWriting: false
                        currency:
                          currencyCode: USD
                        lastActivityDate: 2021-07-06T00:00:00Z
                        margin: false
                        nickname: Self-Directed
                        status: OPEN
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: g833202fb0866d0ad83472c429
                        accountNumberDisplay: xxxxxxxx0071
                        accountType: CHECKING
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        description: Checking Plus
                        fiAttributes:
                        - name: accountOpenedDate
                          value: 2020-04-23
                        - name: interestPaidLastYear
                          value: '3.20'
                        interestRate: 0.0125
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        lastActivityDate: 2022-04-24T14:15:22Z
                        lineOfBusiness: Personal
                        nickname: Nickname Checking Plus 0071
                        productName: Checking Plus
                        status: OPEN
                        transferIn: true
                        transferOut: true
                    - depositAccount:
                        accountId: 5dbda8de96eeff05f23934523a1fc258
                        accountNumberDisplay: xxxx0134
                        accountType: CHECKING
                        annualPercentageYield: 0
                        currency:
                          currencyCode: USD
                        description: Virtual Wallet Student Reserve
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        lastActivityDate: 2022-04-01T10:05:00Z
                        lineOfBusiness: LBRB
                        productName: Virtual Wallet Student Reserve
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        accountType: CD
                        annualPercentageYield: 0.75
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        description: Certificate of Deposit
                        fiAttributes:
                        - name: eStatements
                          value: 'False'
                        - name: interestPaidLastYear
                          value: '50.72'
                        - name: isTransactionsSupported
                          value: 'False'
                        - name: issueDate
                          value: 2019-03-21T00:00:00.000Z
                        - name: interestPayoutFrequency
                          value: Semi-Annually (And At Maturity)
                        interestRate: 0.75
                        lineOfBusiness: CONSUMER
                        maturityDate: 2024-03-21T00:00:00Z
                        nickname: Certificate of Deposit - 3691
                        parentAccountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        status: OPEN
                        term: 60
                        transactionsIncluded: false
                        transferIn: false
                        transferOut: false
                    - depositAccount:
                        accountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        accountType: SAVINGS
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        description: Savings
                        fiAttributes:
                        - name: eStatements
                          value: 'True'
                        interestRate: 0.01
                        lineOfBusiness: CONSUMER
                        nickname: Savings - 8537
                        parentAccountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        status: OPEN
                        transactionsIncluded: false
              examples:
                Successful Response:
                  value:
                    accounts:
                    - investmentAccount:
                        accountId: '839502593'
                        accountType: College Savings
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        nickname: 529 for Kid
                    - investmentAccount:
                        accountId: '5426873'
                        accountNumberDisplay: '...7054'
                        accountType: BROKERAGE
                        allowedCheckWriting: false
                        currency:
                          currencyCode: USD
                        lastActivityDate: 2021-07-06T00:00:00Z
                        margin: false
                        nickname: Self-Directed
                        status: OPEN
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: g833202fb0866d0ad83472c429
                        accountNumberDisplay: xxxxxxxx0071
                        accountType: CHECKING
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        description: Checking Plus
                        fiAttributes:
                        - name: accountOpenedDate
                          value: 2020-04-23
                        - name: interestPaidLastYear
                          value: '3.20'
                        interestRate: 0.0125
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        lastActivityDate: 2022-04-24T14:15:22Z
                        lineOfBusiness: Personal
                        nickname: Nickname Checking Plus 0071
                        productName: Checking Plus
                        status: OPEN
                        transferIn: true
                        transferOut: true
                    - depositAccount:
                        accountId: 5dbda8de96eeff05f23934523a1fc258
                        accountNumberDisplay: xxxx0134
                        accountType: CHECKING
                        annualPercentageYield: 0
                        currency:
                          currencyCode: USD
                        description: Virtual Wallet Student Reserve
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        lastActivityDate: 2022-04-01T10:05:00Z
                        lineOfBusiness: LBRB
                        productName: Virtual Wallet Student Reserve
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        accountType: CD
                        annualPercentageYield: 0.75
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        description: Certificate of Deposit
                        fiAttributes:
                        - name: eStatements
                          value: 'False'
                        - name: interestPaidLastYear
                          value: '50.72'
                        - name: isTransactionsSupported
                          value: 'False'
                        - name: issueDate
                          value: 2019-03-21T00:00:00.000Z
                        - name: interestPayoutFrequency
                          value: Semi-Annually (And At Maturity)
                        interestRate: 0.75
                        lineOfBusiness: CONSUMER
                        maturityDate: 2024-03-21T00:00:00Z
                        nickname: Certificate of Deposit - 3691
                        parentAccountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        status: OPEN
                        term: 60
                        transactionsIncluded: false
                        transferIn: false
                        transferOut: false
                    - depositAccount:
                        accountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        accountType: SAVINGS
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        description: Savings
                        fiAttributes:
                        - name: eStatements
                          value: 'True'
                        interestRate: 0.01
                        lineOfBusiness: CONSUMER
                        nickname: Savings - 8537
                        parentAccountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        status: OPEN
                        transactionsIncluded: false
        '206':
          description: Partial Content. Success searching for accounts. Some errors are being returned.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AkoyaAccountInfoproduct'
                - description: An optionally paginated array of accounts
                  example:
                    value:
                      accounts:
                      - investmentAccount:
                          accountId: '839502593'
                          accountType: College Savings
                          balanceType: ASSET
                          currency:
                            currencyCode: USD
                          nickname: '529'
                      - investmentAccount:
                          error:
                            code: 704
                            message: Account type not supported
              examples:
                Partial Content:
                  value:
                    value:
                      accounts:
                      - investmentAccount:
                          accountId: '839502593'
                          accountType: College Savings
                          balanceType: ASSET
                          currency:
                            currencyCode: USD
                          nickname: '529'
                      - investmentAccount:
                          error:
                            code: 704
                            message: Account type not supported
        '400':
          description: Invalid Input
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 401
                    message: Invalid input
                    debugMessage: Invalid Input.
              examples:
                Invalid Input:
                  value:
                    code: 401
                    message: Invalid input
                    debugMessage: Invalid Input.
        '401':
          description: Customer not authorized.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 602
                    message: Customer not authorized
                    debugMessage: Customer not authorized.
              examples:
                Customer Not Authorized:
                  value:
                    code: 602
                    message: Customer not authorized
                    debugMessage: Customer not authorized.
        '404':
          description: 701 - Tax Lots not found. The `holdingId` may be wrong.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 701
                    message: Account not found
                    debugMessage: Account not found.
              examples:
                Tax Lots Not Found:
                  value:
                    code: 701
                    message: Account not found
                    debugMessage: Account not found.
        '405':
          description: Method Not Allowed
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            text/plain:
              schema:
                type: string
                description: A string error entity
                example: Method Not Found
              examples:
                Method Not Found:
                  value: Method Not Found
        '406':
          description: Content Type not Supported
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 1203
                    message: Content Type not Supported
                    debugMessage: Data Provider's custom developer-level error details for troubleshooting.
              examples:
                Content Type not Supported:
                  value:
                    code: 1203
                    message: Content Type not Supported
                    debugMessage: Data Provider's custom developer-level error details for troubleshooting.
        '408':
          description: Request timed out (round trip call took >10 seconds).
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 408
                    message: Request Timeout.
                    debugMessage: Request Timeout.
              examples:
                Request Timeout:
                  value:
                    code: 408
                    message: Request Timeout.
                    debugMessage: Request Timeout.
        '429':
          description: 1207 - Too many requests
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 1207
                    message: Too many requests
                    debugMessage: Too many requests.
              examples:
                Too Many Requests:
                  value:
                    code: 1207
                    message: Too many requests
                    debugMessage: Too many requests.
        '500':
          description: Internal Server Error.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 500
                    message: Internal server error
                    debugMessage: Internal server error.
              examples:
                Internal Server Error:
                  value:
                    code: 500
                    message: Internal server error
                    debugMessage: Internal server error.
        '501':
          description: FdxVersion in header is not implemented.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 1106
                    message: FdxVersion not supported or not implemented
                    debugMessage: FdxVersion not supported or not implemented.
              examples:
                FDX Version Not Supported or Not Implemented:
                  value:
                    code: 1106
                    message: FdxVersion not supported or not implemented
                    debugMessage: FdxVersion not supported or not implemented.
        '503':
          description: System is down for maintenance.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 503
                    message: Scheduled Maintenance
                    debugMessage: Scheduled maintenance.
              examples:
                Scheduled Maintenance:
                  value:
                    code: 503
                    message: Scheduled Maintenance
                    debugMessage: Scheduled maintenance.
      deprecated: false
      security:
      - bearerAuth: []
  /balances/{version}/{providerId}:
    get:
      tags:
      - Balances
      summary: get-balances
      description: "Account information that includes balances and rates of bank accounts, credit cards, loans, investments, and more.\n\nTo view the response schema, select the `200` response below. Then pick an option for annuity, deposit, insurance, investment, loan, and line of credit account types. \n\nFor an example payload response, see the `200` example response below the `Try it` feature. The example is from a deposit account but all account types are supported by this endpoint.\n\n> \U0001F6D1\n> \n> The *id_token* should be used as the bearer token with this call.\n\nUse the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:\n\n`https://sandbox-products.ddp.akoya.com/balances/v2/mikomo?mode=standard`\n\n`mode` is available in both sandbox and production.\n\n`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter."
      operationId: get-balances
      parameters:
      - name: version
        in: path
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
        required: true
        style: simple
        schema:
          type: string
      - name: providerId
        in: path
        description: Id of provider
        required: true
        style: simple
        schema:
          type: string
      - name: x-akoya-interaction-type
        in: header
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/interactionType'
          - description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      - name: mode
        in: query
        description: BETA. Default is raw. Use standard for FDX-aligned, standardized data values.
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/Mode'
          - description: BETA. Default is raw. Use standard for FDX-aligned, standardized data values.
            example: raw
      responses:
        '200':
          description: OK
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/balances'
                - example:
                    accounts:
                    - investmentAccount:
                        accountId: '839502593'
                        accountType: College Savings
                        availableCashBalance: 0
                        balanceAsOf: 2022-03-16T04:00:00Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentValue: 52672.49
                        marginBalance: 0
                        nickname: 529 for Kid
                    - investmentAccount:
                        accountId: '5426873'
                        accountNumberDisplay: '...7054'
                        accountType: BROKERAGE
                        allowedCheckWriting: false
                        availableCashBalance: 0
                        balanceList:
                        - balanceDate: 2021-07-06
                          balanceDescription: Margin Call
                          balanceName: MARGINCALL
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-06
                          balanceDescription: Fed Call
                          balanceName: FEDCALL
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-06
                          balanceDescription: Intra Day
                          balanceName: INTRADAY
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-05
                          balanceDescription: Prior Day
                          balanceName: PRIORDAY
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        currency:
                          currencyCode: USD
                        lastActivityDate: 2021-07-06T00:00:00Z
                        margin: false
                        marginBalance: 0
                        nickname: Self-Directed
                        shortBalance: 0
                        status: OPEN
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: g833202fb0866d0ad83472c429
                        accountNumberDisplay: xxxxxxxx0071
                        accountType: CHECKING
                        availableBalance: 106717.06
                        balanceAsOf: 2022-04-24T14:15:22Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentBalance: 106717.06
                        description: Checking Plus
                        fiAttributes:
                        - name: accountOpenedDate
                          value: 2020-04-23
                        - name: interestPaidLastYear
                          value: '3.20'
                        interestRate: 0.0125
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        interestYtd: 20.33
                        lastActivityDate: 2022-04-24T14:15:22Z
                        lineOfBusiness: Personal
                        nickname: Nickname Checking Plus 0071
                        productName: Checking Plus
                        status: OPEN
                        transferIn: true
                        transferOut: true
                    - depositAccount:
                        accountId: 5dbda8de96eeff05f23934523a1fc258
                        accountNumberDisplay: xxxx0134
                        accountType: CHECKING
                        annualPercentageYield: 0
                        availableBalance: 0
                        balanceAsOf: 2022-04-24T14:15:22Z
                        currency:
                          currencyCode: USD
                        currentBalance: 0
                        description: Virtual Wallet Student Reserve
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        lastActivityDate: 2022-04-01T10:05:00Z
                        lineOfBusiness: LBRB
                        openingDayBalance: 0
                        productName: Virtual Wallet Student Reserve
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        accountType: CD
                        annualPercentageYield: 0.75
                        availableBalance: 6808.29
                        balanceAsOf: 2021-04-07T10:20:43.276Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        currentBalance: 6808.29
                        description: Certificate of Deposit
                        fiAttributes:
                        - name: eStatements
                          value: 'False'
                        - name: interestPaidLastYear
                          value: '50.72'
                        - name: isTransactionsSupported
                          value: 'False'
                        - name: issueDate
                          value: 2019-03-21T00:00:00.000Z
                        - name: interestPayoutFrequency
                          value: Semi-Annually (And At Maturity)
                        interestRate: 0.75
                        interestYtd: 25.24
                        lineOfBusiness: CONSUMER
                        maturityDate: 2024-03-21T00:00:00Z
                        nickname: Certificate of Deposit - 3691
                        openingDayBalance: 2000
                        parentAccountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        status: OPEN
                        term: 60
                        transactionsIncluded: false
                        transferIn: false
                        transferOut: false
                    - depositAccount:
                        accountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        accountType: SAVINGS
                        availableBalance: 20608.9
                        balanceAsOf: 2021-04-07T10:08:11.833Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        currentBalance: 20608.9
                        description: Savings
                        fiAttributes:
                        - name: eStatements
                          value: 'True'
                        interestRate: 0.01
                        interestYtd: 0.29
                        lineOfBusiness: CONSUMER
                        nickname: Savings - 8537
                        openingDayBalance: 20608.9
                        parentAccountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        status: OPEN
                        transactionsIncluded: false
              examples:
                Successful Response:
                  value:
                    accounts:
                    - investmentAccount:
                        accountId: '839502593'
                        accountType: College Savings
                        availableCashBalance: 0
                        balanceAsOf: 2022-03-16T04:00:00Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentValue: 52672.49
                        marginBalance: 0
                        nickname: 529 for Kid
                    - investmentAccount:
                        accountId: '5426873'
                        accountNumberDisplay: '...7054'
                        accountType: BROKERAGE
                        allowedCheckWriting: false
                        availableCashBalance: 0
                        balanceList:
                        - balanceDate: 2021-07-06
                          balanceDescription: Margin Call
                          balanceName: MARGINCALL
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-06
                          balanceDescription: Fed Call
                          balanceName: FEDCALL
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-06
                          balanceDescription: Intra Day
                          balanceName: INTRADAY
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-05
                          balanceDescription: Prior Day
                          balanceName: PRIORDAY
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        currency:
                          currencyCode: USD
                        lastActivityDate: 2021-07-06T00:00:00Z
                        margin: false
                        marginBalance: 0
                        nickname: Self-Directed
                        shortBalance: 0
                        status: OPEN
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: g833202fb0866d0ad83472c429
                        accountNumberDisplay: xxxxxxxx0071
                        accountType: CHECKING
                        availableBalance: 106717.06
                        balanceAsOf: 2022-04-24T14:15:22Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentBalance: 106717.06
                        description: Checking Plus
                        fiAttributes:
                        - name: accountOpenedDate
                          value: 2020-04-23
                        - name: interestPaidLastYear
                          value: '3.20'
                        interestRate: 0.0125
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        interestYtd: 20.33
                        lastActivityDate: 2022-04-24T14:15:22Z
                        lineOfBusiness: Personal
                        nickname: Nickname Checking Plus 0071
                        productName: Checking Plus
                        status: OPEN
                        transferIn: true
                        transferOut: true
                    - depositAccount:
                        accountId: 5dbda8de96eeff05f23934523a1fc258
                        accountNumberDisplay: xxxx0134
                        accountType: CHECKING
                        annualPercentageYield: 0
                        availableBalance: 0
                        balanceAsOf: 2022-04-24T14:15:22Z
                        currency:
                          currencyCode: USD
                        currentBalance: 0
                        description: Virtual Wallet Student Reserve
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        lastActivityDate: 2022-04-01T10:05:00Z
                        lineOfBusiness: LBRB
                        openingDayBalance: 0
                        productName: Virtual Wallet Student Reserve
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        accountType: CD
                        annualPercentageYield: 0.75
                        availableBalance: 6808.29
                        balanceAsOf: 2021-04-07T10:20:43.276Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        currentBalance: 6808.29
                        description: Certificate of Deposit
                        fiAttributes:
                        - name: eStatements
                          value: 'False'
                        - name: interestPaidLastYear
                          value: '50.72'
                        - name: isTransactionsSupported
                          value: 'False'
                        - name: issueDate
                          value: 2019-03-21T00:00:00.000Z
                        - name: interestPayoutFrequency
                          value: Semi-Annually (And At Maturity)
                        interestRate: 0.75
                        interestYtd: 25.24
                        lineOfBusiness: CONSUMER
                        maturityDate: 2024-03-21T00:00:00Z
                        nickname: Certificate of Deposit - 3691
                        openingDayBalance: 2000
                        parentAccountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        status: OPEN
                        term: 60
                        transactionsIncluded: false
                        transferIn: false
                        transferOut: false
                    - depositAccount:
                        accountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        accountType: SAVINGS
                        availableBalance: 20608.9
                        balanceAsOf: 2021-04-07T10:08:11.833Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        currentBalance: 20608.9
                        description: Savings
                        fiAttributes:
                        - name: eStatements
                          value: 'True'
                        interestRate: 0.01
                        interestYtd: 0.29
                        lineOfBusiness: CONSUMER
                        nickname: Savings - 8537
                        openingDayBalance: 20608.9
                        parentAccountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        status: OPEN
                        transactionsIncluded: false
        '206':
          description: Partial Content. Success searching for accounts. Some errors are being returned.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/balances'
                - example:
                    accounts:
                    - investmentAccount:
                        accountId: '839502593'
                        accountType: College Savings
                        availableCashBalance: 0
                        balanceAsOf: 2022-03-16T04:00:00Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentValue: 52672.49
                        marginBalance: 0
                        nickname: 529 for Kid
                    - depositAccount:
                        error:
                          code: 704
                          message: Account type not supported
              examples:
                Partial Content:
                  value:
                    accounts:
                    - investmentAccount:
                        accountId: '839502593'
                        accountType: College Savings
                        availableCashBalance: 0
                        balanceAsOf: 2022-03-16T04:00:00Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentValue: 52672.49
                        marginBalance: 0
                        nickname: 529 for Kid
                    - depositAccount:
                        error:
                          code: 704
                          message: Account type not supported
        '400':
          description: Invalid Input
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 401
                    message: Invalid input
                    debugMessage: Invalid Input.
              examples:
                Invalid Input:
                  value:
                    code: 401
                    message: Invalid input
                    debugMessage: Invalid Input.
        '401':
          description: Customer not authorized.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 602
                    message: Customer not authorized
                    debugMessage: Customer not authorized.
              examples:
                Customer Not Authorized:
                  value:
                    code: 602
                    message: Customer not authorized
                    debugMessage: Customer not authorized.
        '404':
          description: 701 - Tax Lots not found. The `holdingId` may be wrong.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 701
                    message: Account not found
                    debugMessage: Account not found.
              examples:
                Tax Lots Not Found:
                  value:
                    code: 701
                    message: Account not found
                    debugMessage: Account not found.
        '405':
          description: Method Not Allowed
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            text/plain:
              schema:
                type: string
                description: A string error entity
                example: Method Not Found
              examples:
                Method Not Found:
                  value: Method Not Found
        '406':
          description: Content Type not Supported
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 1203
                    message: Content Type not Supported
                    debugMessage: Data Provider's custom developer-level error details for troubleshooting.
              examples:
                Content Type not Supported:
                  value:
                    code: 1203
                    message: Content Type not Supported
                    debugMessage: Data Provider's custom developer-level error details for troubleshooting.
        '408':
          description: Request timed out (round trip call took >10 seconds).
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 408
                    message: Request Timeout.
                    debugMessage: Request Timeout.
              examples:
                Request Timeout:
                  value:
                    code: 408
                    message: Request Timeout.
                    debugMessage: Request Timeout.
        '429':
          description: 1207 - Too many requests
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 1207
                    message: Too many requests
                    debugMessage: Too many requests.
              examples:
                Too Many Requests:
                  value:
                    code: 1207
                    message: Too many requests
                    debugMessage: Too many requests.
        '500':
          description: Internal Server Error.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 500
                    message: Internal server error
                    debugMessage: Internal server error.
              examples:
                Internal Server Error:
                  value:
                    code: 500
                    message: Internal server error
                    debugMessage: Internal server error.
        '501':
          description: FdxVersion in header is not implemented.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 1106
                    message: FdxVersion not supported or not implemented
                    debugMessage: FdxVersion not supported or not implemented.
              examples:
                FDX Version Not Supported or Not Implemented:
                  value:
                    code: 1106
                    message: FdxVersion not supported or not implemented
                    debugMessage: FdxVersion not supported or not implemented.
        '503':
          description: System is down for maintenance.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 503
                    message: Scheduled Maintenance
                    debugMessage: Scheduled maintenance.
              examples:
                Scheduled Maintenance:
                  value:
                    code: 503
                    message: Scheduled Maintenance
                    debugMessage: Scheduled maintenance.
      deprecated: false
      security:
      - bearerAuth: []
  /customers/{version}/{providerId}/current:
    get:
      tags:
      - Customers
      summary: customer-info
      description: "This product supports use cases such as payment enablement, account opening, and identity verification. Responses return information about the authorized end-user, the customer associated with the `id_token` used in the call. This information may include, but is not limited to, the customer identifier, name, email, address, and phone number.\n\n<br>\n\nTo see the response schema, select the `200` response below. For an example payload response, see the `200` example response below the *Try it* feature. \n\nThis product requires consumer consent to share all account holder information.\n\n> \U0001F6D1 The `id_token` should be used as the bearer token with this call.\n> "
      operationId: customer-info
      parameters:
      - name: version
        in: path
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
        required: true
        style: simple
        schema:
          type: string
      - name: providerId
        in: path
        description: Id of provider
        required: true
        style: simple
        schema:
          type: string
      - name: x-akoya-interaction-type
        in: header
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/interactionType'
          - description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      responses:
        '200':
          description: OK
          headers:
            x-akoya-interaction-id:
              description: Akoya tracking id for logging or support.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya tracking id for logging or support.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/customer'
                - description: Represents a customer (end-user)
        '405':
          description: Method Not Allowed
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            text/plain:
              schema:
                type: string
                description: A string error entity
                example: Method Not Found
              examples:
                Method Not Found:
                  value: Method Not Found
        '408':
          description: Request timed out (round trip call took >10 seconds).
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 408
                    message: Request Timeout.
                    debugMessage: Request Timeout.
              examples:
                Request Timeout:
                  value:
                    code: 408
                    message: Request Timeout.
                    debugMessage: Request Timeout.
      deprecated: false
      security:
      - bearerAuth: []
  /contacts/{version}/{providerId}/{accountId}:
    get:
      tags:
      - Customers
      summary: get-account-holder
      description: "This product supports use cases such as payment enablement, account opening, identity verification,or lending & credit enhancement. Responses return information about the authorized consumer, the customer associated with the `id_token` used in the call, and the relationship specific to the provided `accountId`.\n\n> \U0001F4CC Please note!\n>\n> This endpoint provides additional information which may not be required for your use case, making it inefficient compared to the [/customer info](https://docs.akoya.com/reference/customer-info) endpoint. Please refer to to the [Customers guide](https://docs.akoya.com/reference/customers) for more information about this endpoint.\n\nGet account holder information. Based on FDX 5.2.1.\n\nThis product requires consumer consent to share all account holder information.\n\n> \U0001F6D1 The `id_token` should be used as the bearer token with this call.\n> \n"
      operationId: get-account-holder
      parameters:
      - name: accountId
        in: path
        description: Account Identifier
        required: true
        style: simple
        schema:
          type: string
      - name: version
        in: path
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
        required: true
        style: simple
        schema:
          type: string
      - name: providerId
        in: path
        description: Id of provider
        required: true
        style: simple
        schema:
          type: string
      - name: x-akoya-interaction-type
        in: header
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/interactionType'
          - description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      responses:
        '200':
          description: OK
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AccountContactentity'
                - description: Contact information for the account
                  example:
                    holders:
                    - customerId: string
                      name:
                        first: string
                        middle: string
                        last: string
                        prefix: string
                        suffix: string
                        company: string
                      businessCustomer:
                        name: string
                        registeredAgents:
                        - first: string
                          middle: string
                          last: string
                          prefix: string
                          suffix: string
                          company: string
                        registeredId: string
                        industryCode:
                          type: string
                          code: string
                        domicile:
                          region: string
                          country: string
                      addresses:
                      - line1: string
                        line2: string
                        line3: string
                        city: string
                        state: string
                        region: string
                        postalCode: string
                        country: string
                        type: string
                      telephones:
                      - number: string
                        type: HOME
                        country: string
                      email:
                      - string
                      accounts:
                      - accountId: string
                        relationship: AUTHORIZED_USER
                      relationship: AUTHORIZED_USER
                    emails:
                    - string
                    addresses:
                    - line1: string
                      line2: string
                      line3: string
                      city: string
                      state: string
                      region: string
                      postalCode: string
                      country: string
                      type: string
                    telephones:
                    - type: HOME
                      country: string
                      number: '8675309'
              examples:
                Successful Response:
                  value:
                    holders:
                    - customerId: string
                      name:
                        first: string
                        middle: string
                        last: string
                        prefix: string
                        suffix: string
                        company: string
                      businessCustomer:
                        name: string
                        registeredAgents:
                        - first: string
                          middle: string
                          last: string
                          prefix: string
                          suffix: string
                          company: string
                        registeredId: string
                        industryCode:
                          type: string
                          code: string
                        domicile:
                          region: string
                          country: string
                      addresses:
                      - line1: string
                        line2: string
                        line3: string
                        city: string
                        state: string
                        region: string
                        postalCode: string
                        country: string
                        type: string
                      telephones:
                      - number: string
                        type: HOME
                        country: string
                      email:
                      - string
                      accounts:
                      - accountId: string
                        relationship: AUTHORIZED_USER
                      relationship: AUTHORIZED_USER
                    emails:
                    - string
                    addresses:
                    - line1: string
                      line2: string
                      line3: string
                      city: string
                      state: string
                      region: string
                      postalCode: string
                      country: string
                      type: string
                    telephones:
                    - type: HOME
                      country: string
                      number: '8675309'
        '404':
          description: Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 701
                    message: Account not found.
              examples:
                Account Not Found:
                  value:
                    code: 701
                    message: Account not found.
        '405':
          description: Method Not Allowed
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            text/plain:
              schema:
                type: string
                description: A string error entity
                example: Method Not Found
              examples:
                Method Not Found:
                  value: Method Not Found
        '408':
          description: Request timed out (round trip call took >10 seconds).
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
                  example:
                    code: 408
                    message: Request Timeout.
                    debugMessage: Request Timeout.
              examples:
                Request Timeout:
                  value:
                    code: 408
                    message: Request Timeout.
                    debugMessage: Request Timeout.
      deprecated: false
      security:
      - bearerAuth: []
  /accounts/{version}/{providerId}:
    get:
      tags:
      - Investments
      summary: get-accounts
      description: "Get detailed account information that includes Akoya products Account Info and Balances for all account types (annunity, deposit, insurance, investments, line of credit, and loan) and adds the Investments product to investment accounts including contributions, holdings, vesting information, and more.\n\nTo view the response schema, select the `200` response below. Then pick an option for annuity, deposit, insurance, investment, loan, and line of credit account types. \n\nFor an example payload response, see the `200` example response below the `Try it` feature. The example is from an investment account but all account types are supported and returned by this endpoint.\n\n> \U0001F6D1\n> \n> The *id_token* should be used as the bearer token with this call.\n\nUse the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:\n\n`https://sandbox-products.ddp.akoya.com/accounts/v2/mikomo?mode=standard`\n\n`mode` is available in both sandbox and production.\n\n`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter."
      operationId: get-accounts
      parameters:
      - name: version
        in: path
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
        required: true
        style: simple
        schema:
          type: string
      - name: providerId
        in: path
        description: Id of provider
        required: true
        style: simple
        schema:
          type: string
      - name: x-akoya-interaction-type
        in: header
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/interactionType'
          - description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      - name: mode
        in: query
        description: BETA. Default is raw. Use standard for FDX-aligned, standardized data values.
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/Mode'
          - description: BETA. Default is raw. Use standard for FDX-aligned, standardized data values.
            example: raw
      responses:
        '200':
          description: OK
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/investments'
                - example:
                    accounts:
                    - investmentAccount:
                        accountId: '839502593'
                        accountType: College Savings
                        availableCashBalance: 0
                        balanceAsOf: 2022-03-16T04:00:00Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentValue: 52672.49
                        holdings:
                        - assetClasses:
                          - assetClass: DOMESTICBOND
                            percent: 0
                          cashAccount: false
                          marketValue: 52672.49
                          mutualFundSecurity:
                            mutualFundType: OPENEND
                            reinvestCapitalGains: true
                            reinvestDividends: true
                            unitsStreet: 0
                            unitsUser: 0
                            yield: 0
                            yieldAsOfDate: 2019-08-24T14:15:22Z
                          positionType: LONG
                          purchasedPrice: 18.42
                          securityIdType: ISIN
                          units: 2088.521
                        marginBalance: 0
                        nickname: 529 for Kid
                    - investmentAccount:
                        accountId: '5426873'
                        accountNumberDisplay: '...7054'
                        accountType: BROKERAGE
                        allowedCheckWriting: false
                        availableCashBalance: 0
                        balanceList:
                        - balanceDate: 2021-07-06
                          balanceDescription: Margin Call
                          balanceName: MARGINCALL
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-06
                          balanceDescription: Fed Call
                          balanceName: FEDCALL
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-06
                          balanceDescription: Intra Day
                          balanceName: INTRADAY
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-05
                          balanceDescription: Prior Day
                          balanceName: PRIORDAY
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        currency:
                          currencyCode: USD
                        lastActivityDate: 2021-07-06T00:00:00Z
                        margin: false
                        marginBalance: 0
                        nickname: Self-Directed
                        shortBalance: 0
                        status: OPEN
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: g833202fb0866d0ad83472c429
                        accountNumberDisplay: xxxxxxxx0071
                        accountType: CHECKING
                        availableBalance: 106717.06
                        balanceAsOf: 2022-04-24T14:15:22Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentBalance: 106717.06
                        description: Checking Plus
                        fiAttributes:
                        - name: accountOpenedDate
                          value: 2020-04-23
                        - name: interestPaidLastYear
                          value: '3.20'
                        interestRate: 0.0125
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        interestYtd: 20.33
                        lastActivityDate: 2022-04-24T14:15:22Z
                        lineOfBusiness: Personal
                        nickname: Nickname Checking Plus 0071
                        productName: Checking Plus
                        status: OPEN
                        transferIn: true
                        transferOut: true
                    - depositAccount:
                        accountId: 5dbda8de96eeff05f23934523a1fc258
                        accountNumberDisplay: xxxx0134
                        accountType: CHECKING
                        annualPercentageYield: 0
                        availableBalance: 0
                        balanceAsOf: 2022-04-24T14:15:22Z
                        currency:
                          currencyCode: USD
                        currentBalance: 0
                        description: Virtual Wallet Student Reserve
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        lastActivityDate: 2022-04-01T10:05:00Z
                        lineOfBusiness: LBRB
                        openingDayBalance: 0
                        productName: Virtual Wallet Student Reserve
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        accountType: CD
                        annualPercentageYield: 0.75
                        availableBalance: 6808.29
                        balanceAsOf: 2021-04-07T10:20:43.276Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        currentBalance: 6808.29
                        description: Certificate of Deposit
                        fiAttributes:
                        - name: eStatements
                          value: 'False'
                        - name: interestPaidLastYear
                          value: '50.72'
                        - name: isTransactionsSupported
                          value: 'False'
                        - name: issueDate
                          value: 2019-03-21T00:00:00.000Z
                        - name: interestPayoutFrequency
                          value: Semi-Annually (And At Maturity)
                        interestRate: 0.75
                        interestYtd: 25.24
                        lineOfBusiness: CONSUMER
                        maturityDate: 2024-03-21T00:00:00Z
                        nickname: Certificate of Deposit - 3691
                        openingDayBalance: 2000
                        parentAccountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        status: OPEN
                        term: 60
                        transactionsIncluded: false
                        transferIn: false
                        transferOut: false
                    - depositAccount:
                        accountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        accountType: SAVINGS
                        availableBalance: 20608.9
                        balanceAsOf: 2021-04-07T10:08:11.833Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        currentBalance: 20608.9
                        description: Savings
                        fiAttributes:
                        - name: eStatements
                          value: 'True'
                        interestRate: 0.01
                        interestYtd: 0.29
                        lineOfBusiness: CONSUMER
                        nickname: Savings - 8537
                        openingDayBalance: 20608.9
                        parentAccountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        status: OPEN
                        transactionsIncluded: false
              examples:
                Successful Response:
                  value:
                    accounts:
                    - investmentAccount:
                        accountId: '839502593'
                        accountType: College Savings
                        availableCashBalance: 0
                        balanceAsOf: 2022-03-16T04:00:00Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentValue: 52672.49
                        holdings:
                        - assetClasses:
                          - assetClass: DOMESTICBOND
                            percent: 0
                          cashAccount: false
                          marketValue: 52672.49
                          mutualFundSecurity:
                            mutualFundType: OPENEND
                            reinvestCapitalGains: true
                            reinvestDividends: true
                            unitsStreet: 0
                            unitsUser: 0
                            yield: 0
                            yieldAsOfDate: 2019-08-24T14:15:22Z
                          positionType: LONG
                          purchasedPrice: 18.42
                          securityIdType: ISIN
                          units: 2088.521
                        marginBalance: 0
                        nickname: 529 for Kid
                    - investmentAccount:
                        accountId: '5426873'
                        accountNumberDisplay: '...7054'
                        accountType: BROKERAGE
                        allowedCheckWriting: false
                        availableCashBalance: 0
                        balanceList:
                        - balanceDate: 2021-07-06
                          balanceDescription: Margin Call
                          balanceName: MARGINCALL
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-06
                          balanceDescription: Fed Call
                          balanceName: FEDCALL
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-06
                          balanceDescription: Intra Day
                          balanceName: INTRADAY
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        - balanceDate: 2021-07-05
                          balanceDescription: Prior Day
                          balanceName: PRIORDAY
                          balanceType: AMOUNT
                          balanceValue: 0
                          currency:
                            currencyCode: USD
                        currency:
                          currencyCode: USD
                        lastActivityDate: 2021-07-06T00:00:00Z
                        margin: false
                        marginBalance: 0
                        nickname: Self-Directed
                        shortBalance: 0
                        status: OPEN
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: g833202fb0866d0ad83472c429
                        accountNumberDisplay: xxxxxxxx0071
                        accountType: CHECKING
                        availableBalance: 106717.06
                        balanceAsOf: 2022-04-24T14:15:22Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentBalance: 106717.06
                        description: Checking Plus
                        fiAttributes:
                        - name: accountOpenedDate
                          value: 2020-04-23
                        - name: interestPaidLastYear
                          value: '3.20'
                        interestRate: 0.0125
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        interestYtd: 20.33
                        lastActivityDate: 2022-04-24T14:15:22Z
                        lineOfBusiness: Personal
                        nickname: Nickname Checking Plus 0071
                        productName: Checking Plus
                        status: OPEN
                        transferIn: true
                        transferOut: true
                    - depositAccount:
                        accountId: 5dbda8de96eeff05f23934523a1fc258
                        accountNumberDisplay: xxxx0134
                        accountType: CHECKING
                        annualPercentageYield: 0
                        availableBalance: 0
                        balanceAsOf: 2022-04-24T14:15:22Z
                        currency:
                          currencyCode: USD
                        currentBalance: 0
                        description: Virtual Wallet Student Reserve
                        interestRateAsOf: 2022-04-24T14:15:22Z
                        interestRateType: FIXED
                        lastActivityDate: 2022-04-01T10:05:00Z
                        lineOfBusiness: LBRB
                        openingDayBalance: 0
                        productName: Virtual Wallet Student Reserve
                        transactionsIncluded: false
                    - depositAccount:
                        accountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        accountType: CD
                        annualPercentageYield: 0.75
                        availableBalance: 6808.29
                        balanceAsOf: 2021-04-07T10:20:43.276Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        currentBalance: 6808.29
                        description: Certificate of Deposit
                        fiAttributes:
                        - name: eStatements
                          value: 'False'
                        - name: interestPaidLastYear
                          value: '50.72'
                        - name: isTransactionsSupported
                          value: 'False'
                        - name: issueDate
                          value: 2019-03-21T00:00:00.000Z
                        - name: interestPayoutFrequency
                          value: Semi-Annually (And At Maturity)
                        interestRate: 0.75
                        interestYtd: 25.24
                        lineOfBusiness: CONSUMER
                        maturityDate: 2024-03-21T00:00:00Z
                        nickname: Certificate of Deposit - 3691
                        openingDayBalance: 2000
                        parentAccountId: 11719ae5-2399-1278-e43c-43f24abb3058
                        status: OPEN
                        term: 60
                        transactionsIncluded: false
                        transferIn: false
                        transferOut: false
                    - depositAccount:
                        accountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        accountType: SAVINGS
                        availableBalance: 20608.9
                        balanceAsOf: 2021-04-07T10:08:11.833Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                          originalCurrencyCode: USD
                        currentBalance: 20608.9
                        description: Savings
                        fiAttributes:
                        - name: eStatements
                          value: 'True'
                        interestRate: 0.01
                        interestYtd: 0.29
                        lineOfBusiness: CONSUMER
                        nickname: Savings - 8537
                        openingDayBalance: 20608.9
                        parentAccountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                        status: OPEN
                        transactionsIncluded: false
        '206':
          description: Partial Content. Success searching for accounts. Some errors are being returned.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              content:
                text/plain:
                  schema:
                    type: string
                    description: Akoya supplied interaction id used for logging and error tracking
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/balances'
                - example:
                    accounts:
                    - investmentAccount:
                        accountId: '839502593'
                        accountType: College Savings
                        availableCashBalance: 0
                        balanceAsOf: 2022-03-16T04:00:00Z
                        balanceType: ASSET
                        currency:
                          currencyCode: USD
                        currentValue: 52672.49
                        holdings:
                        - assetClasses:
                          - assetClass: DOMESTICBOND
                            percent: 0
                          cashAccount: false
                          marketValue: 52672.49
                          mutualFundSecurity:
                            mutualFundType: OPENEND
                            reinvestCapitalGains: true
                            reinvestDividends: true
                            unitsStreet: 0
                            unitsUser: 0
                            yield: 0
                            yieldAsOfDate: 2019-08-24T14:15:22Z
                          positionType: LONG
[...]
