swagger: '2.0'
info:
  version: '2.4.0'
  title: Akoya APIs v2.4.0
  description: >-
    Akoya product APIs for data access. Default servers are set for the Akoya sandbox environment.


    Akoya APIs include the following updates:


    - v2.4.0
      - Added Tax product
    - v2.3.0
      - Removed erroneous `accountId` query param from Taxlots endpoint
      - Added TaxLots endpoint
    - v2.2.2
      - Added mode query parameter to Account Information, Balances, Investments, and Transactions to support standard mode.
      - Edited callouts for Account Holder endpoint
    - v2.2.1
      - Fixed typo in `accountIds` query parameter for `/accounts-info`, `/balances`, `/accounts`
      - Added security method for `Account holder information` to bear token. Missing method defaulted to basic auth.
      - Added examples and descriptions to some schemas
      - Added HTTP status `429` FDX error `1207`.
    - v2.2 Additions
      - Added optional `x-akoya-interaction-type` header to all endpoints to specify if a request is part of a batch process
      - Update of tags to organize endpoints by Akoya product
      - `206` response added to `/accounts-info`, `/balances`, `/accounts`
    - v2.1 New Statements product and Customers product updated with additional endpoint, `Account holder information`.

    - v2.0 Launch of Akoya products: Account Info, Balances, Investments, Transactions, Payments, Customers.
  contact:
    email: questions@akoya.com
    name: API Support
    url: http://www.akoya.com
host: sandbox-products.ddp.akoya.com
basePath: /
securityDefinitions:
  basicAuth:
    type: basic
  acgAuth:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://sandbox-idp.ddp.akoya.com/
    tokenUrl: https://sandbox-idp.ddp.akoya.com/token
    scopes:
      openid: OpenID Connect authentication
      profile: Access to user profile information
      offline_access: Request refresh tokens for offline access
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /accounts-info/{version}/{providerId}:
    get:
      description: "Get basic account information including accountId, masked account number, type, description, etc.\n\nTo view the response schema, select the `200` response below. Then pick an option for annuity, deposit, insurance, investment, loan, and line of credit account types. \n\nFor an example payload response, see the `200` example response below the `Try it` feature. The example is from a deposit account but all account types are supported by this endpoint.\n\n> \U0001F6D1\n> \n> The *id_token* should be used as the bearer token with this call.\n\nUse the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:\n\n`https://sandbox-products.ddp.akoya.com/accounts-info/v2/mikomo?mode=standard`\n\n`mode` is available in both sandbox and production.\n\n`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter.\n\n"
      summary: get-accounts-info
      tags:
      - Account information
      operationId: get-accounts-info
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
        type: string
        description: Id of provider
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      - name: mode
        in: query
        required: false
        enum:
        - raw
        - standard
        type: string
        description: BETA. Default is raw. Use standard for FDX-aligned, standardized data values.
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AkoyaAccountInfoproduct'
          examples:
            application/json:
              accounts:
              - investmentAccount:
                  accountId: '839502593'
                  accountType: College Savings
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                  nickname: 529 for Kid
              - investmentAccount:
                  accountId: '5426873'
                  accountNumberDisplay: '...7054'
                  accountType: BROKERAGE
                  allowedCheckWriting: false
                  currency:
                    currencyCode: USD
                  lastActivityDate: 2021-07-06T00:00:00Z
                  margin: false
                  nickname: Self-Directed
                  status: OPEN
                  transactionsIncluded: false
              - depositAccount:
                  accountId: g833202fb0866d0ad83472c429
                  accountNumberDisplay: xxxxxxxx0071
                  accountType: CHECKING
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                  description: Checking Plus
                  fiAttributes:
                  - name: accountOpenedDate
                    value: 2020-04-23
                  - name: interestPaidLastYear
                    value: '3.20'
                  interestRate: 0.0125
                  interestRateAsOf: 2022-04-24T14:15:22Z
                  interestRateType: FIXED
                  lastActivityDate: 2022-04-24T14:15:22Z
                  lineOfBusiness: Personal
                  nickname: Nickname Checking Plus 0071
                  productName: Checking Plus
                  status: OPEN
                  transferIn: true
                  transferOut: true
              - depositAccount:
                  accountId: 5dbda8de96eeff05f23934523a1fc258
                  accountNumberDisplay: xxxx0134
                  accountType: CHECKING
                  annualPercentageYield: 0
                  currency:
                    currencyCode: USD
                  description: Virtual Wallet Student Reserve
                  interestRateAsOf: 2022-04-24T14:15:22Z
                  interestRateType: FIXED
                  lastActivityDate: 2022-04-01T10:05:00Z
                  lineOfBusiness: LBRB
                  productName: Virtual Wallet Student Reserve
                  transactionsIncluded: false
              - depositAccount:
                  accountId: 11719ae5-2399-1278-e43c-43f24abb3058
                  accountType: CD
                  annualPercentageYield: 0.75
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                    originalCurrencyCode: USD
                  description: Certificate of Deposit
                  fiAttributes:
                  - name: eStatements
                    value: 'False'
                  - name: interestPaidLastYear
                    value: '50.72'
                  - name: isTransactionsSupported
                    value: 'False'
                  - name: issueDate
                    value: 2019-03-21T00:00:00.000Z
                  - name: interestPayoutFrequency
                    value: Semi-Annually (And At Maturity)
                  interestRate: 0.75
                  lineOfBusiness: CONSUMER
                  maturityDate: 2024-03-21T00:00:00Z
                  nickname: Certificate of Deposit - 3691
                  parentAccountId: 11719ae5-2399-1278-e43c-43f24abb3058
                  status: OPEN
                  term: 60
                  transactionsIncluded: false
                  transferIn: false
                  transferOut: false
              - depositAccount:
                  accountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                  accountType: SAVINGS
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                    originalCurrencyCode: USD
                  description: Savings
                  fiAttributes:
                  - name: eStatements
                    value: 'True'
                  interestRate: 0.01
                  lineOfBusiness: CONSUMER
                  nickname: Savings - 8537
                  parentAccountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                  status: OPEN
                  transactionsIncluded: false
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '206':
          description: Partial Content. Success searching for accounts. Some errors are being returned.
          schema:
            $ref: '#/definitions/AkoyaAccountInfoproduct'
          examples:
            application/json:
              value:
                accounts:
                - investmentAccount:
                    accountId: '839502593'
                    accountType: College Savings
                    balanceType: ASSET
                    currency:
                      currencyCode: USD
                    nickname: '529'
                - investmentAccount:
                    error:
                      code: 704
                      message: Account type not supported
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '400':
          description: Invalid Input
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 401
              message: Invalid input
              debugMessage: Invalid Input.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '401':
          description: Customer not authorized.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 602
              message: Customer not authorized
              debugMessage: Customer not authorized.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: 701 - Tax Lots not found. The `holdingId` may be wrong.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 701
              message: Account not found
              debugMessage: Account not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1203
              message: Content Type not Supported
              debugMessage: Data Provider's custom developer-level error details for troubleshooting.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '429':
          description: 1207 - Too many requests
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1207
              message: Too many requests
              debugMessage: Too many requests.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 500
              message: Internal server error
              debugMessage: Internal server error.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '501':
          description: FdxVersion in header is not implemented.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1106
              message: FdxVersion not supported or not implemented
              debugMessage: FdxVersion not supported or not implemented.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '503':
          description: System is down for maintenance.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 503
              message: Scheduled Maintenance
              debugMessage: Scheduled maintenance.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /balances/{version}/{providerId}:
    get:
      description: "Account information that includes balances and rates of bank accounts, credit cards, loans, investments, and more.\n\nTo view the response schema, select the `200` response below. Then pick an option for annuity, deposit, insurance, investment, loan, and line of credit account types. \n\nFor an example payload response, see the `200` example response below the `Try it` feature. The example is from a deposit account but all account types are supported by this endpoint.\n\n> \U0001F6D1\n> \n> The *id_token* should be used as the bearer token with this call.\n\nUse the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:\n\n`https://sandbox-products.ddp.akoya.com/balances/v2/mikomo?mode=standard`\n\n`mode` is available in both sandbox and production.\n\n`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter."
      summary: get-balances
      tags:
      - Balances
      operationId: get-balances
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
        type: string
        description: Id of provider
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      - name: mode
        in: query
        required: false
        enum:
        - raw
        - standard
        type: string
        description: BETA. Default is raw. Use standard for FDX-aligned, standardized data values.
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/balances'
          examples:
            application/json:
              accounts:
              - investmentAccount:
                  accountId: '839502593'
                  accountType: College Savings
                  availableCashBalance: 0
                  balanceAsOf: 2022-03-16T04:00:00Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                  currentValue: 52672.49
                  marginBalance: 0
                  nickname: 529 for Kid
              - investmentAccount:
                  accountId: '5426873'
                  accountNumberDisplay: '...7054'
                  accountType: BROKERAGE
                  allowedCheckWriting: false
                  availableCashBalance: 0
                  balanceList:
                  - balanceDate: 2021-07-06
                    balanceDescription: Margin Call
                    balanceName: MARGINCALL
                    balanceType: AMOUNT
                    balanceValue: 0
                    currency:
                      currencyCode: USD
                  - balanceDate: 2021-07-06
                    balanceDescription: Fed Call
                    balanceName: FEDCALL
                    balanceType: AMOUNT
                    balanceValue: 0
                    currency:
                      currencyCode: USD
                  - balanceDate: 2021-07-06
                    balanceDescription: Intra Day
                    balanceName: INTRADAY
                    balanceType: AMOUNT
                    balanceValue: 0
                    currency:
                      currencyCode: USD
                  - balanceDate: 2021-07-05
                    balanceDescription: Prior Day
                    balanceName: PRIORDAY
                    balanceType: AMOUNT
                    balanceValue: 0
                    currency:
                      currencyCode: USD
                  currency:
                    currencyCode: USD
                  lastActivityDate: 2021-07-06T00:00:00Z
                  margin: false
                  marginBalance: 0
                  nickname: Self-Directed
                  shortBalance: 0
                  status: OPEN
                  transactionsIncluded: false
              - depositAccount:
                  accountId: g833202fb0866d0ad83472c429
                  accountNumberDisplay: xxxxxxxx0071
                  accountType: CHECKING
                  availableBalance: 106717.06
                  balanceAsOf: 2022-04-24T14:15:22Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                  currentBalance: 106717.06
                  description: Checking Plus
                  fiAttributes:
                  - name: accountOpenedDate
                    value: 2020-04-23
                  - name: interestPaidLastYear
                    value: '3.20'
                  interestRate: 0.0125
                  interestRateAsOf: 2022-04-24T14:15:22Z
                  interestRateType: FIXED
                  interestYtd: 20.33
                  lastActivityDate: 2022-04-24T14:15:22Z
                  lineOfBusiness: Personal
                  nickname: Nickname Checking Plus 0071
                  productName: Checking Plus
                  status: OPEN
                  transferIn: true
                  transferOut: true
              - depositAccount:
                  accountId: 5dbda8de96eeff05f23934523a1fc258
                  accountNumberDisplay: xxxx0134
                  accountType: CHECKING
                  annualPercentageYield: 0
                  availableBalance: 0
                  balanceAsOf: 2022-04-24T14:15:22Z
                  currency:
                    currencyCode: USD
                  currentBalance: 0
                  description: Virtual Wallet Student Reserve
                  interestRateAsOf: 2022-04-24T14:15:22Z
                  interestRateType: FIXED
                  lastActivityDate: 2022-04-01T10:05:00Z
                  lineOfBusiness: LBRB
                  openingDayBalance: 0
                  productName: Virtual Wallet Student Reserve
                  transactionsIncluded: false
              - depositAccount:
                  accountId: 11719ae5-2399-1278-e43c-43f24abb3058
                  accountType: CD
                  annualPercentageYield: 0.75
                  availableBalance: 6808.29
                  balanceAsOf: 2021-04-07T10:20:43.276Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                    originalCurrencyCode: USD
                  currentBalance: 6808.29
                  description: Certificate of Deposit
                  fiAttributes:
                  - name: eStatements
                    value: 'False'
                  - name: interestPaidLastYear
                    value: '50.72'
                  - name: isTransactionsSupported
                    value: 'False'
                  - name: issueDate
                    value: 2019-03-21T00:00:00.000Z
                  - name: interestPayoutFrequency
                    value: Semi-Annually (And At Maturity)
                  interestRate: 0.75
                  interestYtd: 25.24
                  lineOfBusiness: CONSUMER
                  maturityDate: 2024-03-21T00:00:00Z
                  nickname: Certificate of Deposit - 3691
                  openingDayBalance: 2000
                  parentAccountId: 11719ae5-2399-1278-e43c-43f24abb3058
                  status: OPEN
                  term: 60
                  transactionsIncluded: false
                  transferIn: false
                  transferOut: false
              - depositAccount:
                  accountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                  accountType: SAVINGS
                  availableBalance: 20608.9
                  balanceAsOf: 2021-04-07T10:08:11.833Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                    originalCurrencyCode: USD
                  currentBalance: 20608.9
                  description: Savings
                  fiAttributes:
                  - name: eStatements
                    value: 'True'
                  interestRate: 0.01
                  interestYtd: 0.29
                  lineOfBusiness: CONSUMER
                  nickname: Savings - 8537
                  openingDayBalance: 20608.9
                  parentAccountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                  status: OPEN
                  transactionsIncluded: false
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '206':
          description: Partial Content. Success searching for accounts. Some errors are being returned.
          schema:
            $ref: '#/definitions/balances'
          examples:
            application/json:
              accounts:
              - investmentAccount:
                  accountId: '839502593'
                  accountType: College Savings
                  availableCashBalance: 0
                  balanceAsOf: 2022-03-16T04:00:00Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                  currentValue: 52672.49
                  marginBalance: 0
                  nickname: 529 for Kid
              - depositAccount:
                  error:
                    code: 704
                    message: Account type not supported
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '400':
          description: Invalid Input
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 401
              message: Invalid input
              debugMessage: Invalid Input.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '401':
          description: Customer not authorized.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 602
              message: Customer not authorized
              debugMessage: Customer not authorized.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: 701 - Tax Lots not found. The `holdingId` may be wrong.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 701
              message: Account not found
              debugMessage: Account not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1203
              message: Content Type not Supported
              debugMessage: Data Provider's custom developer-level error details for troubleshooting.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '429':
          description: 1207 - Too many requests
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1207
              message: Too many requests
              debugMessage: Too many requests.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 500
              message: Internal server error
              debugMessage: Internal server error.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '501':
          description: FdxVersion in header is not implemented.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1106
              message: FdxVersion not supported or not implemented
              debugMessage: FdxVersion not supported or not implemented.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '503':
          description: System is down for maintenance.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 503
              message: Scheduled Maintenance
              debugMessage: Scheduled maintenance.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /customers/{version}/{providerId}/current:
    get:
      description: "This product supports use cases such as payment enablement, account opening, and identity verification. Responses return information about the authorized end-user, the customer associated with the `id_token` used in the call. This information may include, but is not limited to, the customer identifier, name, email, address, and phone number.\n\n<br>\n\nTo see the response schema, select the `200` response below. For an example payload response, see the `200` example response below the *Try it* feature. \n\nThis product requires consumer consent to share all account holder information.\n\n> \U0001F6D1 The `id_token` should be used as the bearer token with this call.\n> "
      summary: customer-info
      tags:
      - Customers
      operationId: customer-info
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
        type: string
        description: Id of provider
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/customer'
          headers:
            x-akoya-interaction-id:
              description: Akoya tracking id for logging or support.
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /contacts/{version}/{providerId}/{accountId}:
    get:
      description: "This product supports use cases such as payment enablement, account opening, identity verification,or lending & credit enhancement. Responses return information about the authorized consumer, the customer associated with the `id_token` used in the call, and the relationship specific to the provided `accountId`.\n\n> \U0001F4CC Please note!\n>\n> This endpoint provides additional information which may not be required for your use case, making it inefficient compared to the [/customer info](https://docs.akoya.com/reference/customer-info) endpoint. Please refer to to the [Customers guide](https://docs.akoya.com/reference/customers) for more information about this endpoint.\n\nGet account holder information. Based on FDX 5.2.1.\n\nThis product requires consumer consent to share all account holder information.\n\n> \U0001F6D1 The `id_token` should be used as the bearer token with this call.\n> \n"
      summary: get-account-holder
      tags:
      - Customers
      operationId: get-account-holder
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
        type: string
        description: Id of provider
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AccountContactentity'
          examples:
            application/json:
              holders:
              - customerId: string
                name:
                  first: string
                  middle: string
                  last: string
                  prefix: string
                  suffix: string
                  company: string
                businessCustomer:
                  name: string
                  registeredAgents:
                  - first: string
                    middle: string
                    last: string
                    prefix: string
                    suffix: string
                    company: string
                  registeredId: string
                  industryCode:
                    type: string
                    code: string
                  domicile:
                    region: string
                    country: string
                addresses:
                - line1: string
                  line2: string
                  line3: string
                  city: string
                  state: string
                  region: string
                  postalCode: string
                  country: string
                  type: string
                telephones:
                - number: string
                  type: HOME
                  country: string
                email:
                - string
                accounts:
                - accountId: string
                  relationship: AUTHORIZED_USER
                relationship: AUTHORIZED_USER
              emails:
              - string
              addresses:
              - line1: string
                line2: string
                line3: string
                city: string
                state: string
                region: string
                postalCode: string
                country: string
                type: string
              telephones:
              - type: HOME
                country: string
                number: '8675309'
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 701
              message: Account not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /accounts/{version}/{providerId}:
    get:
      description: "Get detailed account information that includes Akoya products Account Info and Balances for all account types (annunity, deposit, insurance, investments, line of credit, and loan) and adds the Investments product to investment accounts including contributions, holdings, vesting information, and more.\n\nTo view the response schema, select the `200` response below. Then pick an option for annuity, deposit, insurance, investment, loan, and line of credit account types. \n\nFor an example payload response, see the `200` example response below the `Try it` feature. The example is from an investment account but all account types are supported and returned by this endpoint.\n\n> \U0001F6D1\n> \n> The *id_token* should be used as the bearer token with this call.\n\nUse the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:\n\n`https://sandbox-products.ddp.akoya.com/accounts/v2/mikomo?mode=standard`\n\n`mode` is available in both sandbox and production.\n\n`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter."
      summary: get-accounts
      tags:
      - Investments
      operationId: get-accounts
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
        type: string
        description: Id of provider
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      - name: mode
        in: query
        required: false
        enum:
        - raw
        - standard
        type: string
        description: BETA. Default is raw. Use standard for FDX-aligned, standardized data values.
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/investments'
          examples:
            application/json:
              accounts:
              - investmentAccount:
                  accountId: '839502593'
                  accountType: College Savings
                  availableCashBalance: 0
                  balanceAsOf: 2022-03-16T04:00:00Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                  currentValue: 52672.49
                  holdings:
                  - assetClasses:
                    - assetClass: DOMESTICBOND
                      percent: 0
                    cashAccount: false
                    marketValue: 52672.49
                    mutualFundSecurity:
                      mutualFundType: OPENEND
                      reinvestCapitalGains: true
                      reinvestDividends: true
                      unitsStreet: 0
                      unitsUser: 0
                      yield: 0
                      yieldAsOfDate: 2019-08-24T14:15:22Z
                    positionType: LONG
                    purchasedPrice: 18.42
                    securityIdType: ISIN
                    units: 2088.521
                  marginBalance: 0
                  nickname: 529 for Kid
              - investmentAccount:
                  accountId: '5426873'
                  accountNumberDisplay: '...7054'
                  accountType: BROKERAGE
                  allowedCheckWriting: false
                  availableCashBalance: 0
                  balanceList:
                  - balanceDate: 2021-07-06
                    balanceDescription: Margin Call
                    balanceName: MARGINCALL
                    balanceType: AMOUNT
                    balanceValue: 0
                    currency:
                      currencyCode: USD
                  - balanceDate: 2021-07-06
                    balanceDescription: Fed Call
                    balanceName: FEDCALL
                    balanceType: AMOUNT
                    balanceValue: 0
                    currency:
                      currencyCode: USD
                  - balanceDate: 2021-07-06
                    balanceDescription: Intra Day
                    balanceName: INTRADAY
                    balanceType: AMOUNT
                    balanceValue: 0
                    currency:
                      currencyCode: USD
                  - balanceDate: 2021-07-05
                    balanceDescription: Prior Day
                    balanceName: PRIORDAY
                    balanceType: AMOUNT
                    balanceValue: 0
                    currency:
                      currencyCode: USD
                  currency:
                    currencyCode: USD
                  lastActivityDate: 2021-07-06T00:00:00Z
                  margin: false
                  marginBalance: 0
                  nickname: Self-Directed
                  shortBalance: 0
                  status: OPEN
                  transactionsIncluded: false
              - depositAccount:
                  accountId: g833202fb0866d0ad83472c429
                  accountNumberDisplay: xxxxxxxx0071
                  accountType: CHECKING
                  availableBalance: 106717.06
                  balanceAsOf: 2022-04-24T14:15:22Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                  currentBalance: 106717.06
                  description: Checking Plus
                  fiAttributes:
                  - name: accountOpenedDate
                    value: 2020-04-23
                  - name: interestPaidLastYear
                    value: '3.20'
                  interestRate: 0.0125
                  interestRateAsOf: 2022-04-24T14:15:22Z
                  interestRateType: FIXED
                  interestYtd: 20.33
                  lastActivityDate: 2022-04-24T14:15:22Z
                  lineOfBusiness: Personal
                  nickname: Nickname Checking Plus 0071
                  productName: Checking Plus
                  status: OPEN
                  transferIn: true
                  transferOut: true
              - depositAccount:
                  accountId: 5dbda8de96eeff05f23934523a1fc258
                  accountNumberDisplay: xxxx0134
                  accountType: CHECKING
                  annualPercentageYield: 0
                  availableBalance: 0
                  balanceAsOf: 2022-04-24T14:15:22Z
                  currency:
                    currencyCode: USD
                  currentBalance: 0
                  description: Virtual Wallet Student Reserve
                  interestRateAsOf: 2022-04-24T14:15:22Z
                  interestRateType: FIXED
                  lastActivityDate: 2022-04-01T10:05:00Z
                  lineOfBusiness: LBRB
                  openingDayBalance: 0
                  productName: Virtual Wallet Student Reserve
                  transactionsIncluded: false
              - depositAccount:
                  accountId: 11719ae5-2399-1278-e43c-43f24abb3058
                  accountType: CD
                  annualPercentageYield: 0.75
                  availableBalance: 6808.29
                  balanceAsOf: 2021-04-07T10:20:43.276Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                    originalCurrencyCode: USD
                  currentBalance: 6808.29
                  description: Certificate of Deposit
                  fiAttributes:
                  - name: eStatements
                    value: 'False'
                  - name: interestPaidLastYear
                    value: '50.72'
                  - name: isTransactionsSupported
                    value: 'False'
                  - name: issueDate
                    value: 2019-03-21T00:00:00.000Z
                  - name: interestPayoutFrequency
                    value: Semi-Annually (And At Maturity)
                  interestRate: 0.75
                  interestYtd: 25.24
                  lineOfBusiness: CONSUMER
                  maturityDate: 2024-03-21T00:00:00Z
                  nickname: Certificate of Deposit - 3691
                  openingDayBalance: 2000
                  parentAccountId: 11719ae5-2399-1278-e43c-43f24abb3058
                  status: OPEN
                  term: 60
                  transactionsIncluded: false
                  transferIn: false
                  transferOut: false
              - depositAccount:
                  accountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                  accountType: SAVINGS
                  availableBalance: 20608.9
                  balanceAsOf: 2021-04-07T10:08:11.833Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                    originalCurrencyCode: USD
                  currentBalance: 20608.9
                  description: Savings
                  fiAttributes:
                  - name: eStatements
                    value: 'True'
                  interestRate: 0.01
                  interestYtd: 0.29
                  lineOfBusiness: CONSUMER
                  nickname: Savings - 8537
                  openingDayBalance: 20608.9
                  parentAccountId: 33fbd9e5-9cc3-3d7d-15b3-70d97d87ca1d
                  status: OPEN
                  transactionsIncluded: false
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '206':
          description: Partial Content. Success searching for accounts. Some errors are being returned.
          schema:
            $ref: '#/definitions/balances'
          examples:
            application/json:
              accounts:
              - investmentAccount:
                  accountId: '839502593'
                  accountType: College Savings
                  availableCashBalance: 0
                  balanceAsOf: 2022-03-16T04:00:00Z
                  balanceType: ASSET
                  currency:
                    currencyCode: USD
                  currentValue: 52672.49
                  holdings:
                  - assetClasses:
                    - assetClass: DOMESTICBOND
                      percent: 0
                    cashAccount: false
                    marketValue: 52672.49
                    mutualFundSecurity:
                      mutualFundType: OPENEND
                      reinvestCapitalGains: true
                      reinvestDividends: true
                      unitsStreet: 0
                      unitsUser: 0
                      yield: 0
                      yieldAsOfDate: 2019-08-24T14:15:22Z
                    positionType: LONG
                    purchasedPrice: 18.42
                    securityIdType: ISIN
                    units: 2088.521
                  marginBalance: 0
                  nickname: 529 for Kid
              - investmentAccount:
                  error:
                    code: 704
                    message: Account type not supported
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '400':
          description: Invalid Input
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 401
              message: Invalid input
              debugMessage: Invalid Input.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '401':
          description: Customer not authorized.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 602
              message: Customer not authorized
              debugMessage: Customer not authorized.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: 701 - Tax Lots not found. The `holdingId` may be wrong.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 701
              message: Account not found
              debugMessage: Account not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1203
              message: Content Type not Supported
              debugMessage: Data Provider's custom developer-level error details for troubleshooting.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '429':
          description: 1207 - Too many requests
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1207
              message: Too many requests
              debugMessage: Too many requests.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 500
              message: Internal server error
              debugMessage: Internal server error.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '501':
          description: FdxVersion in header is not implemented.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1106
              message: FdxVersion not supported or not implemented
              debugMessage: FdxVersion not supported or not implemented.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '503':
          description: System is down for maintenance.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 503
              message: Scheduled Maintenance
              debugMessage: Scheduled maintenance.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /taxlots/{version}/{providerId}/{accountId}/{holdingId}:
    get:
      description: "The taxlots API allows you to retrieve tax lots of consumer-permissioned accounts.\n\n> \U0001F6D1\n> \n> The *id_token* should be used as the bearer token with this call."
      summary: get-taxlots
      tags:
      - Investments
      operationId: get-taxlots
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
        type: string
        description: Id of provider
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: holdingId
        in: path
        required: true
        type: string
        description: Consumer's holdingId under investments
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      - name: offset
        in: query
        required: false
        type: string
        description: The number of items to skip before the first in the response. The default is 0
      - name: limit
        in: query
        required: false
        type: string
        description: The maximum number of items to be returned in the response. The default is 50
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/taxlotsResponse'
          examples:
            application/json:
              accountId: string
              holding:
                holdingId: string
                securityId: string
                securityIdType: ISIN
                taxLots:
                - originalPurchaseDate: 2024-10-14T18:16:22Z
                  quantity: 0
                  purchasedPrice: 0
                  costBasis: 0
                  currentValue: 0
                  positionType: LONG
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '401':
          description: Customer not authorized.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 602
              message: Customer not authorized
              debugMessage: Customer not authorized.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '403':
          description: Incorrect providerId or no subscription to provider.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 403
              message: Subscription not found.
              debugMessage: Subscription not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: 701 - Tax Lots not found. The `holdingId` may be wrong.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 701
              message: Account not found
              debugMessage: Account not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /payments/{version}/{providerId}/{accountId}payment-networks:
    get:
      description: "This product supports use cases such as payment enablement or account opening. The response includes identifiers necessary to make ACH and RTP payments. Identifiers include account number, routing number, identifier type (actual or tokenized account number), and payment network type such as ACH or RTP.\n\n<br>\n\nTo see the response schema, select the `200` response below. For an example payload response, see the `200` example response below the *Try it* feature. \n\n> \U0001F6D1\n> \n> The *id_token* should be used as the bearer token with this call."
      summary: payment-networks
      tags:
      - Payments
      operationId: payment-networks
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
        type: string
        description: Id of provider
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Arrayofaccountpaymentnetworks'
          examples:
            application/json:
              paymentNetworks:
              - bankId: '125000024'
                identifier: '454992210071'
                identifierType: ACCOUNT_NUMBER
                type: US_ACH
                transferIn: true
                transferOut: true
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '401':
          description: Customer not authorized.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 602
              message: Customer not authorized
              debugMessage: Customer not authorized.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '403':
          description: Incorrect providerId or no subscription to provider.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 403
              message: Subscription not found.
              debugMessage: Subscription not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: 701 - Account not found. The `accountId` may be wrong.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 701
              message: Account not found
              debugMessage: Account not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /statements/{version}/{providerId}/{accountId}:
    get:
      description: >-
        Retrieve a list of available statements for the end-user's consented accounts. You may request a date range of up to two years of historical statements (maximum date ranges vary by provider).


        The paginated response includes an array of statement information with the end-user's account id and statement details such as statement id, date, description, and status. The results also include links to GET the statement image.
      summary: get-statement-list
      tags:
      - Statements
      operationId: get-statement-list
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
        type: string
        description: Id of provider
      - name: startTime
        in: query
        required: false
        type: string
        format: date
        description: Start date for use in retrieval of statements (ISO 8601)
      - name: endTime
        in: query
        required: false
        type: string
        format: date
        description: End date for use in retrieval of statements (ISO 8601)
      - name: offset
        in: query
        required: false
        default: '0'
        type: string
        description: The number of items to skip before the first in the response. The default is 0.
      - name: limit
        in: query
        required: false
        default: 50
        type: integer
        format: int32
        description: The maximum number of items to be returned in the response. The default is 50.
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/paginatedArray'
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '400':
          description: Start or end date value is not in the ISO 8601 format.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 702
              message: Invalid start or end date
              debugMessage: Invalid start or end date.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: 404 - Not found
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 701
              message: Account not found
              debugMessage: Account not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 500
              message: Internal server error
              debugMessage: Internal server error.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '501':
          description: FdxVersion in header is not implemented.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1106
              message: FdxVersion not supported or not implemented
              debugMessage: FdxVersion not supported or not implemented.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '503':
          description: System is down for maintenance.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 503
              message: Scheduled Maintenance
              debugMessage: Scheduled maintenance.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /statements/{version}/{providerId}/{accountId}/{statementId}:
    get:
      description: "Retrieve a specific account statement file. Use [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) to specify desired content types. \n\nFor the initial launch, only PDF statements are supported. PDFs are returned in the response.\n\n### cURL request\n\nWe recommend using the auto-generated cURL request with the {idToken}, accountId, providerId, statementId, and version with an added cURL parameter to return the output to a file. For example:\n\n```curl\ncurl --request GET --url https://sandbox-products.ddp.akoya.com/statements/v2/mikomo/513815781465/P9CvLPKDaFRMbNDkhu1 --header \"accept: application/pdf\" --header \"authorization: Bearer {idtoken}\" --output example.pdf\n```"
      summary: get-statements
      tags:
      - Statements
      operationId: get-statements
      deprecated: false
      produces:
      - application/pdf
      - image/gif
      - image/jpeg
      - image/tiff
      - image/png
      - text/plain
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
        type: string
        description: Id of provider
      - name: statementId
        in: path
        required: true
        type: string
        description: Statement Identifier
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: "Optional but recommended header to include with each data request. \nAllowed values are `user` or `batch`. \n`user` indicates a request is prompted by an end-user action.\n`batch` indicates the request is part of a batch process."
      responses:
        '200':
          description: OK - An image of an account statement
          schema: {}
          headers:
            Accept:
              type: string
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '302':
          description: Statement is available at specified location. URL is returned via the `Location` HTTP header
          schema:
            type: string
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '400':
          description: Statement is processing and is not yet available.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1300
              message: Statement is Processing
              debugMessage: Statement is Processing.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: Account exists but contains no statements.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1108
              message: Statements not found for given Account
              debugMessage: Statements not found for given Account.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1203
              message: Content Type not Supported
              debugMessage: Data Provider's custom developer-level error details for troubleshooting.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 500
              message: Internal server error
              debugMessage: Internal server error.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '501':
          description: FdxVersion in header is not implemented.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1106
              message: FdxVersion not supported or not implemented
              debugMessage: FdxVersion not supported or not implemented.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '503':
          description: System is down for maintenance.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 503
              message: Scheduled Maintenance
              debugMessage: Scheduled maintenance.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /tax-forms/{version}/{providerId}:
    get:
      description: Get the full lists of tax document data and tax form images available for a specific year for the current authorized customer.
      summary: taxFormsSearch
      tags:
      - Tax (beta)
      operationId: taxFormsSearch
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: version
        in: path
        required: true
        enum:
        - v2
        type: string
        description: Endpoint version.
      - name: providerId
        in: path
        required: true
        type: string
        description: Provider to query for Tax data.
      - name: x-akoya-interaction-id
        in: header
        required: false
        type: string
        description: Unique identifier to associate with this request. No specific format required.
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation. Case-insensitive.
      - name: Accept
        in: header
        required: false
        type: array
        items:
          type: string
          enum:
          - application/json
          - application/pdf
        description: Use the [Accept HTTP request header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept) to indicate one or more content types to request for the search result response. Use `application/json` to request data or `application/pdf to request images in comma-separated array format.         Use in combination with TaxDataTypeQuery parameter to request `application/json` responses in ''JSON'' or ''BASE64_PDF'' format for tax form data'
      - name: taxYear
        in: query
        required: false
        type: string
        description: Tax year in which to search for tax forms.
      - name: taxForms
        in: query
        required: false
        type: array
        items:
          type: string
          enum:
          - BusinessIncomeStatement
          - CryptocurrencyTaxStatement
          - FarmIncomeStatement
          - FarmRentalIncomeStatement
          - RentalIncomeStatement
          - RoyaltyIncomeStatement
          - Tax1041K1
          - Tax1042S
          - Tax1065K1
          - Tax1095A
          - Tax1095B
          - Tax1095C
          - Tax1097Btc
          - Tax1098
          - Tax1098C
          - Tax1098E
          - Tax1098Ma
          - Tax1098Q
          - Tax1098T
          - Tax1099A
          - Tax1099B
          - Tax1099C
          - Tax1099Cap
          - Tax1099ConsolidatedStatement
          - Tax1099Div
          - Tax1099G
          - Tax1099H
          - Tax1099Int
          - Tax1099K
          - Tax1099Ls
          - Tax1099Ltc
          - Tax1099Misc
          - Tax1099Nec
          - Tax1099Oid
          - Tax1099Patr
          - Tax1099Q
          - Tax1099Qa
          - Tax1099R
          - Tax1099S
          - Tax1099Sa
          - Tax1099Sb
          - Tax1120SK1
          - Tax2439
          - Tax3921
          - Tax3922
          - Tax5227K1
          - Tax5498
          - Tax5498Esa
          - Tax5498Qa
          - Tax5498Sa
          - TaxW2
          - TaxW2C
          - TaxW2G
        description: One or more tax form type enums for the specific documents being requested. Comma separated
      - name: accountId
        in: query
        required: false
        type: string
        description: Unique account identifier (not the account number)
      responses:
        '200':
          description: Array of all the tax document data and tax form images available for the customer matching search criteria
          schema:
            $ref: '#/definitions/TaxStatementList'
          examples:
            application/json:
              statements:
              - taxYear: 2020
                taxStatementId: '9876987698769876'
                attributes:
                - name: federalTaxWithheld
                  value: '4014.00'
                taxDataType: JSON
                forms:
                - tax1099Div:
                    taxYear: 2020
                    taxFormId: '9876987698769876'
                    taxFormDate: 2021-03-30
                    additionalInformation: FDX v6.0
                    taxFormType: Tax1099Div
              - taxYear: 2020
                taxStatementId: '6543654365436543'
                attributes:
                - name: federalTaxWithheld
                  value: '4011.00'
                taxDataType: JSON
                forms:
                - tax1099Int:
                    taxYear: 2020
                    taxFormId: '6543654365436543'
                    taxFormDate: 2021-03-30
                    additionalInformation: FDX v6.0
                    taxFormType: Tax1099Int
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '206':
          description: Partial Content
          schema:
            $ref: '#/definitions/TaxStatementList'
          examples:
            application/json:
              statements:
              - taxYear: 2020
                taxStatementId: '9876987698769876'
                attributes:
                - name: federalTaxWithheld
                  value: '4014.00'
                taxDataType: JSON
                forms:
                - tax1099Div:
                    taxYear: 2020
                    taxFormId: '9876987698769876'
                    taxFormDate: 2021-03-30
                    additionalInformation: FDX v6.0
                    taxFormType: Tax1099Div
              - taxYear: 2020
                taxDataType: JSON
                forms:
                - tax1099Int:
                    taxYear: 2020
                    taxFormType: Tax1099Int
                    error:
                      code: 1205
                      message: Tax Forms not yet been made available
                      debugMessage: 1099-INT forms should be available after 02-01-2021
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 400
              message: Invalid input
              debugMessage: Invalid input.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 404
              message: Customer not found
              debugMessage: Customer not found.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1203
              message: Content Type not Supported
              debugMessage: Data Provider's custom developer-level error details for troubleshooting.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/Error'
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 500
              message: Internal server error
              debugMessage: Internal server error.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '501':
          description: FdxVersion in header is not implemented.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1106
              message: FdxVersion not supported or not implemented
              debugMessage: FdxVersion not supported or not implemented.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '503':
          description: System is down for maintenance.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 503
              message: Scheduled Maintenance
              debugMessage: Scheduled maintenance.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /tax-forms/{version}/{providerId}/{taxFormId}:
    get:
      description: >-
        Get the Tax Statement as JSON or PDF for a single tax document for the customer. Use [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) to specify desired content types. See `AcceptHeader` definition for typical values.



        Not all providers support PDF payloads. See [this article](https://recipient.ddp.akoya.com/support/article/kA0Uw00000026VxKAI) in the Data Recipent Hub for a list of providers that support document PDFs.
      summary: getTaxForm
      tags:
      - Tax (beta)
      operationId: getTaxForm
      deprecated: false
      produces:
      - application/pdf
      - application/json
      - text/plain
      parameters:
      - name: version
        in: path
        required: true
        enum:
        - v2
        type: string
        description: Endpoint version.
      - name: providerId
        in: path
        required: true
        type: string
        description: Provider to query for Tax data.
      - name: taxFormId
        in: path
        required: true
        type: string
        description: Unique identifier of the tax form to request.
      - name: x-akoya-interaction-id
        in: header
        required: false
        type: string
        description: Unique identifier to associate with this request. No specific format required.
      - name: x-akoya-interaction-type
        in: header
        required: false
        enum:
        - user
        - batch
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation. Case-insensitive.
      - name: taxDataType
        in: query
        required: false
        enum:
        - BASE64_PDF
        - JSON
        type: string
        description: Use taxDataType to request `application/json` tax form data response in 'JSON' or 'BASE64_PDF' format. Omit if either format is acceptable. Used in combination with AcceptHeader requesting `application/json` response
      - name: Accept
        in: header
        required: false
        type: array
        items:
          type: string
          enum:
          - application/json
          - application/pdf
        description: Use the [Accept HTTP request header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept) to indicate one or more content types to request for the search result response. Use `application/json` to request data or `application/pdf`to request images. In comma-separated array format.         Use in combination with TaxDataTypeQuery parameter to request `application/json` responses in ''JSON'' or ''BASE64_PDF'' format for tax form data'
      responses:
        '200':
          description: The document image or TaxStatement as json for a single tax document for the customer. A single document can include multiple IRS tax forms and/or other reporting statements as delivered by providers
          schema: {}
          examples:
            application/json:
              taxYear: 2020
              taxStatementId: '1234123412341234'
              attributes:
              - name: Total tax withheld
                value: '8025.00'
              issuer:
                tin: 12-3456789
                partyType: BUSINESS
                businessName:
                  name1: Financial Data Exchange
                address:
                  line1: 12020 Sunrise Valley Dr
                  line2: Suite 230
                  city: Reston
                  region: VA
                  postalCode: '20191'
                  country: US
                phone:
                  number: '8885551212'
              recipient:
                tin: xxx-xx-1234
                partyType: INDIVIDUAL
                individualName:
                  first: Kris
                  middle: Q
                  last: Public
                address:
                  line1: 1 Main St
                  city: Melrose
                  region: NY
                  postalCode: '12121'
                  country: US
              taxDataType: JSON
              forms:
              - tax1099Div:
                  taxYear: 2020
                  taxFormId: '9876987698769876'
                  taxFormDate: 2021-03-30
                  additionalInformation: FDX v6.0
                  taxFormType: Tax1099Div
                  foreignAccountTaxCompliance: false
                  accountNumber: 111-5555555
                  ordinaryDividends: 1107
                  qualifiedDividends: 1208
                  totalCapitalGain: 2109
                  unrecaptured1250Gain: 2210
                  section1202Gain: 2311
                  collectiblesGain: 2412
                  nonTaxableDistribution: 3013
                  federalTaxWithheld: 4014
                  section199ADividends: 5015
                  investmentExpenses: 6016
                  foreignTaxPaid: 7017
                  foreignCountry: Mexico
                  cashLiquidation: 9019
                  nonCashLiquidation: 10020
                  taxExemptInterestDividend: 11021
                  specifiedPabInterestDividend: 12022
                  stateAndLocal:
                  - stateCode: NY
                    state:
                      taxWithheld: 15023
                      taxId: 14-000023
              - tax1099Int:
                  taxYear: 2020
                  taxFormId: '6543654365436543'
                  taxFormDate: 2021-03-30
                  additionalInformation: FDX v6.0
                  taxFormType: Tax1099Int
                  foreignAccountTaxCompliance: false
                  accountNumber: 111-5555555
                  payerRtn: '007007007'
                  interestIncome: 1008
                  earlyWithdrawalPenalty: 2009
                  usBondInterest: 3010
                  federalTaxWithheld: 4011
                  investmentExpenses: 5012
                  foreignTaxPaid: 6013
                  foreignCountry: Canada
                  taxExemptInterest: 8015
                  specifiedPabInterest: 9016
                  marketDiscount: 10017
                  bondPremium: 11018
                  usBondPremium: 12019
                  taxExemptBondPremium: 13020
                  cusipNumber: CUSIP
                  stateAndLocal:
                  - stateCode: NY
                    state:
                      taxWithheld: 17022
                      taxId: 15-000022
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '206':
          description: Partial Content success retrieving a customer tax document, some errors are being returned
          schema:
            $ref: '#/definitions/TaxStatement2'
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '400':
          description: Account ID is required for searching or validating authorization
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1204
              message: Account ID is Required
              debugMessage: Provider custom developer-level error details for troubleshooting.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '404':
          description: Tax Form for provided Tax Form ID was not found
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1200
              message: Tax Form not Found
              debugMessage: Provider custom developer-level error details for troubleshooting.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '405':
          description: Method Not Allowed
          schema:
            type: string
          examples:
            text/plain: Method Not Found
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1203
              message: Content Type not Supported
              debugMessage: Data Provider's custom developer-level error details for troubleshooting.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '408':
          description: Request timed out (round trip call took >10 seconds).
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 408
              message: Request Timeout.
              debugMessage: Request Timeout.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '409':
          description: Tax forms are not currently available for this account or this year
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 705
              message: Account is Closed
              debugMessage: Provider custom developer-level error details for troubleshooting.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 500
              message: Internal server error
              debugMessage: Internal server error.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '501':
          description: FdxVersion in header is not implemented.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 1106
              message: FdxVersion not supported or not implemented
              debugMessage: FdxVersion not supported or not implemented.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
        '503':
          description: System is down for maintenance.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 503
              message: Scheduled Maintenance
              debugMessage: Scheduled maintenance.
          headers:
            x-akoya-interaction-id:
              description: Akoya supplied interaction id used for logging and error tracking
              type: string
      security:
      - bearerAuth: []
  /transactions/{version}/{providerId}/{accountId}:
    get:
      description: "The transactions API allows you to retrieve transaction history of consumer-permissioned accounts.\n\n> \U0001F6D1\n> \n> The *id_token* should be used as the bearer token with this call.\n\nFor more information on how to paginate transaction results, please see: [Pagination](https://docs.akoya.com/v2/docs/pagination)\n\nUse the `mode` query param to receive FDX-aligned, standardized data values (Beta). For example:\n\n`https://sandbox-products.ddp.akoya.com/transactions/v2/mikomo?mode=standard`\n\n`mode` is available in both sandbox and production.\n\n`mode` is supported by a subset of providers. Log into the [Data Recipient Hub](https://recipient.ddp.akoya.com/login) and click [here](https://recipient.ddp.akoya.com/support/article/kA0Uw00000015GzKAI) to view a list of all providers supporting the `mode` parameter."
      summary: get-transactions
      tags:
      - Transactions
      operationId: get-transactions
      deprecated: false
      produces:
      - application/json
      - text/plain
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: Akoya major version number. Do not use minor version numbers. For instance, use v2 and not v2.2
      - name: providerId
        in: path
        required: true
[...]
