#%RAML 1.0
title: Akoya APIs v2.4.0
version: 2.4.0
baseUri: https://sandbox-products.ddp.akoya.com
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: Akoya APIs v2.4.0
  content: |
    Akoya product APIs for data access. Default servers are set for the Akoya sandbox environment.


    Akoya APIs include the following updates:


    - v2.4.0
      - Added Tax product
    - v2.3.0
      - Removed erroneous `accountId` query param from Taxlots endpoint
      - Added TaxLots endpoint
    - v2.2.2
      - Added mode query parameter to Account Information, Balances, Investments, and Transactions to support standard mode.
      - Edited callouts for Account Holder endpoint
    - v2.2.1
      - Fixed typo in `accountIds` query parameter for `/accounts-info`, `/balances`, `/accounts`
      - Added security method for `Account holder information` to bear token. Missing method defaulted to basic auth.
      - Added examples and descriptions to some schemas
      - Added HTTP status `429` FDX error `1207`.
    - v2.2 Additions
      - Added optional `x-akoya-interaction-type` header to all endpoints to specify if a request is part of a batch process
      - Update of tags to organize endpoints by Akoya product
      - `206` response added to `/accounts-info`, `/balances`, `/accounts`
    - v2.1 New Statements product and Customers product updated with additional endpoint, `Account holder information`.

    - v2.0 Launch of Akoya products: Account Info, Balances, Investments, Transactions, Payments, Customers.
securitySchemes:
  basicAuth:
    type: Basic Authentication
  acgAuth:
    type: OAuth 2.0
    settings:
      authorizationUri: https://sandbox-idp.ddp.akoya.com/
      accessTokenUri: https://sandbox-idp.ddp.akoya.com/token
      authorizationGrants:
      - authorization_code
      scopes:
      - openid
      - profile
      - offline_access
securedBy:
- basicAuth
types:
  Accountinformation:
    displayName: Accountinformation
    type: object
    properties:
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
        type: string
      accountType:
        required: false
        displayName: accountType
        description: The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
        type: string
      accountNumberDisplay:
        required: false
        displayName: accountNumberDisplay
        description: Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
        type: string
      currency:
        required: false
        displayName: currency
        description: Indicates the currency code used by the account. May also include currency rate.
        type: CurrencyEntity
      description:
        required: false
        displayName: description
        type: string
      fiAttributes:
        required: false
        displayName: fiAttributes
        type: array
        items:
          type: FiAttributeEntity
      nickname:
        required: false
        displayName: nickname
        description: Name given by the user. Used in UIs to assist in account selection
        type: string
      productName:
        required: false
        displayName: productName
        description: Marketed product name for this account.  Used in UIs to assist in account selection
        type: string
      status:
        required: false
        displayName: status
        description: The status of an account.
        type: string
        enum:
        - OPEN
        - CLOSED
        - PENDINGOPEN
        - PENDINGCLOSE
        - DELINQUENT
        - PAID
        - NEGATIVECURRENTBALANCE
      lineOfBusiness:
        required: false
        displayName: lineOfBusiness
        description: The line of business, such as consumer, consumer joint, small business, corporate, etc.
        type: string
      balanceType:
        required: false
        displayName: balanceType
        description: ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
        type: string
        enum:
        - ASSET
        - LIABILITY
      interestRate:
        required: false
        displayName: interestRate
        description: Interest Rate of Account
        type: number
        format: double
      interestRateType:
        required: false
        displayName: interestRateType
        description: The type of interest rate. FIXED or VARIABLE.
        type: string
        enum:
        - FIXED
        - VARIABLE
      interestRateAsOf:
        required: false
        displayName: interestRateAsOf
        description: Date of account’s interest rate
        type: datetime
      lastActivityDate:
        required: false
        displayName: lastActivityDate
        description: Date that last transaction occurred on account
        type: datetime
      micrNumber:
        required: false
        displayName: micrNumber
        description: MICR Number
        type: string
      parentAccountId:
        required: false
        displayName: parentAccountId
        description: Long-term persistent identity of the parent account. This is used to group accounts.
        type: string
      priorInterestRate:
        required: false
        displayName: priorInterestRate
        description: Previous Interest Rate of Account
        type: number
        format: double
      transferIn:
        required: false
        displayName: transferIn
        description: Account is eligible for incoming transfers
        type: boolean
      transferOut:
        required: false
        displayName: transferOut
        description: Account is eligible for outgoing transfers
        type: boolean
  PaymentNetworkSupportedbyAccount:
    displayName: PaymentNetworkSupportedbyAccount
    description: This provides details required to execute a transaction against the account within the payment network
    type: object
    properties:
      bankId:
        required: false
        displayName: bankId
        description: Bank identifier used by the payment network ie. Routing Number
        type: string
      identifier:
        required: false
        displayName: identifier
        description: The number used to identify the account within the payment network. If identifierType is ACCOUNT_NUMBER, this is the account number.
        type: string
      identifierType:
        required: false
        displayName: identifierType
        description: Type of identifier
        type: string
      type:
        required: false
        displayName: type
        description: Type of payment network
        type: string
      transferIn:
        required: false
        displayName: transferIn
        description: Can transfer funds to the account using this information
        type: boolean
      transferOut:
        required: false
        displayName: transferOut
        description: Can transfer funds from the account using this information
        type: boolean
  Address:
    displayName: Address
    description: U.S. domestic address or a foreign address with country other than 'US'
    type: object
    properties:
      line1:
        required: false
        displayName: line1
        description: Address line 1
        type: string
      line2:
        required: false
        displayName: line2
        description: Address line 2
        type: string
      line3:
        required: false
        displayName: line3
        description: Address line 3
        type: string
      city:
        required: false
        displayName: city
        description: City
        type: string
      region:
        required: false
        displayName: region
        description: State, Province, Territory, Canton or Prefecture. From [Universal Postal Union](https://www.upu.int/en/Postal-Solutions/Programmes-Services/Addressing-Solutions#addressing-s42-standard) as of 2-26-2020, [S42 International Address Standards](https://www.upu.int/UPU/media/upu/documents/PostCode/S42_International-Addressing-Standards.pdf). For U.S. addresses can be 2-character code from '#/components/schemas/StateCode'
        type: string
      postalCode:
        required: false
        displayName: postalCode
        description: Postal code
        type: string
        maxLength: 16
      country:
        required: false
        displayName: country
        description: Country code
        type: string
        enum:
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BL
        - BM
        - BN
        - BO
        - BQ
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CU
        - CV
        - CW
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IR
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KP
        - KR
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MF
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - NO
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SD
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - SS
        - ST
        - SV
        - SX
        - SY
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - YE
        - YT
        - ZA
        - ZM
        - ZW
  InvestmentBalanceList:
    displayName: InvestmentBalanceList
    type: object
    properties:
      balanceName:
        required: false
        displayName: balanceName
        description: Name of the balance.
        type: string
      balanceDescription:
        required: false
        displayName: balanceDescription
        description: Description of balance.
        type: string
      balanceType:
        required: false
        displayName: balanceType
        description: The type of an investment balance. AMOUNT or PERCENTAGE.
        type: string
        enum:
        - AMOUNT
        - PERCENTAGE
      balanceValue:
        required: false
        displayName: balanceValue
        description: Value of balance name.
        type: number
        format: double
      balanceDate:
        required: false
        displayName: balanceDate
        description: Date as of this balance.
        type: datetime
      currency:
        required: false
        displayName: currency
        description: Indicates the currency code used by the account. May also include currency rate.
        type: CurrencyEntity
  Businessname:
    displayName: Businessname
    description: Name 1, Name 2
    type: object
    properties:
      name1:
        required: false
        displayName: name1
        description: Name line 1
        type: string
      name2:
        required: false
        displayName: name2
        description: Name line 2
        type: string
  BusinessIncomeStatement:
    displayName: BusinessIncomeStatement
    description: Business Income Statement for IRS Form 1040 Schedule C
    type: object
    properties:
      taxYear:
        required: false
        example:
          value: 2023
        displayName: taxYear
        description: Year for which taxes are being paid
        type: integer
        minimum: 2018
        maximum: 2050
        format: int32
      corrected:
        required: false
        displayName: corrected
        description: True to indicate this is a corrected tax form
        type: boolean
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the source account. Not the account number
        type: string
      taxFormId:
        required: false
        displayName: taxFormId
        description: Long-term persistent id for this tax form. Depending upon the data provider, this may be the same id as the enclosing tax statement id, or this may be a different id, or this id may be omitted.
        type: string
      taxFormDate:
        required: false
        example:
          value: 2021-07-15
        displayName: taxFormDate
        description: Date of production or delivery of the tax form
        type: date-only
      additionalInformation:
        required: false
        displayName: additionalInformation
        description: Additional explanation text or content about this tax form
        type: string
      taxFormType:
        required: false
        displayName: taxFormType
        description: Enumerated name of the tax form entity e.g. "TaxW2"
        type: string
        enum:
        - BusinessIncomeStatement
        - CryptocurrencyTaxStatement
        - FarmIncomeStatement
        - FarmRentalIncomeStatement
        - RentalIncomeStatement
        - RoyaltyIncomeStatement
        - Tax1041K1
        - Tax1042S
        - Tax1065K1
        - Tax1095A
        - Tax1095B
        - Tax1095C
        - Tax1097Btc
        - Tax1098
        - Tax1098C
        - Tax1098E
        - Tax1098Ma
        - Tax1098Q
        - Tax1098T
        - Tax1099A
        - Tax1099B
        - Tax1099C
        - Tax1099Cap
        - Tax1099ConsolidatedStatement
        - Tax1099Div
        - Tax1099G
        - Tax1099H
        - Tax1099Int
        - Tax1099K
        - Tax1099Ls
        - Tax1099Ltc
        - Tax1099Misc
        - Tax1099Nec
        - Tax1099Oid
        - Tax1099Patr
        - Tax1099Q
        - Tax1099Qa
        - Tax1099R
        - Tax1099S
        - Tax1099Sa
        - Tax1099Sb
        - Tax1120SK1
        - Tax2439
        - Tax3921
        - Tax3922
        - Tax5227K1
        - Tax5498
        - Tax5498Esa
        - Tax5498Qa
        - Tax5498Sa
        - TaxW2
        - TaxW2C
        - TaxW2G
      issuer:
        required: false
        displayName: issuer
        description: Issuer's name, address, phone, and TIN. Issuer data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
        type: TaxParty8
      recipient:
        required: false
        displayName: recipient
        description: Recipient's name, address, phone, and TIN. Recipient data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
        type: TaxParty1
      attributes:
        required: false
        example:
          value:
          - name: nameControl
            value: WILC
          - name: recipientIdType
            value: EIN
            code: '1'
          - name: recipientIdType
            value: SSN
            code: '2'
          - name: recipientIdType
            value: ITIN
            code: '2'
          - name: recipientIdType
            value: ATIN
            code: '2'
        displayName: attributes
        description: 'Additional attributes for this tax form when defined fields are not available. Some specific additional attributes already defined by providers: Fields required by [IRS FIRE](https://www.irs.gov/e-file-providers/filing-information-returns-electronically-fire): Name Control, Type of Identification Number (EIN, SSN, ITIN, ATIN). (ATIN is tax ID number for pending adoptions.) Tax form provider field for taxpayer notification: Recipient Email Address.'
        type: array
        items:
          type: TaxFormAttribute
      error:
        required: false
        displayName: error
        description: Present if an error was encountered while retrieving this form
        type: Error2
      links:
        required: false
        displayName: links
        description: Links to retrieve this form as data or image, or to invoke other APIs
        type: array
        items:
          type: HATEOASLink
      businessName:
        required: false
        displayName: businessName
        description: Box C, Business name
        type: string
      sales:
        required: false
        displayName: sales
        description: Box 1, Gross receipts or sales
        type: number
        format: double
      returns:
        required: false
        displayName: returns
        description: Box 2, Returns and allowances
        type: number
        format: double
      otherIncome:
        required: false
        displayName: otherIncome
        description: Box 6, Other income, including federal and state gasoline or fuel tax credit or refund
        type: array
        items:
          type: DescriptionandAmount
      advertising:
        required: false
        displayName: advertising
        description: Box 8, Advertising
        type: number
        format: double
      carAndTruck:
        required: false
        displayName: carAndTruck
        description: Box 9, Car and truck expenses
        type: number
        format: double
      commissions:
        required: false
        displayName: commissions
        description: Box 10, Commissions and fees
        type: number
        format: double
      contractLabor:
        required: false
        displayName: contractLabor
        description: Box 11, Contract labor
        type: number
        format: double
      depletion:
        required: false
        displayName: depletion
        description: Box 12, Depletion
        type: number
        format: double
      depreciation:
        required: false
        displayName: depreciation
        description: Box 13, Depreciation
        type: number
        format: double
      employeeBenefits:
        required: false
        displayName: employeeBenefits
        description: Box 14, Employee benefit programs
        type: number
        format: double
      insurance:
        required: false
        displayName: insurance
        description: Box 15, Insurance
        type: number
        format: double
      mortgageInterest:
        required: false
        displayName: mortgageInterest
        description: Box 16a, Mortgage interest
        type: number
        format: double
      otherInterest:
        required: false
        displayName: otherInterest
        description: Box 16b, Other interest
        type: number
        format: double
      legal:
        required: false
        displayName: legal
        description: Box 17, Legal and professional services
        type: number
        format: double
      office:
        required: false
        displayName: office
        description: Box 18, Office expense
        type: number
        format: double
      pension:
        required: false
        displayName: pension
        description: Box 19, Pension and profit-sharing plans
        type: number
        format: double
      equipmentRent:
        required: false
        displayName: equipmentRent
        description: Box 20a, Equipment rent
        type: number
        format: double
      otherRent:
        required: false
        displayName: otherRent
        description: Box 20b, Other rent
        type: number
        format: double
      repairs:
        required: false
        displayName: repairs
        description: Box 21, Repairs and maintenance
        type: number
        format: double
      supplies:
        required: false
        displayName: supplies
        description: Box 22, Supplies
        type: number
        format: double
      taxes:
        required: false
        displayName: taxes
        description: Box 23, Taxes and licenses
        type: number
        format: double
      travel:
        required: false
        displayName: travel
        description: Box 24a, Travel
        type: number
        format: double
      meals:
        required: false
        displayName: meals
        description: Box 24b, Deductible meals
        type: number
        format: double
      utilities:
        required: false
        displayName: utilities
        description: Box 25, Utilities
        type: number
        format: double
      wages:
        required: false
        displayName: wages
        description: Box 26, Wages
        type: number
        format: double
      otherExpenses:
        required: false
        displayName: otherExpenses
        description: Box 27, Other expenses
        type: array
        items:
          type: DescriptionandAmount
      beginningInventory:
        required: false
        displayName: beginningInventory
        description: Box 35, Inventory at beginning of year
        type: number
        format: double
      purchases:
        required: false
        displayName: purchases
        description: Box 36, Purchases
        type: number
        format: double
      costOfLabor:
        required: false
        displayName: costOfLabor
        description: Box 37, Cost of labor
        type: number
        format: double
      materials:
        required: false
        displayName: materials
        description: Box 38, Materials and supplies
        type: number
        format: double
      otherCosts:
        required: false
        displayName: otherCosts
        description: Box 39, Other costs
        type: array
        items:
          type: DescriptionandAmount
      endingInventory:
        required: false
        displayName: endingInventory
        description: Box 41, Inventory at end of year
        type: number
        format: double
      capitalExpenditures:
        required: false
        displayName: capitalExpenditures
        description: Capital expenditures, for use in calculating Depreciation
        type: array
        items:
          type: DateandAmount
  AnnuityAccount:
    displayName: AnnuityAccount
    description: Annuity Account
    type: object
    properties:
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
        type: string
      accountType:
        required: false
        displayName: accountType
        description: The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
        type: string
      accountNumberDisplay:
        required: false
        displayName: accountNumberDisplay
        description: Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
        type: string
      currency:
        required: false
        displayName: currency
        description: Indicates the currency code used by the account. May also include currency rate.
        type: CurrencyEntity
      description:
        required: false
        displayName: description
        type: string
      fiAttributes:
        required: false
        displayName: fiAttributes
        type: array
        items:
          type: FiAttributeEntity
      nickname:
        required: false
        displayName: nickname
        description: Name given by the user. Used in UIs to assist in account selection
        type: string
      productName:
        required: false
        displayName: productName
        description: Marketed product name for this account.  Used in UIs to assist in account selection
        type: string
      status:
        required: false
        displayName: status
        description: The status of an account.
        type: string
        enum:
        - OPEN
        - CLOSED
        - PENDINGOPEN
        - PENDINGCLOSE
        - DELINQUENT
        - PAID
        - NEGATIVECURRENTBALANCE
      lineOfBusiness:
        required: false
        displayName: lineOfBusiness
        description: The line of business, such as consumer, consumer joint, small business, corporate, etc.
        type: string
      balanceType:
        required: false
        displayName: balanceType
        description: ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
        type: string
        enum:
        - ASSET
        - LIABILITY
      interestRate:
        required: false
        displayName: interestRate
        description: Interest Rate of Account
        type: number
        format: double
      interestRateType:
        required: false
        displayName: interestRateType
        description: The type of interest rate. FIXED or VARIABLE.
        type: string
        enum:
        - FIXED
        - VARIABLE
      interestRateAsOf:
        required: false
        displayName: interestRateAsOf
        description: Date of account’s interest rate
        type: datetime
      lastActivityDate:
        required: false
        displayName: lastActivityDate
        description: Date that last transaction occurred on account
        type: datetime
      micrNumber:
        required: false
        displayName: micrNumber
        description: MICR Number
        type: string
      parentAccountId:
        required: false
        displayName: parentAccountId
        description: Long-term persistent identity of the parent account. This is used to group accounts.
        type: string
      priorInterestRate:
        required: false
        displayName: priorInterestRate
        description: Previous Interest Rate of Account
        type: number
        format: double
      transferIn:
        required: false
        displayName: transferIn
        description: Account is eligible for incoming transfers
        type: boolean
      transferOut:
        required: false
        displayName: transferOut
        description: Account is eligible for outgoing transfers
        type: boolean
      annuityProductType:
        required: false
        displayName: annuityProductType
        type: string
        enum:
        - CURRENCY
        - SHARES
      annuityValueBasis:
        required: false
        displayName: annuityValueBasis
        type: string
        enum:
        - FIXED
        - VARIABLE
      paymentFrequency:
        required: false
        displayName: paymentFrequency
        type: string
        enum:
        - ANNUALLY
        - QUARTERLY
        - MONTHLY
        - WEEKLY
  Annuitybalances:
    displayName: Annuitybalances
    description: Data elements included with balances specific to annuity accounts
    type: object
    properties:
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
        type: string
      accountType:
        required: false
        displayName: accountType
        description: The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
        type: string
      accountNumberDisplay:
        required: false
        displayName: accountNumberDisplay
        description: Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
        type: string
      currency:
        required: false
        displayName: currency
        description: Indicates the currency code used by the account. May also include currency rate.
        type: CurrencyEntity
      description:
        required: false
        displayName: description
        type: string
      fiAttributes:
        required: false
        displayName: fiAttributes
        type: array
        items:
          type: FiAttributeEntity
      nickname:
        required: false
        displayName: nickname
        description: Name given by the user. Used in UIs to assist in account selection
        type: string
      productName:
        required: false
        displayName: productName
        description: Marketed product name for this account.  Used in UIs to assist in account selection
        type: string
      status:
        required: false
        displayName: status
        description: The status of an account.
        type: string
        enum:
        - OPEN
        - CLOSED
        - PENDINGOPEN
        - PENDINGCLOSE
        - DELINQUENT
        - PAID
        - NEGATIVECURRENTBALANCE
      lineOfBusiness:
        required: false
        displayName: lineOfBusiness
        description: The line of business, such as consumer, consumer joint, small business, corporate, etc.
        type: string
      balanceType:
        required: false
        displayName: balanceType
        description: ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
        type: string
        enum:
        - ASSET
        - LIABILITY
      interestRate:
        required: false
        displayName: interestRate
        description: Interest Rate of Account
        type: number
        format: double
      interestRateType:
        required: false
        displayName: interestRateType
        description: The type of interest rate. FIXED or VARIABLE.
        type: string
        enum:
        - FIXED
        - VARIABLE
      interestRateAsOf:
        required: false
        displayName: interestRateAsOf
        description: Date of account’s interest rate
        type: datetime
      lastActivityDate:
        required: false
        displayName: lastActivityDate
        description: Date that last transaction occurred on account
        type: datetime
      micrNumber:
        required: false
        displayName: micrNumber
        description: MICR Number
        type: string
      parentAccountId:
        required: false
        displayName: parentAccountId
        description: Long-term persistent identity of the parent account. This is used to group accounts.
        type: string
      priorInterestRate:
        required: false
        displayName: priorInterestRate
        description: Previous Interest Rate of Account
        type: number
        format: double
      transferIn:
        required: false
        displayName: transferIn
        description: Account is eligible for incoming transfers
        type: boolean
      transferOut:
        required: false
        displayName: transferOut
        description: Account is eligible for outgoing transfers
        type: boolean
      annuityProductType:
        required: false
        displayName: annuityProductType
        type: string
        enum:
        - CURRENCY
        - SHARES
      annuityValueBasis:
        required: false
        displayName: annuityValueBasis
        type: string
        enum:
        - FIXED
        - VARIABLE
      paymentFrequency:
        required: false
        displayName: paymentFrequency
        type: string
        enum:
        - ANNUALLY
        - QUARTERLY
        - MONTHLY
        - WEEKLY
      annualIncrease:
        required: false
        displayName: annualIncrease
        description: Percent or dollar amount of annual payment increase
        type: number
        format: double
      annualIncreaseType:
        required: false
        displayName: annualIncreaseType
        type: string
        enum:
        - FIXED
        - PERCENT
        - DOLLAR
      netPresentValue:
        required: false
        displayName: netPresentValue
        description: Surrender or cash balance value
        type: number
        format: double
      paymentAmount:
        required: false
        displayName: paymentAmount
        description: Amount of the recurring payment
        type: number
        format: double
      paymentEndDate:
        required: false
        displayName: paymentEndDate
        description: Date last payment will be made
        type: datetime
      paymentStartDate:
        required: false
        displayName: paymentStartDate
        description: Date of first payment; could be a future date
        type: datetime
      periodCertainGuarantee:
        required: false
        displayName: periodCertainGuarantee
        type: string
        enum:
        - NO PERIOD CERTAIN
        - 5-YEAR
        - 10-YEAR
        - 20-YEAR
        - 30-YEAR
      totalPaymentCount:
        required: false
        displayName: totalPaymentCount
        description: Total number of payments that will be produced by the annuity
        type: number
        format: double
  CodeandAmount:
    displayName: CodeandAmount
    description: Code and amount pair used on IRS W-2, K-1, etc.
    type: object
    properties:
      code:
        required: false
        displayName: code
        description: Code
        type: string
      amount:
        required: false
        displayName: amount
        description: Amount
        type: number
        format: double
  ContributionEntity:
    displayName: ContributionEntity
    description: Describes how new contributions are distributed among the available securities.
    type: object
    properties:
      securityId:
        required: false
        displayName: securityId
        description: Unique identifier of security
        type: string
      securityIdType:
        required: false
        displayName: securityIdType
        description: Security identifier type
        type: string
        enum:
        - CUSIP
        - ISIN
        - SEDOL
        - SICC
        - VALOR
        - WKN
      employerMatchPercentage:
        required: false
        displayName: employerMatchPercentage
        description: Employer contribution match percentage
        type: number
        format: double
      employerMatchAmount:
        required: false
        displayName: employerMatchAmount
        description: Employer contribution match amount
        type: number
        format: double
      employeePreTaxAmount:
        required: false
        displayName: employeePreTaxAmount
        description: Employee pre‐tax contribution amount
        type: number
        format: double
      employeePreTaxPercentage:
        required: false
        displayName: employeePreTaxPercentage
        description: Employee pre‐tax contribution percentage
        type: number
        format: double
      employeeAfterTaxAmount:
        required: false
        displayName: employeeAfterTaxAmount
        description: Employee after tax contribution amount
        type: number
        format: double
      employeeAfterTaxPercentage:
        required: false
        displayName: employeeAfterTaxPercentage
        description: Employee after tax contribution percentage
        type: number
        format: double
      employeeDeferPreTaxAmount:
        required: false
        displayName: employeeDeferPreTaxAmount
        description: Employee defer pre‐tax contribution match amount
        type: number
        format: double
      employeeDeferPreTaxPercentage:
        required: false
        displayName: employeeDeferPreTaxPercentage
        description: Employee defer pre‐tax contribution match percentage
        type: number
        format: double
      employeeYearToDate:
        required: false
        displayName: employeeYearToDate
        description: Employee total year to date contribution
        type: number
        format: double
      employerYearToDate:
        required: false
        displayName: employerYearToDate
        description: Employer total year to date contribution
        type: number
        format: double
      rolloverContributionPercentage:
        required: false
        displayName: rolloverContributionPercentage
        description: Rollover contribution percentage
        type: number
        format: double
      rolloverContributionAmount:
        required: false
        displayName: rolloverContributionAmount
        description: Rollover contribution Amount
        type: number
        format: double
  Gainorlossfromcryptocurrencytransaction:
    displayName: Gainorlossfromcryptocurrencytransaction
    description: Tax information for a single cryptocurrency transaction. If reported on Form 1099-B, use Tax1099B and SecurityDetail instead of this entity.
    type: object
    properties:
      cryptocurrencyName:
        required: false
        displayName: cryptocurrencyName
        description: Cryptocurrency name (e.g. Bitcoin)
        type: string
      symbol:
        required: false
        displayName: symbol
        description: Cryptocurrency abbreviation or symbol (e.g. BTC)
        type: string
      quantity:
        required: false
        displayName: quantity
        description: Quantity (e.g. 0.0125662)
        type: number
        format: double
      saleDescription:
        required: false
        displayName: saleDescription
        description: Description of property (1099-B box 1a)
        type: string
      dateAcquired:
        required: false
        example:
          value: 2021-07-15
        displayName: dateAcquired
        description: Date acquired (1099-B box 1b)
        type: date-only
      variousDatesAcquired:
        required: false
        displayName: variousDatesAcquired
        description: Acquired on various dates (1099-B box 1b)
        type: boolean
      dateOfSale:
        required: false
        example:
          value: 2021-07-15
        displayName: dateOfSale
        description: Date sold or disposed (1099-B box 1c)
        type: date-only
      salesPrice:
        required: false
        displayName: salesPrice
        description: Proceeds (not price per share, 1099-B box 1d)
        type: number
        format: double
      costBasis:
        required: false
        displayName: costBasis
        description: Cost or other basis (1099-B box 1e)
        type: number
        format: double
      longOrShort:
        required: false
        displayName: longOrShort
        description: LONG or SHORT (1099-B box 2)
        type: string
        enum:
        - LONG
        - SHORT
  CryptocurrencyTaxStatementlist:
    displayName: CryptocurrencyTaxStatementlist
    description: Array of cryptocurrency gains and losses
    type: object
    properties:
      taxYear:
        required: false
        example:
          value: 2023
        displayName: taxYear
        description: Year for which taxes are being paid
        type: integer
        minimum: 2018
        maximum: 2050
        format: int32
      corrected:
        required: false
        displayName: corrected
        description: True to indicate this is a corrected tax form
        type: boolean
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the source account. Not the account number
        type: string
      taxFormId:
        required: false
        displayName: taxFormId
        description: Long-term persistent id for this tax form. Depending upon the data provider, this may be the same id as the enclosing tax statement id, or this may be a different id, or this id may be omitted.
        type: string
      taxFormDate:
        required: false
        example:
          value: 2021-07-15
        displayName: taxFormDate
        description: Date of production or delivery of the tax form
        type: date-only
      additionalInformation:
        required: false
        displayName: additionalInformation
        description: Additional explanation text or content about this tax form
        type: string
      taxFormType:
        required: false
        displayName: taxFormType
        description: Enumerated name of the tax form entity e.g. "TaxW2"
        type: string
        enum:
        - BusinessIncomeStatement
        - CryptocurrencyTaxStatement
        - FarmIncomeStatement
        - FarmRentalIncomeStatement
        - RentalIncomeStatement
        - RoyaltyIncomeStatement
        - Tax1041K1
        - Tax1042S
        - Tax1065K1
        - Tax1095A
        - Tax1095B
        - Tax1095C
        - Tax1097Btc
        - Tax1098
        - Tax1098C
        - Tax1098E
        - Tax1098Ma
        - Tax1098Q
        - Tax1098T
        - Tax1099A
        - Tax1099B
        - Tax1099C
        - Tax1099Cap
        - Tax1099ConsolidatedStatement
        - Tax1099Div
        - Tax1099G
        - Tax1099H
        - Tax1099Int
        - Tax1099K
        - Tax1099Ls
        - Tax1099Ltc
        - Tax1099Misc
        - Tax1099Nec
        - Tax1099Oid
        - Tax1099Patr
        - Tax1099Q
        - Tax1099Qa
        - Tax1099R
        - Tax1099S
        - Tax1099Sa
        - Tax1099Sb
        - Tax1120SK1
        - Tax2439
        - Tax3921
        - Tax3922
        - Tax5227K1
        - Tax5498
        - Tax5498Esa
        - Tax5498Qa
        - Tax5498Sa
        - TaxW2
        - TaxW2C
        - TaxW2G
      issuer:
        required: false
        displayName: issuer
        description: Issuer's name, address, phone, and TIN. Issuer data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
        type: TaxParty8
      recipient:
        required: false
        displayName: recipient
        description: Recipient's name, address, phone, and TIN. Recipient data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
        type: TaxParty1
      attributes:
        required: false
        example:
          value:
          - name: nameControl
            value: WILC
          - name: recipientIdType
            value: EIN
            code: '1'
          - name: recipientIdType
            value: SSN
            code: '2'
          - name: recipientIdType
            value: ITIN
            code: '2'
          - name: recipientIdType
            value: ATIN
            code: '2'
        displayName: attributes
        description: 'Additional attributes for this tax form when defined fields are not available. Some specific additional attributes already defined by providers: Fields required by [IRS FIRE](https://www.irs.gov/e-file-providers/filing-information-returns-electronically-fire): Name Control, Type of Identification Number (EIN, SSN, ITIN, ATIN). (ATIN is tax ID number for pending adoptions.) Tax form provider field for taxpayer notification: Recipient Email Address.'
        type: array
        items:
          type: TaxFormAttribute
      error:
        required: false
        displayName: error
        description: Present if an error was encountered while retrieving this form
        type: Error2
      links:
        required: false
        displayName: links
        description: Links to retrieve this form as data or image, or to invoke other APIs
        type: array
        items:
          type: HATEOASLink
      gainsAndLosses:
        required: false
        displayName: gainsAndLosses
        description: The list of cryptocurrency gains and losses
        type: array
        items:
          type: Gainorlossfromcryptocurrencytransaction
  CurrencyEntity:
    displayName: CurrencyEntity
    description: Indicates the currency code used by the account. May also include currency rate.
    type: object
    properties:
      currencyCode:
        required: false
        displayName: currencyCode
        description: Iso 4217 currency code.
        type: string
      currencyRate:
        required: false
        displayName: currencyRate
        description: Currency rate between original and converted currency.
        type: number
        format: double
      originalCurrencyCode:
        required: false
        displayName: originalCurrencyCode
        description: Iso 4217 currency code.
        type: string
  customer:
    displayName: customer
    description: Represents a customer (end-user)
    type: object
    properties:
      customerId:
        required: false
        displayName: customerId
        description: Long-term persistent identity of the end-user. This identity must be unique to the owning institution
        type: string
      name:
        required: false
        displayName: name
        description: The end-user's name
        type: name
  DebtSecurityEntity:
    displayName: DebtSecurityEntity
    description: Information about the debt security specific to the type of security
    type: object
    properties:
      parValue:
        required: false
        displayName: parValue
        description: Par value amount
        type: number
        format: double
      debtType:
        required: false
        displayName: debtType
        description: Debt type
        type: string
        enum:
        - ASSET
        - COUPON
      debtClass:
        required: false
        displayName: debtClass
        description: Classification of debt
        type: string
        enum:
        - TREASURY
        - MUNICIPAL
        - CORPORATE
        - OTHER
      couponRate:
        required: false
        displayName: couponRate
        description: Bond coupon rate for next closest call date
        type: number
        format: double
      couponDate:
        required: false
        displayName: couponDate
        description: Maturity date for next coupon
        type: datetime
      couponMatureFrequency:
        required: false
        displayName: couponMatureFrequency
        description: When coupons mature
        type: string
        enum:
        - MONTHLY
        - QUARTERLY
        - SEMIANNUAL
        - ANNUAL
        - OTHER
      callPrice:
        required: false
        displayName: callPrice
        description: Bond call price
        type: number
        format: double
      yieldToCall:
        required: false
        displayName: yieldToCall
        description: Yield to next call
        type: number
        format: double
      callDate:
        required: false
        displayName: callDate
        description: Next call date
        type: datetime
      callType:
        required: false
        displayName: callType
        description: Type of next call
        type: string
        enum:
        - CALL
        - PUT
        - PREFUND
        - MATURITY
      yieldToMaturity:
        required: false
        displayName: yieldToMaturity
        description: Yield to maturity
        type: number
        format: double
      bondMaturityDate:
        required: false
        displayName: bondMaturityDate
        description: Bond Maturity date
        type: datetime
  DepositAccount:
    displayName: DepositAccount
    description: Deposit Account
    type: object
    properties:
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
        type: string
      accountType:
        required: false
        displayName: accountType
        description: The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
        type: string
      accountNumberDisplay:
        required: false
        displayName: accountNumberDisplay
        description: Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
        type: string
      currency:
        required: false
        displayName: currency
        description: Indicates the currency code used by the account. May also include currency rate.
        type: CurrencyEntity
      description:
        required: false
        displayName: description
        type: string
      fiAttributes:
        required: false
        displayName: fiAttributes
        type: array
        items:
          type: FiAttributeEntity
      nickname:
        required: false
        displayName: nickname
        description: Name given by the user. Used in UIs to assist in account selection
        type: string
      productName:
        required: false
        displayName: productName
        description: Marketed product name for this account.  Used in UIs to assist in account selection
        type: string
      status:
        required: false
        displayName: status
        description: The status of an account.
        type: string
        enum:
        - OPEN
        - CLOSED
        - PENDINGOPEN
        - PENDINGCLOSE
        - DELINQUENT
        - PAID
        - NEGATIVECURRENTBALANCE
      lineOfBusiness:
        required: false
        displayName: lineOfBusiness
        description: The line of business, such as consumer, consumer joint, small business, corporate, etc.
        type: string
      balanceType:
        required: false
        displayName: balanceType
        description: ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
        type: string
        enum:
        - ASSET
        - LIABILITY
      interestRate:
        required: false
        displayName: interestRate
        description: Interest Rate of Account
        type: number
        format: double
      interestRateType:
        required: false
        displayName: interestRateType
        description: The type of interest rate. FIXED or VARIABLE.
        type: string
        enum:
        - FIXED
        - VARIABLE
      interestRateAsOf:
        required: false
        displayName: interestRateAsOf
        description: Date of account’s interest rate
        type: datetime
      lastActivityDate:
        required: false
        displayName: lastActivityDate
        description: Date that last transaction occurred on account
        type: datetime
      micrNumber:
        required: false
        displayName: micrNumber
        description: MICR Number
        type: string
      parentAccountId:
        required: false
        displayName: parentAccountId
        description: Long-term persistent identity of the parent account. This is used to group accounts.
        type: string
      priorInterestRate:
        required: false
        displayName: priorInterestRate
        description: Previous Interest Rate of Account
        type: number
        format: double
      transferIn:
        required: false
        displayName: transferIn
        description: Account is eligible for incoming transfers
        type: boolean
      transferOut:
        required: false
        displayName: transferOut
        description: Account is eligible for outgoing transfers
        type: boolean
      annualPercentageYield:
        required: false
        displayName: annualPercentageYield
        description: Annual Percentage Yield.
        type: number
        format: double
      term:
        required: false
        displayName: term
        description: Term of CD in months
        type: integer
        format: int32
      maturityDate:
        required: false
        displayName: maturityDate
        description: Maturity date for CDs.
        type: datetime
  Depositbalances:
    displayName: Depositbalances
    description: Data elements included with balances specific to deposit accounts
    type: object
    properties:
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the account. Not an account number. This identity must be unique to the owning institution.
        type: string
      accountType:
        required: false
        displayName: accountType
        description: The type of an account. For instance, CHECKING, SAVINGS, 401K, etc.
        type: string
      accountNumberDisplay:
        required: false
        displayName: accountNumberDisplay
        description: Account display number for the end user’s handle at owning institution. This is to be displayed by the Interface Provider.
        type: string
      currency:
        required: false
        displayName: currency
        description: Indicates the currency code used by the account. May also include currency rate.
        type: CurrencyEntity
      description:
        required: false
        displayName: description
        type: string
      fiAttributes:
        required: false
        displayName: fiAttributes
        type: array
        items:
          type: FiAttributeEntity
      nickname:
        required: false
        displayName: nickname
        description: Name given by the user. Used in UIs to assist in account selection
        type: string
      productName:
        required: false
        displayName: productName
        description: Marketed product name for this account.  Used in UIs to assist in account selection
        type: string
      status:
        required: false
        displayName: status
        description: The status of an account.
        type: string
        enum:
        - OPEN
        - CLOSED
        - PENDINGOPEN
        - PENDINGCLOSE
        - DELINQUENT
        - PAID
        - NEGATIVECURRENTBALANCE
      lineOfBusiness:
        required: false
        displayName: lineOfBusiness
        description: The line of business, such as consumer, consumer joint, small business, corporate, etc.
        type: string
      balanceType:
        required: false
        displayName: balanceType
        description: ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
        type: string
        enum:
        - ASSET
        - LIABILITY
      interestRate:
        required: false
        displayName: interestRate
        description: Interest Rate of Account
        type: number
        format: double
      interestRateType:
        required: false
        displayName: interestRateType
        description: The type of interest rate. FIXED or VARIABLE.
        type: string
        enum:
        - FIXED
        - VARIABLE
      interestRateAsOf:
        required: false
        displayName: interestRateAsOf
        description: Date of account’s interest rate
        type: datetime
      lastActivityDate:
        required: false
        displayName: lastActivityDate
        description: Date that last transaction occurred on account
        type: datetime
      micrNumber:
        required: false
        displayName: micrNumber
        description: MICR Number
        type: string
      parentAccountId:
        required: false
        displayName: parentAccountId
        description: Long-term persistent identity of the parent account. This is used to group accounts.
        type: string
      priorInterestRate:
        required: false
        displayName: priorInterestRate
        description: Previous Interest Rate of Account
        type: number
        format: double
      transferIn:
        required: false
        displayName: transferIn
        description: Account is eligible for incoming transfers
        type: boolean
      transferOut:
        required: false
        displayName: transferOut
        description: Account is eligible for outgoing transfers
        type: boolean
      annualPercentageYield:
        required: false
        displayName: annualPercentageYield
        description: Annual Percentage Yield.
        type: number
        format: double
      term:
        required: false
        displayName: term
        description: Term of CD in months
        type: integer
        format: int32
      maturityDate:
        required: false
        displayName: maturityDate
        description: Maturity date for CDs.
        type: datetime
      balanceAsOf:
        required: false
        displayName: balanceAsOf
        description: As-of date of balances
        type: datetime
      openingDayBalance:
        required: false
        displayName: openingDayBalance
        description: Day's opening fund balance
        type: number
        format: double
      availableBalance:
        required: false
        displayName: availableBalance
        description: Balance of funds available for use
        type: number
        format: double
      interestYtd:
        required: false
        displayName: interestYtd
        description: YTD Interest
        type: number
        format: double
      currentBalance:
        required: false
        displayName: currentBalance
        description: Balance of funds in account
        type: number
        format: double
  depositTransaction:
    displayName: depositTransaction
    description: Deposit transaction
    type: object
    properties:
      accountId:
        required: false
        displayName: accountId
        description: Corresponds to AccountId in Account
        type: string
      amount:
        required: false
        displayName: amount
        description: |
          The amount of money in the account currency.


          If balanceType is `ASSET`:

            1. If `debitCreditMemo` = `DEBIT`, sign is "+" or not present
            2. If `CREDIT`, sign is "-"

          If balanceType is `LIABILITY`:

            1. If `debitCreditMemo` = `DEBIT`, sign is "-"
            2. If `CREDIT`, sign is "+" or not present
        type: number
        format: double
      category:
        required: false
        displayName: category
        description: Transaction category, preferably MCC or SIC.
        type: string
      debitCreditMemo:
        required: false
        displayName: debitCreditMemo
        description: Akoya will ensure that this is correctly populated with one of DEBIT or CREDIT and matches the sign of the status field.
        type: string
        enum:
        - DEBIT
        - CREDIT
      description:
        required: false
        displayName: description
        description: The description of the transaction
        type: string
      imageIds:
        required: false
        displayName: imageIds
        description: Array of image identifiers (unique to transaction) used to retrieve images of check or transaction receipt.
        type: array
        items:
          type: string
      fiAttributes:
        required: false
        displayName: fiAttributes
        description: Array of FI-specific attributes
        type: array
        uniqueItems: true
        minItems: 1
        items:
          type: FiAttributeEntity
      foreignAmount:
        required: false
        displayName: foreignAmount
        description: The amount of money in the foreign currency
        type: number
        format: double
      foreignCurrency:
        required: false
        displayName: foreignCurrency
        description: The ISO 4217 code of the foreign currency
        type: string
      lineItem:
        required: false
        displayName: lineItem
        description: Breakdown of the transaction details
        type: array
        items:
          type: LineItem
      links:
        required: false
        displayName: links
        description: Links (unique to this Transaction) used to retrieve images of checks or transaction receipts, or invoke other APIs
        type: array
        items:
          type: HATEOASLink
      memo:
        required: false
        displayName: memo
        description: Secondary transaction description
        type: string
      postedTimestamp:
        required: false
        displayName: postedTimestamp
        description: The date and time that the transaction was posted to the account. If not provided then TransactionTimestamp can be used as PostedTimeStamp.
        type: datetime
      reference:
        required: false
        displayName: reference
        description: A tracking reference identifier
        type: string
      referenceTransactionId:
        required: false
        displayName: referenceTransactionId
        description: |
          Akoya ensures that this field is populated for all transactions which are reversals, otherwise it is null. Either way it is always present.


          For reverse postings, the identity of the transaction being reversed. For the correction transaction, the identity of the reversing post. For credit card posting transactions, the identity of the authorization transaction.
        type: string
      status:
        required: false
        displayName: status
        description: AUTHORIZATION, MEMO, PENDING, or POSTED
        type: string
        enum:
        - PENDING
        - MEMO
        - POSTED
        - AUTHORIZATION
      subCategory:
        required: false
        displayName: subCategory
        description: Transaction category detail
        type: string
      transactionId:
        required: false
        displayName: transactionId
        description: "Long term persistent identity of the transaction (unique to account). \nTransaction IDs should: \n\n  1. be the same for pending and posted \n  2. be different for reversed transactions \n  3. `referenceTransactionId` should be present for reversed transactions'"
        type: string
      transactionTimestamp:
        required: false
        displayName: transactionTimestamp
        description: |
          The date and time that the transaction was added to the server backend systems.


          Akoya ensures that this field is populated for all transactions to which it applies, otherwise it is null. Either way it is always present.
        type: datetime
      payee:
        required: false
        displayName: payee
        description: Payee name
        type: string
      checkNumber:
        required: false
        displayName: checkNumber
        description: Check Number
        type: integer
        format: int32
      transactionType:
        required: false
        displayName: transactionType
        description: DepositTransaction Type
        type: string
        enum:
        - CHECK
        - WITHDRAWAL
        - TRANSFER
        - POSDEBIT
        - ATMWITHDRAWAL
        - BILLPAYMENT
        - FEE
        - DEPOSIT
        - ADJUSTMENT
        - INTEREST
        - DIVIDEND
        - DIRECTDEPOSIT
        - ATMDEPOSIT
        - POSCREDIT
  DateandAmount:
    displayName: DateandAmount
    description: Date, description, and amount. When used in 1098-Q, description is optional
    type: object
    properties:
      date:
        required: false
        example:
          value: 2021-07-15
        displayName: date
        description: Date of amount. When used in 1098-Q, date of last payment in month
        type: date-only
      description:
        required: false
        displayName: description
        description: Description of amount. When used in 1098-Q, may use MonthAbbreviation
        type: string
      amount:
        required: false
        displayName: amount
        description: Amount of payment or receipt. When used in 1098-Q, monthly total
        type: number
        format: double
  DescriptionandAmount:
    displayName: DescriptionandAmount
    description: Description and amount pair used on IRS W-2, etc.
    type: object
    properties:
      description:
        required: false
        displayName: description
        description: Description
        type: string
      amount:
        required: false
        displayName: amount
        description: Amount
        type: number
        format: double
  equityGrant:
    displayName: equityGrant
    type: object
    properties:
      grantId:
        required: false
        displayName: grantId
        description: Unique identifier of grant
        type: string
      grantDate:
        required: false
        displayName: grantDate
        description: Date grant was given
        type: datetime
      grantType:
        required: false
        displayName: grantType
        description: Type of grant
        type: string
      seqNum:
        required: false
        displayName: seqNum
        type: number
        format: double
      grantPrice:
        required: false
        displayName: grantPrice
        description: Grant price
        type: number
        format: double
      grantCurrencyCode:
        required: false
        displayName: grantCurrencyCode
        description: Indicates the currency of grant USD vs AUD vs EUR etc (for share awards, you will still get a USD)
        type: string
      quantityGranted:
        required: false
        displayName: quantityGranted
        description: Number of options
        type: number
        format: double
      quantityOutstanding:
        required: false
        displayName: quantityOutstanding
        type: number
        format: double
      expirationDate:
        required: false
        displayName: expirationDate
        description: Date grant expires
        type: datetime
      vestings:
        required: false
        displayName: vestings
        description: An array of equityGrant vestings. Provides the past, present, and future vesting schedule and percentages.
        type: array
        items:
          type: vesting
  Error:
    displayName: Error
    description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
    type: object
    properties:
      code:
        required: false
        displayName: code
        description: Error code defined by FDX API Specification or Data Provider indicating the error situation which has occurred
        type: integer
        format: int32
      message:
        required: false
        displayName: message
        description: End user displayable information which might help the customer diagnose an error
        type: string
      debugMessage:
        required: false
        displayName: debugMessage
        description: Message used to debug the root cause of the error. Contents should not be used in consumer's business logic. Can change at any time and should only be used for consumer to communicate with the data provider about an issue. Provider can include an error GUID in message for their use.
        type: string
  FarmIncomeStatement:
    displayName: FarmIncomeStatement
    description: Farm Income Statement for IRS Form 1040 Schedule F
    type: object
    properties:
      taxYear:
        required: false
        example:
          value: 2023
        displayName: taxYear
        description: Year for which taxes are being paid
        type: integer
        minimum: 2018
        maximum: 2050
        format: int32
      corrected:
        required: false
        displayName: corrected
        description: True to indicate this is a corrected tax form
        type: boolean
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the source account. Not the account number
        type: string
      taxFormId:
        required: false
        displayName: taxFormId
        description: Long-term persistent id for this tax form. Depending upon the data provider, this may be the same id as the enclosing tax statement id, or this may be a different id, or this id may be omitted.
        type: string
      taxFormDate:
        required: false
        example:
          value: 2021-07-15
        displayName: taxFormDate
        description: Date of production or delivery of the tax form
        type: date-only
      additionalInformation:
        required: false
        displayName: additionalInformation
        description: Additional explanation text or content about this tax form
        type: string
      taxFormType:
        required: false
        displayName: taxFormType
        description: Enumerated name of the tax form entity e.g. "TaxW2"
        type: string
        enum:
        - BusinessIncomeStatement
        - CryptocurrencyTaxStatement
        - FarmIncomeStatement
        - FarmRentalIncomeStatement
        - RentalIncomeStatement
        - RoyaltyIncomeStatement
        - Tax1041K1
        - Tax1042S
        - Tax1065K1
        - Tax1095A
        - Tax1095B
        - Tax1095C
        - Tax1097Btc
        - Tax1098
        - Tax1098C
        - Tax1098E
        - Tax1098Ma
        - Tax1098Q
        - Tax1098T
        - Tax1099A
        - Tax1099B
        - Tax1099C
        - Tax1099Cap
        - Tax1099ConsolidatedStatement
        - Tax1099Div
        - Tax1099G
        - Tax1099H
        - Tax1099Int
        - Tax1099K
        - Tax1099Ls
        - Tax1099Ltc
        - Tax1099Misc
        - Tax1099Nec
        - Tax1099Oid
        - Tax1099Patr
        - Tax1099Q
        - Tax1099Qa
        - Tax1099R
        - Tax1099S
        - Tax1099Sa
        - Tax1099Sb
        - Tax1120SK1
        - Tax2439
        - Tax3921
        - Tax3922
        - Tax5227K1
        - Tax5498
        - Tax5498Esa
        - Tax5498Qa
        - Tax5498Sa
        - TaxW2
        - TaxW2C
        - TaxW2G
      issuer:
        required: false
        displayName: issuer
        description: Issuer's name, address, phone, and TIN. Issuer data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
        type: TaxParty8
      recipient:
        required: false
        displayName: recipient
        description: Recipient's name, address, phone, and TIN. Recipient data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
        type: TaxParty1
      attributes:
        required: false
        example:
          value:
          - name: nameControl
            value: WILC
          - name: recipientIdType
            value: EIN
            code: '1'
          - name: recipientIdType
            value: SSN
            code: '2'
          - name: recipientIdType
            value: ITIN
            code: '2'
          - name: recipientIdType
            value: ATIN
            code: '2'
        displayName: attributes
        description: 'Additional attributes for this tax form when defined fields are not available. Some specific additional attributes already defined by providers: Fields required by [IRS FIRE](https://www.irs.gov/e-file-providers/filing-information-returns-electronically-fire): Name Control, Type of Identification Number (EIN, SSN, ITIN, ATIN). (ATIN is tax ID number for pending adoptions.) Tax form provider field for taxpayer notification: Recipient Email Address.'
        type: array
        items:
          type: TaxFormAttribute
      error:
        required: false
        displayName: error
        description: Present if an error was encountered while retrieving this form
        type: Error2
      links:
        required: false
        displayName: links
        description: Links to retrieve this form as data or image, or to invoke other APIs
        type: array
        items:
          type: HATEOASLink
      cropOrActivity:
        required: false
        displayName: cropOrActivity
        description: Box A, Principal crop or activity
        type: string
      sales:
        required: false
        displayName: sales
        description: Box 1a, Sales of livestock and other resale items
        type: number
        format: double
      costOfItemsSold:
        required: false
        displayName: costOfItemsSold
        description: Box 1b, Cost or other basis of livestock or other items
        type: number
        format: double
      salesOfRaised:
        required: false
        displayName: salesOfRaised
        description: Box 2, Sales of livestock, produce, grains, and other products you raised
        type: number
        format: double
      coopDistributions:
        required: false
        displayName: coopDistributions
        description: Box 3a, Cooperative distributions
        type: number
        format: double
      agProgramPayments:
        required: false
        displayName: agProgramPayments
        description: Box 4a, Agricultural program payments
        type: number
        format: double
      cccLoans:
        required: false
        displayName: cccLoans
        description: Box 5a, Commodity Credit Corporation (CCC) loans reported under election
        type: number
        format: double
      cropInsuranceProceeds:
        required: false
        displayName: cropInsuranceProceeds
        description: Box 6a, Crop insurance proceeds and federal crop disaster payments
        type: number
        format: double
      customHireIncome:
        required: false
        displayName: customHireIncome
        description: Box 7, Custom hire (machine work) income
        type: number
        format: double
      otherIncome:
        required: false
        displayName: otherIncome
        description: Box 8, Other income
        type: array
        items:
          type: DescriptionandAmount
      carAndTruck:
        required: false
        displayName: carAndTruck
        description: Box 10, Car and truck expenses
        type: number
        format: double
      chemicals:
        required: false
        displayName: chemicals
        description: Box 11, Chemicals
        type: number
        format: double
      conservation:
        required: false
        displayName: conservation
        description: Box 12, Conservation expenses
        type: number
        format: double
      customHireExpenses:
        required: false
        displayName: customHireExpenses
        description: Box 13, Custom hire (machine work)
        type: number
        format: double
      depreciation:
        required: false
        displayName: depreciation
        description: Box 14, Depreciation
        type: number
        format: double
      employeeBenefitPrograms:
        required: false
        displayName: employeeBenefitPrograms
        description: Box 15, Employee benefit programs
        type: number
        format: double
      feed:
        required: false
        displayName: feed
        description: Box 16, Feed
        type: number
        format: double
      fertilizers:
        required: false
        displayName: fertilizers
        description: Box 17, Fertilizers and lime
        type: number
        format: double
      freight:
        required: false
        displayName: freight
        description: Box 18, Freight and trucking
        type: number
        format: double
      fuel:
        required: false
        displayName: fuel
        description: Box 19, Gasoline, fuel, and oil
        type: number
        format: double
      insurance:
        required: false
        displayName: insurance
        description: Box 20, Insurance (other than health)
        type: number
        format: double
      mortgageInterest:
        required: false
        displayName: mortgageInterest
        description: Box 21a, Mortgage Interest
        type: number
        format: double
      otherInterest:
        required: false
        displayName: otherInterest
        description: Box 21b, Other interest
        type: number
        format: double
      laborHired:
        required: false
        displayName: laborHired
        description: Box 22, Labor hired
        type: number
        format: double
      pension:
        required: false
        displayName: pension
        description: Box 23, Pension and profit-sharing plans
        type: number
        format: double
      equipmentRent:
        required: false
        displayName: equipmentRent
        description: 'Box 24a, Rent or lease: Vehicles, machinery, equipment'
        type: number
        format: double
      otherRent:
        required: false
        displayName: otherRent
        description: 'Box 24b, Rent or lease: Other'
        type: number
        format: double
      repairs:
        required: false
        displayName: repairs
        description: Box 25, Repairs and maintenance
        type: number
        format: double
      seeds:
        required: false
        displayName: seeds
        description: Box 26, Seeds and plants
        type: number
        format: double
      storage:
        required: false
        displayName: storage
        description: Box 27, Storage and warehousing
        type: number
        format: double
      supplies:
        required: false
        displayName: supplies
        description: Box 28, Supplies
        type: number
        format: double
      taxes:
        required: false
        displayName: taxes
        description: Box 29, Taxes
        type: number
        format: double
      utilities:
        required: false
        displayName: utilities
        description: Box 30, Utilities
        type: number
        format: double
      veterinary:
        required: false
        displayName: veterinary
        description: Box 31, Veterinary, breeding, and medicine
        type: number
        format: double
      otherExpenses:
        required: false
        displayName: otherExpenses
        description: Box 32, Other expenses
        type: array
        items:
          type: DescriptionandAmount
      capitalExpenditures:
        required: false
        displayName: capitalExpenditures
        description: Capital expenditures, for use in calculating Depreciation
        type: array
        items:
          type: DateandAmount
  FarmRentalIncomeStatement:
    displayName: FarmRentalIncomeStatement
    description: Farm Rental Income Statement for IRS Form 4835
    type: object
    properties:
      taxYear:
        required: false
        example:
          value: 2023
        displayName: taxYear
        description: Year for which taxes are being paid
        type: integer
        minimum: 2018
        maximum: 2050
        format: int32
      corrected:
        required: false
        displayName: corrected
        description: True to indicate this is a corrected tax form
        type: boolean
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the source account. Not the account number
        type: string
      taxFormId:
        required: false
        displayName: taxFormId
        description: Long-term persistent id for this tax form. Depending upon the data provider, this may be the same id as the enclosing tax statement id, or this may be a different id, or this id may be omitted.
        type: string
      taxFormDate:
        required: false
        example:
          value: 2021-07-15
        displayName: taxFormDate
        description: Date of production or delivery of the tax form
        type: date-only
      additionalInformation:
        required: false
        displayName: additionalInformation
        description: Additional explanation text or content about this tax form
        type: string
      taxFormType:
        required: false
        displayName: taxFormType
        description: Enumerated name of the tax form entity e.g. "TaxW2"
        type: string
        enum:
        - BusinessIncomeStatement
        - CryptocurrencyTaxStatement
        - FarmIncomeStatement
        - FarmRentalIncomeStatement
        - RentalIncomeStatement
        - RoyaltyIncomeStatement
        - Tax1041K1
        - Tax1042S
        - Tax1065K1
        - Tax1095A
        - Tax1095B
        - Tax1095C
        - Tax1097Btc
        - Tax1098
        - Tax1098C
        - Tax1098E
        - Tax1098Ma
        - Tax1098Q
        - Tax1098T
        - Tax1099A
        - Tax1099B
        - Tax1099C
        - Tax1099Cap
        - Tax1099ConsolidatedStatement
        - Tax1099Div
        - Tax1099G
        - Tax1099H
        - Tax1099Int
        - Tax1099K
        - Tax1099Ls
        - Tax1099Ltc
        - Tax1099Misc
        - Tax1099Nec
        - Tax1099Oid
        - Tax1099Patr
        - Tax1099Q
        - Tax1099Qa
        - Tax1099R
        - Tax1099S
        - Tax1099Sa
        - Tax1099Sb
        - Tax1120SK1
        - Tax2439
        - Tax3921
        - Tax3922
        - Tax5227K1
        - Tax5498
        - Tax5498Esa
        - Tax5498Qa
        - Tax5498Sa
        - TaxW2
        - TaxW2C
        - TaxW2G
      issuer:
        required: false
        displayName: issuer
        description: Issuer's name, address, phone, and TIN. Issuer data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
        type: TaxParty8
      recipient:
        required: false
        displayName: recipient
        description: Recipient's name, address, phone, and TIN. Recipient data need only be transmitted on enclosing TaxStatement, if it is the same on all its included tax forms.
        type: TaxParty1
      attributes:
        required: false
        example:
          value:
          - name: nameControl
            value: WILC
          - name: recipientIdType
            value: EIN
            code: '1'
          - name: recipientIdType
            value: SSN
            code: '2'
          - name: recipientIdType
            value: ITIN
            code: '2'
          - name: recipientIdType
            value: ATIN
            code: '2'
        displayName: attributes
        description: 'Additional attributes for this tax form when defined fields are not available. Some specific additional attributes already defined by providers: Fields required by [IRS FIRE](https://www.irs.gov/e-file-providers/filing-information-returns-electronically-fire): Name Control, Type of Identification Number (EIN, SSN, ITIN, ATIN). (ATIN is tax ID number for pending adoptions.) Tax form provider field for taxpayer notification: Recipient Email Address.'
        type: array
        items:
          type: TaxFormAttribute
      error:
        required: false
        displayName: error
        description: Present if an error was encountered while retrieving this form
        type: Error2
      links:
        required: false
        displayName: links
        description: Links to retrieve this form as data or image, or to invoke other APIs
        type: array
        items:
          type: HATEOASLink
      incomeFromProduction:
        required: false
        displayName: incomeFromProduction
        description: Box 1, Income from production of livestock, produce, grains, and other crops
        type: number
        format: double
      coopDistributions:
        required: false
        displayName: coopDistributions
        description: Box 2a, Cooperative distributions
        type: number
        format: double
      agProgramPayments:
        required: false
        displayName: agProgramPayments
        description: Box 3a, Agricultural program payments
        type: number
        format: double
      cccLoans:
        required: false
        displayName: cccLoans
        description: Box 4a, Commodity Credit Corporation (CCC) loans reported under election
        type: number
        format: double
      cropInsuranceProceeds:
        required: false
        displayName: cropInsuranceProceeds
        description: Box 5a, Crop insurance proceeds and federal crop disaster payments
        type: number
        format: double
      otherIncome:
        required: false
        displayName: otherIncome
        description: Box 6, Other income
        type: array
        items:
          type: DescriptionandAmount
      carAndTruck:
        required: false
        displayName: carAndTruck
        description: Box 8, Car and truck expenses
        type: number
        format: double
      chemicals:
        required: false
        displayName: chemicals
        description: Box 9, Chemicals
        type: number
        format: double
      conservation:
        required: false
        displayName: conservation
        description: Box 10, Conservation expenses
        type: number
        format: double
      customHireExpenses:
        required: false
        displayName: customHireExpenses
        description: Box 11, Custom hire (machine work)
        type: number
        format: double
      depreciation:
        required: false
        displayName: depreciation
        description: Box 12, Depreciation
        type: number
        format: double
      employeeBenefitPrograms:
        required: false
        displayName: employeeBenefitPrograms
        description: Box 13, Employee benefit programs
        type: number
        format: double
      feed:
        required: false
        displayName: feed
        description: Box 14, Feed
        type: number
        format: double
      fertilizers:
        required: false
        displayName: fertilizers
        description: Box 15, Fertilizers and lime
        type: number
        format: double
      freight:
        required: false
        displayName: freight
        description: Box 16, Freight and trucking
        type: number
        format: double
      fuel:
        required: false
        displayName: fuel
        description: Box 17, Gasoline, fuel, and oil
        type: number
        format: double
      insurance:
        required: false
        displayName: insurance
        description: Box 18, Insurance (other than health)
        type: number
        format: double
      mortgageInterest:
        required: false
        displayName: mortgageInterest
        description: Box 19a, Mortgage Interest
        type: number
        format: double
      otherInterest:
        required: false
        displayName: otherInterest
        description: Box 19b, Other interest
        type: number
        format: double
      laborHired:
        required: false
        displayName: laborHired
        description: Box 20, Labor hired
        type: number
        format: double
      pension:
        required: false
        displayName: pension
        description: Box 21, Pension and profit-sharing plans
        type: number
        format: double
      equipmentRent:
        required: false
        displayName: equipmentRent
        description: 'Box 22a, Rent or lease: Vehicles, machinery, equipment'
        type: number
        format: double
      otherRent:
        required: false
        displayName: otherRent
        description: 'Box 22b, Rent or lease: Other'
        type: number
        format: double
      repairs:
        required: false
        displayName: repairs
        description: Box 23, Repairs and maintenance
        type: number
        format: double
      seeds:
        required: false
        displayName: seeds
        description: Box 24, Seeds and plants
        type: number
        format: double
      storage:
        required: false
        displayName: storage
        description: Box 25, Storage and warehousing
        type: number
        format: double
      supplies:
        required: false
        displayName: supplies
        description: Box 26, Supplies
        type: number
        format: double
      taxes:
        required: false
        displayName: taxes
        description: Box 27, Taxes
        type: number
        format: double
      utilities:
        required: false
        displayName: utilities
        description: Box 28, Utilities
        type: number
        format: double
      veterinary:
        required: false
        displayName: veterinary
        description: Box 29, Veterinary, breeding, and medicine
        type: number
        format: double
      otherExpenses:
        required: false
        displayName: otherExpenses
        description: Box 30, Other expenses
        type: array
        items:
          type: DescriptionandAmount
      capitalExpenditures:
        required: false
        displayName: capitalExpenditures
        description: Capital expenditures, for use in calculating Depreciation
        type: array
        items:
          type: DateandAmount
  FiAttributeEntity:
    displayName: FiAttributeEntity
    description: Data provider-specific attribute
    type: object
    properties:
      name:
        required: false
        displayName: name
        description: Name of attribute
        type: string
      value:
        required: false
        displayName: value
        description: Value of attribute
        type: string
  Form1042-SAgent:
    displayName: Form1042-SAgent
    description: |
      One of various persons or businesses involved in Form 1042-S reporting. Use
        * `tin` for
          * Box 12a, Withholding Agent EIN,
          * Box 13e, Recipient U.S. TIN,
          * Box 14b, Primary Withholding Agent EIN,
          * Box 15a, Intermediary or flow-through entity EIN,
          * Box 16b, Payer TIN
        * `individualName` or `businessName` for
          * Box 12d, Withholding Agent name,
          * Box 13a, Recipient name,
          * Box 14a, Primary Withholding Agent name,
          * Box 15d, Intermediary or flow-through entity name,
          * Box 16a, Payer name
        * `address.country` for
          * Box 12f, Withholding Agent Country code,
          * Box 13b, Recipient Country code,
          * Box 15f, Intermediary or flow-through entity Country code
        * `address` for
          * Boxes 12h-i, Withholding Agent Address,
          * Boxes 13c-d, Recipient Address,
          * Boxes 15h-i, Intermediary or flow-through entity Address
    type: object
    properties:
      tin:
        required: false
        displayName: tin
        description: Issuer or recipient Tax Identification Number. Usually EIN for issuer and SSN for recipient
        type: string
      partyType:
        required: false
        displayName: partyType
        description: Type of issuer or recipient legal entity, as "BUSINESS" or "INDIVIDUAL". Commonly BUSINESS for issuer and INDIVIDUAL for recipient
        type: string
        enum:
        - BUSINESS
        - INDIVIDUAL
      individualName:
        required: false
        displayName: individualName
        description: Individual issuer or recipient name
        type: Individualname4
      businessName:
        required: false
        displayName: businessName
        description: Business issuer or recipient name
        type: Businessname1
      address:
        required: false
        displayName: address
        description: Issuer or recipient address
        type: Address1
      phone:
        required: false
        displayName: phone
        description: Issuer or recipient telephone number
        type: TelephoneNumberPlusExtension4
      email:
        required: false
        displayName: email
        description: Issuer or recipient email address. (Additional information, not part of IRS forms)
        type: string
      ch3StatusCode:
        required: false
        displayName: ch3StatusCode
        description: |
          Ch. 3 status code,
            * Box 12b, Withholding Agent,
            * Box 13f, Recipient,
            * Box 15b, Intermediary or flow-through entity,
            * Box 16d, Payer
        type: string
      ch4StatusCode:
        required: false
        displayName: ch4StatusCode
        description: |
          Ch. 4 status code,
            * Box 12c, Withholding Agent,
            * Box 13g, Recipient,
            * Box 15c, Intermediary or flow-through entity,
            * Box 16e, Payer
        type: string
      giin:
        required: false
        displayName: giin
        description: |
          Agent's Global Intermediary Identification Number (GIIN),
            * Box 12e, Withholding Agent,
            * Box 13h, Recipient,
            * Box 15e, Intermediary or flow-through entity,
            * Box 16c, Payer
        type: string
      foreignTin:
        required: false
        displayName: foreignTin
        description: |
          Foreign tax identification number, if any,
            * Box 12g, Withholding Agent,
            * Box 13i, Recipient,
            * Box 15g, Intermediary or flow-through entity
        type: string
  Form1042-SRecipient:
    displayName: Form1042-SRecipient
    description: Recipient for Form 1042-S, Boxes 13a-j, 13l
    type: object
    properties:
      tin:
        required: false
        displayName: tin
        description: Issuer or recipient Tax Identification Number. Usually EIN for issuer and SSN for recipient
        type: string
      partyType:
        required: false
        displayName: partyType
        description: Type of issuer or recipient legal entity, as "BUSINESS" or "INDIVIDUAL". Commonly BUSINESS for issuer and INDIVIDUAL for recipient
        type: string
        enum:
        - BUSINESS
        - INDIVIDUAL
      individualName:
        required: false
        displayName: individualName
        description: Individual issuer or recipient name
        type: Individualname4
      businessName:
        required: false
        displayName: businessName
        description: Business issuer or recipient name
        type: Businessname1
      address:
        required: false
        displayName: address
        description: Issuer or recipient address
        type: Address1
      phone:
        required: false
        displayName: phone
        description: Issuer or recipient telephone number
        type: TelephoneNumberPlusExtension4
      email:
        required: false
        displayName: email
        description: Issuer or recipient email address. (Additional information, not part of IRS forms)
        type: string
      ch3StatusCode:
        required: false
        displayName: ch3StatusCode
        description: |
          Ch. 3 status code,
            * Box 12b, Withholding Agent,
            * Box 13f, Recipient,
            * Box 15b, Intermediary or flow-through entity,
            * Box 16d, Payer
        type: string
      ch4StatusCode:
        required: false
        displayName: ch4StatusCode
        description: |
          Ch. 4 status code,
            * Box 12c, Withholding Agent,
            * Box 13g, Recipient,
            * Box 15c, Intermediary or flow-through entity,
            * Box 16e, Payer
        type: string
      giin:
        required: false
        displayName: giin
        description: |
          Agent's Global Intermediary Identification Number (GIIN),
            * Box 12e, Withholding Agent,
            * Box 13h, Recipient,
            * Box 15e, Intermediary or flow-through entity,
            * Box 16c, Payer
        type: string
      foreignTin:
        required: false
        displayName: foreignTin
        description: |
          Foreign tax identification number, if any,
            * Box 12g, Withholding Agent,
            * Box 13i, Recipient,
            * Box 15g, Intermediary or flow-through entity
        type: string
      lobCode:
        required: false
        displayName: lobCode
        description: Box 13j, Recipient's LOB code, if any
        type: string
      dateOfBirth:
        required: false
        example:
          value: 2021-07-15
        displayName: dateOfBirth
        description: Box 13l, Recipient's date of birth
        type: date-only
  HATEOASLink:
    displayName: HATEOASLink
    description: REST application constraint (Hypermedia As The Engine Of Application State)
    type: object
    properties:
      href:
        required: true
        example:
          value: https://api.fi.com/fdx/v4/accounts/12345
        displayName: href
        description: URL to invoke the action on the resource
        type: string
      action:
        required: false
        displayName: action
        description: HTTP Method to use for the request
        type: string
        enum:
        - GET
        - POST
        - PATCH
        - DELETE
        - PUT
      types:
        required: false
        displayName: types
        description: Content-types that can be used in the Accept header.
        type: array
        items:
          type: string
          enum:
          - application/pdf
          - image/gif
          - image/jpeg
          - image/tiff
          - image/png
          - application/json
  HealthInsuranceCoverage:
    displayName: HealthInsuranceCoverage
    description: Used on Form 1095-A Part III
    type: object
    properties:
      enrollmentPremium:
        required: false
        displayName: enrollmentPremium
        description: Monthly enrollment premiums
        type: number
        format: double
      slcspPremium:
        required: false
        displayName: slcspPremium
        description: Monthly second lowest cost silver plan (SLCSP) premium
        type: number
        format: double
      advancePremiumTaxCreditPayment:
        required: false
        displayName: advancePremiumTaxCreditPayment
        description: Monthly advance payment of premium tax credit
        type: number
        format: double
      month:
        required: false
        displayName: month
        description: Month of coverage
        type: string
        enum:
        - ANNUAL
        - JANUARY
        - FEBRUARY
        - MARCH
        - APRIL
        - MAY
        - JUNE
        - JULY
        - AUGUST
        - SEPTEMBER
        - OCTOBER
        - NOVEMBER
        - DECEMBER
  HealthInsuranceCoveredIndividual:
    displayName: HealthInsuranceCoveredIndividual
    description: Used on Form 1095-B Part IV and Form 1095-C Part III
    type: object
    properties:
      name:
        required: false
        displayName: name
        description: Name of responsible individual
        type: Individualname1
      tin:
        required: false
        displayName: tin
        description: Social security number or other TIN
        type: string
      dateOfBirth:
        required: false
        example:
          value: 2021-07-15
        displayName: dateOfBirth
        description: Date of birth
        type: date-only
      coveredAll12Months:
        required: false
        displayName: coveredAll12Months
        description: Covered all 12 months
        type: boolean
      coveredMonths:
        required: false
        displayName: coveredMonths
        description: Months covered
        type: array
        items:
          type: string
          enum:
          - JAN
          - FEB
          - MAR
          - APR
          - MAY
          - JUN
          - JUL
          - AUG
          - SEP
          - OCT
          - NOV
[...]
